.cashSaleContainer {
	margin-top: 50px;
	font-weight: 200;
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs {
	position: fixed;
	z-index: 999;
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL {
	list-style: none;
	display: inline-table;
	padding-left: 0;
	margin-bottom: 0;
	background: var(--bp-blue);
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li {
	display: inline;
}

.bp-autocomplete-dropdown-wrapper {
	display: none;
}

.default-text {
	position: relative;
	top: -6px;
}

.tax-code-warining {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li:not(:first-child) {
	width: 15.2777777%;
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL .tax-code-include-li:not(:first-child) {
	width: 13.0952%;
}

.AccountingContent .leftPanel .ChartOfAccounts .tax-code-mapping-container .BtnContainer {
	width: auto;
}

.AccountingContent .leftPanel .ChartOfAccounts .tax-code-mapping-container .DetailContainer .DetailValue {
	width: 100%;
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li a {
	display: block;
	min-height: 56px;
	background: var(--bp-blue-dark);
	text-align: center;
	padding: 16px 0 0;
	position: relative;
	font-size: 16px;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.71);
	width: 100%;
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li a:hover {
	color: white !important;
}

.service-job-type-modal-window .bp-autocomplete-dropdown-wrapper ul li .bp-autocomplete-text {
	color: var(--dark-grey1);
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li .backBtn {
	cursor: pointer;
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li:last-child a {
	border-right: none;
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li .activeChevron {
	background: var(--bp-blue);
	color: var(--white);
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li .disableChevron {
	color: var(--bp-blue-hover);
	pointer-events: none;
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li:not(:last-child) {
	border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li a:after,
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li a:before {
	display: none;
}

.cashSaleCrumbs ul li a .fa {
	font-size: 14px;
	margin-right: 5px;
}

.p0 {
	padding: 0;
}

.M0 {
	margin: 0;
}

.cashSaleContainer .cashSaleCopyright {
	min-height: 45px;
	background: var(--light-grey2);
	color: var(--grey);
	text-align: center;
	padding-top: 14px;
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.cashSaleContainer .cashSaleCopyright p a {
	color: var(--grey);
	cursor: pointer;
	text-decoration: none;
	margin-left: 15px;
}

.cashSaleContainer .AccountingContent {
	background: var(--light-grey4);
	margin-top: 56px;
}

.AccountingContent .leftPanel {
	width: 74.5%;
	float: left;
	padding: 0;
}

.AccountingContent .leftPanel .AccountingProvider,
.AccountingContent .leftPanel .ChartOfAccounts,
.AccountingContent .leftPanel .ControlAccounts,
.AccountingContent .leftPanel .DefaultAccounts,
.AccountingContent .leftPanel .CategoriesSection {
	width: 100%;
	padding-left: 65px;
	padding-right: 40px;
	float: left;
}

.AccountingContent .leftPanel .CategoriesSection {
	margin-bottom: 100px;
}

.AccountingContent .leftPanel .HeaderText {
	margin-top: 48px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--light-grey1);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AcoountingDropDown-dropdown-toggle {
	border-color: var(--light-grey1);
	background-color: var(--white);
	outline: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	color: var(--light-grey);
	min-height: 50px;
	width: 39%;
	font-size: 17px;
	text-align: left;
	margin-top: 34px;
	border-radius: 0;
	font-style: italic;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .dropDownWidth {
	width: 58.5%;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL .searchContainer {
	padding: 10px;
	float: left;
	width: 100%;
	position: relative;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL .searchContainer .glyphicon-search {
	z-index: 100;
	padding: 18px;
	position: absolute;
	right: 0;
	pointer-events: none;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .MT0 {
	margin: 0;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AcoountingDropDown-dropdown-toggle:focus,
.AccountingContent .leftPanel .AcoountingDropDown-input-group .AcoountingDropDown-dropdown-toggle:active {
	border: 1px solid var(--bp-blue-light);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AcoountingDropDown-dropdown-toggle .fa-angle-down {
	float: right;
	color: var(--dark-grey);
	font-weight: 700;
	font-size: larger;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL {
	width: 39%;
	margin: -1px;
	border: 1px solid var(--bp-blue-light);
	top: 93%;
	-webkit-box-shadow: none;
	        box-shadow: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL::-webkit-scrollbar {
	width: 10px;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL li {
	font-size: 17px;
	border-bottom: 1px solid var(--light-grey2);
	cursor: pointer;
	padding: 8px 12px 8px 12px;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL li a {
	outline: 0;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL .listItemsContainer {
	float: left;
	width: 100%;
	overflow-y: auto;
	max-height: 188px;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL .listItemsContainer::-webkit-scrollbar {
	width: 10px;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL .listItemsContainer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL .listItemsContainer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL .listItemsContainer li a {
	display: block;
	padding: 0;
	clear: both;
	font-weight: 400;
	line-height: 1.4;
	color: var(--dark-grey1);
	white-space: nowrap;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL li a:focus {
	background-color: var(--light-blue);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL li:hover {
	background-color: var(--light-grey3);
}

.AccountingContent .leftPanel .AccountingProvider .ConnectToQBButton {
	margin-top: 17px;
}

.AccountingContent .leftPanel .AccountingProvider .ConnectToQBButton img {
	width: 12.5%;
}

.AccountingContent .leftPanel .AccountingProvider .ActionButton {
	margin-top: 22px;
	width: 100%;
	float: left;
}

.AccountingContent .leftPanel .ActionButton button {
	border-radius: 4px;
	min-height: 50px;
	color: var(--white);
	background-color: var(--bp-blue);
	font-weight: 600;
	font-size: 15px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	width: 20.5%;
}

.AccountingContent .leftPanel .ActionButton button:hover,
.AccountingContent .leftPanel .ActionButton button:focus,
.AccountingContent .leftPanel .ActionButton button:active {
	color: var(--white);
	background-color: var(--bp-blue-hover);
	outline: 0;
	-webkit-transition: all 0.2 ease;
	transition: all 0.2 ease;
}

.AccountingContent .leftPanel .ActionButtonCategory {
	padding-right: 4%;
	padding-left: 0;
}

.AccountingContent .leftPanel .ActionButtonCategory button {
	width: 31%;
	padding-right: 5%;
}

.AccountingContent .leftPanel .ActionButtonCategory button:hover .fa,
.AccountingContent .leftPanel .ActionButtonCategory button:focus .fa,
.AccountingContent .leftPanel .ActionButtonCategory button:active .fa {
	color: var(--white);
	outline: 0;
}

.AccountingContent .leftPanel .ActionButtonCategory button .fa {
	color: var(--white);
}

.AccountingContent .leftPanel .ActionButtonCategory button .fa-stack-1x {
	margin-left: 14.5px;
	margin-top: -1px;
	font-size: 14px;
	width: auto;
	left: auto;
	border: 2px solid var(--bp-blue);
	border-radius: 20px;
	padding: 0 5px;
}

.AccountingContent .leftPanel .ActionButtonCategory button .fa-stack-2x {
	margin-left: 8px;
	margin-top: -4px;
	font-size: 28px;
	width: auto;
	left: auto;
}

.AccountingContent .leftPanel .ActionButton .ActionBtnDisabled {
	background: var(--light-grey);
	color: var(--white);
	border: 1px solid var(--light-grey);
}

.AccountingContent .leftPanel .AccountingProvider .QBDetailsContainer {
	margin-top: 10px;
}

.AccountingContent .leftPanel .QBConnectionSuccess {
	width: 100%;
	float: left;
	color: var(--grey);
}

.AccountingContent .leftPanel .AccountingProvider .QBDetailsContainer .QBConnectionFailure {
	width: 100%;
	float: left;
	color: red;
}

.AccountingContent .leftPanel .QBConnectionSuccess .QBConnectionDetailsLabel {
	float: left;
	color: var(--grey);
}

.AccountingContent .leftPanel .AccountingProvider .QBDetailsContainer .QBConnectionFailure .QBConnectionDetailsLabel {
	float: left;
	color: red;
}

.AccountingContent .leftPanel .QBConnectionSuccess .QBConnectionDetailsValue,
.AccountingContent .leftPanel .AccountingProvider .QBDetailsContainer .QBConnectionFailure .QBConnectionDetailsValue {
	float: left;
	font-weight: 700;
	padding-left: 4px;
}

.AccountingContent .leftPanel .RemoveQBConnection {
	float: left;
	width: 100%;
	margin-top: 25px;
}

.AccountingContent .leftPanel .AccountingProvider .TestConnectionBtn {
	margin-top: 15px;
	width: 100%;
	float: left;
	margin-bottom: -5px;
}

.AccountingContent .leftPanel .RemoveQBConnection img {
	width: 24px;
	float: left;
	cursor: pointer;
}

.AccountingContent .leftPanel .RemoveQBConnection span {
	float: left;
	padding-left: 1%;
	text-decoration: underline;
	color: red;
	font-weight: 700;
	padding-top: 3px;
	font-size: 15px;
	cursor: pointer;
}

.AccountingContent .leftPanel .ChartOfAccounts .SyncAccountsContainer .BtnContainer {
	width: 27%;
	float: left;
	border-right: 1px solid var(--light-grey1);
	margin-top: 40px;
	padding: 0;
}

.AccountingContent .leftPanel .ChartOfAccounts .SyncAccountsContainer {
	width: 100%;
	float: left;
}

.AccountingContent .leftPanel .ChartOfAccounts .BtnContainer .ActionButton {
	margin-top: 22px;
	margin-bottom: 30px;
	float: left;
	width: 100%;
}

.AccountingContent .leftPanel .ChartOfAccounts .BtnContainer .ActionButton button {
	width: 76%;
}

.AccountingContent .leftPanel .ChartOfAccounts .DetailContainer {
	width: 73%;
	float: left;
	margin-top: 40px;
	padding: 0 0 0 5.5%;
}

.AccountingContent .leftPanel .DetailLabel {
	color: var(--dark-grey1);
	font-weight: 700;
}

.AccountingContent .leftPanel .ChartOfAccounts .DetailValue {
	float: left;
	color: var(--grey);
	width: 31%;
	font-size: 24px;
}

.AccountingContent .leftPanel .ChartOfAccounts .ActionButton.ChartsAccountNextAction {
	width: 100%;
	float: left;
	margin-top: 30px;
}

.AccountingContent .leftPanel .ChartOfAccounts .ActionButton.ChartsAccountMarginBottom {
	margin-bottom: 100px;
}

.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer {
	margin-top: 30px;
}

.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer .UploadAccountsTextContainer .DetailLabel {
	margin: 0;
	width: 79.5%;
}

.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer .DetailLabel {
	margin-top: 30px;
}

.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer .AcoountingDropDown-input-group {
	width: 100%;
}

.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer .AcoountingDropDown-input-group .input-group-btn {
	width: 100%;
	float: left;
}

.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer .AcoountingDropDown-input-group .input-group-btn button {
	margin-top: 0;
}

.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer .AcoountingDropDown-input-group .AccountingUL {
	margin: 0;
}

.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer .QBConnectionSuccess {
	margin-top: 14px;
}

.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer .ActionButton {
	margin-top: 30px;
	width: 100%;
	float: left;
}

.AccountingContent .leftPanel .ChartOfAccounts .ActionButton .LargeBtn {
	width: 25%;
}

.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer .ActionButton button {
	width: 30%;
}

.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer .RemoveQBConnection {
	margin-top: 20px;
}

.AccountingContent .leftPanel .ControlAccounts .ControlAccountsHeaderText {
	margin-top: 34px;
}

.AccountingContent .leftPanel .ControlAccounts .ControlAccountsContainer {
	width: 100%;
	float: left;
	margin-top: 25px;
}

.AccountingContent .leftPanel .ControlAccounts .tax-mapping-control-contener {
	margin-top: 0px;
}

.AccountingContent .leftPanel .ControlAccounts .ControlAccountsContainer .AcoountingDropDown-input-group {
	width: 100%;
	margin-bottom: 18px;
}

.AccountingContent .leftPanel .ControlAccounts .ControlAccountsContainer .AcoountingDropDown-input-group .input-group-btn {
	width: 100%;
	float: left;
}

.AccountingContent .leftPanel .ControlAccounts .ControlAccountsContainer .DetailLabel {
	margin: 0 0 7px;
}

.AccountingContent .leftPanel .ControlAccounts .ControlAccountsContainer.tax-mapping-control-contener .DetailLabel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 50px;
	margin: 0;
	width: 25%;
}

.AccountingContent .leftPanel .ControlAccounts .ControlAccountsContainer.tax-mapping-control-contener .ControlAccountsHeaderText .DetailLabel {
	width: 100%;
}

.AccountingContent .leftPanel .ControlAccounts .ControlAccountsContainer.tax-mapping-control-contener .AcoountingDropDown-input-group {
	width: 75%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.AccountingContent .leftPanel .ControlAccounts .ControlAccountsContainer.tax-mapping-control-contener section > div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.AccountingContent .leftPanel .ControlAccounts .ControlAccountsContainer .AcoountingDropDown-input-group .input-group-btn button {
	margin-top: 0;
	float: left;
}

.AccountingContent .leftPanel .fa-info-circle {
	color: var(--bp-blue);
	font-size: 20px;
}

.AccountingContent .leftPanel .ControlAccountsContainer .HelperText {
	width: 20%;
	float: left;
	margin-left: 20px;
}

.AccountingContent .leftPanel .ControlAccountsContainer .HelperText .fa-info-circle {
	font-size: 26px;
	padding-top: 11px;
}

.AccountingContent .leftPanel .ControlAccountsContainer .HelperText .fa-info-circle:hover,
.AccountingContent .leftPanel .ControlAccountsContainer .HelperText .fa-info-circle:active,
.AccountingContent .leftPanel .ControlAccountsContainer .HelperText .fa-info-circle:focus {
	color: var(--bp-blue-hover);
	font-size: 26px;
	padding-top: 11px;
}

.AccountingContent .leftPanel .ControlAccounts .ActionButton.ControlsAccountApplyAction {
	width: 50%;
	float: left;
}

.AccountingContent .leftPanel .ControlAccounts .ActionButton.ControlsAccountNextAction {
	width: 50%;
	float: left;
	margin-bottom: 190px;
}

.AccountingContent .leftPanel .ControlAccounts .ActionButton.ControlsAccountApplyAction button,
.AccountingContent .leftPanel .ControlAccounts .ActionButton.ControlsAccountNextAction button {
	width: 41%;
}

.AccountingContent .leftPanel .CategoriesSection .CategoriesHeaderText {
	margin-top: 34px;
}

.categoryDesc {
	margin: 0;
	font-weight: 600;
}

.CategoryTable {
	margin-bottom: 30px;
	width: 100%;
	margin-top: 35px;
}

.CategoryTable th {
	padding: 10px 5px;
	color: var(--white);
	background: var(--bp-blue-dark);
	font-weight: 500;
	font-size: 12px;
}

.CategoryTable td {
	padding: 10px 5px;
	color: var(--dark-grey);
	font-weight: 400;
}

.CategoryTable td .activeChk {
	background: var(--green) !important;
}

.CategoryTable td .roundChk {
	width: 22px;
	height: 22px;
	display: inline-block;
	border-radius: 22px;
	background: var(--light-grey);
}

.CategoryTable .oddRow {
	background: var(--light-grey2);
}

.CategoryTable .evenRow {
	background: var(--white);
}

.CategoryTable .categoryIcons img {
	height: 22px;
	width: 22px;
	border-radius: 13px;
}

.CategoryTable .categoryIcons i {
	color: var(--bp-blue);
	font-size: 18px;
}

.CategoryTable tr .actionBlock .editIcon {
	color: var(--bp-blue);
	font-size: 18px;
	margin-right: 10px;
	cursor: pointer;
}

.CategoryTable tr .actionBlock .MR31 {
	margin-right: 31px;
}

.CategoryTable tr .actionBlock .deleteIcon {
	height: 20px;
	width: 18px;
	margin-top: -2px;
	cursor: pointer;
}

.CategoryTable th .sortIcons {
	width: 20px;
	display: inline-block;
	font-size: 10px;
	color: var(--bp-blue-light);
	position: absolute;
	margin-top: -5px;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv4.div4_displayNone, .BlueTooltip {
	display: none;
}

.CategoryTable th .sortIcons .activeSort .fa {
	color: var(--bp-blue);
}

.CategoryTable th .fa-caret-up {
	font-size: 12px;
	margin-top: 4px;
	color: var(--white);
	cursor: pointer;
}

.CategoryTable th .fa-caret-down {
	font-size: 12px;
	margin-top: -2px;
	color: var(--white);
	cursor: pointer;
}

.CategoryTable tbody tr .PR30, .CategoryTable .PR30 {
	padding-right: 30px;
}

.CategoryTable .PL10 {
	padding-left: 10px;
}

.CategoryTable td.PL13 {
	padding-left: 13px;
}

.AccountingContent .rightPanel {
	width: 25.5%;
	float: left;
	padding: 0;
	overflow-y: auto;
	position: fixed;
	margin-left: 74.5%;
	max-height: 100vh;
}

.AccountingContent .rightPanel::-webkit-scrollbar {
	width: 10px;
}

.AccountingContent .rightPanel::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.AccountingContent .rightPanel::-webkit-scrollbar-thumb {
	background-color: var(--light-grey4);
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

.AccountingContent .rightPanel .rightPanelContent {
	padding-top: 16px;
	width: 100%;
	color: var(--white);
	background: var(--dark-grey2);
	float: left;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelHeader {
	width: 100%;
	padding-left: 9%;
	padding-right: 9%;
	float: left;
}

.AccountingContent .rightPanel .rightPanelContent .AccountingIntegrationComplete {
	color: var(--green-dark);
	font-weight: 400;
}

.AccountingContent .rightPanel .rightPanelContent .AccountingIntegrationIncomplete {
	color: var(--coral);
	font-weight: 400;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelHeader h3 {
	margin-bottom: 2px;
	font-size: 21px;
	font-weight: 600;
	margin-top: 10px;
	line-height: 19px;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelHeader p {
	margin-top: 10px;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer {
	width: 100%;
	float: left;
	margin-top: 30px;
	font-size: 16px;
	overflow-y: auto;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .rightNav {
	border-left: 5px solid transparent;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .activeBorderLeft {
	border-left-color: var(--bp-blue);
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .rightPanelAccountingSetupStepsList {
	width: 100%;
	border-bottom: 1px solid var(--grey1);
	cursor: pointer;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .rightPanelAccountingSetupStep1 {
	border-top: 1px solid var(--grey1);
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .rightPanelAccountingSetupStepsList.activeStep {
	background: var(--dark-grey1);
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .rightPanelAccountingSetupStepsList.completedStep {
	background: var(--dark-grey2);
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .rightPanelAccountingSetupStepsList.disableStep {
	pointer-events: none;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .rightPanelAccountingSetupStepsList.enableStep {
	pointer-events: all;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .activeStepBackgroundBlue {
	background: var(--bp-blue);
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv1 {
	width: 1.5%;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv2,
.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv3 {
	padding: 15px 0;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv2 {
	padding-left: 7.5%;
	width: 80%;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv1,
.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv2,
.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv3,
.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv4 {
	float: left;
	color: var(--white);
	min-height: 56px;
	font-size: 16px;
	font-weight: 600;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv1.Div1_MinH {
	min-height: 57px;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv2.div2_PTB {
	padding-top: 9px;
	padding-bottom: 9px;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv3.SuccessIconContainer {
	text-align: right;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv3.ErrorIconContainer {
	padding: 20.5px 8px 20.5px 0;
	text-align: right;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv2 div {
	float: left;
	width: 100%;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv2 .errorMsg {
	font-size: 12px;
	color: var(--coral);
	font-weight: 600;
}

.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv3 .fa-exclamation-triangle {
	color: var(--coral);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.AccountingContent .leftPanel .ChartOfAccounts .UploadAccountsContainer .ActionButton button {
		width: 40%;
	}
	.AccountingContent .leftPanel .ActionButtonCategory button {
		width: 46%;
	}
	.AccountingContent .leftPanel .ActionButton button {
		width: 26%;
	}
	.AccountingContent .leftPanel .AccountingProvider .AccountingProviderNextAction, .AccountingContent .leftPanel .ChartOfAccounts .ChartsAccountNextAction {
		margin-bottom: 100px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
	.AccountingContent .leftPanel .ChartOfAccounts .ChartsAccountNextAction {
		margin-top: 2px;
		margin-bottom: 0;
	}
}

.BlueTooltip .tooltip {
	white-space: normal;
	margin-top: -5px;
	font-size: 15px;
}

.BlueTooltip .tooltip > .tooltip-inner {
	background: var(--bp-blue);
	color: var(--white);
	padding: 15px 20px;
	border-radius: 0;
	margin-left: 4px;
	text-align: left;
}

.BlueTooltip .tooltip.right .tooltip-arrow {
	border-right-color: var(--bp-blue);
	border-width: 9px 9px 9px 0;
}

.label-container {
	margin-bottom: 21px;
	margin-top: 25px;
}

.label-container .label-container-first {
	width: 25%;
}

.label-container p {
	color: var(--grey1);
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
}

.label-container .label-container-second {
	width: 75%;
}

.tax-code-mapping-tooltip .tooltip > .tooltip-inner {
	background: var(--dark-grey1);
	max-width: 250px;
}

.tax-code-mapping-tooltip .tooltip.right .tooltip-arrow {
	border-right-color: var(--dark-grey1);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .dropDownBtnPB {
	padding-bottom: 1px;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AcoountingDropDown-dropdown-toggle .fa-angle-down .dropDownArrorBtnMT {
	margin-top: 3px;
}

.T1, .T7 {
	margin: .01em;
	text-transform: capitalize;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL a span {
	overflow: hidden;
}

.T7 {
	font-weight: 400;
	font-size: 13px;
	color: var(--dark-grey1);
}

.QBDataHeading p, .T1 {
	font-size: 22px;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .inputText::-webkit-input-placeholder {
	font-style: italic;
	color: var(--light-grey);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .inputText:-moz-placeholder {
	font-style: italic;
	color: var(--light-grey);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .inputText::-moz-placeholder {
	font-style: italic;
	color: var(--light-grey);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .inputText:-ms-input-placeholder {
	font-style: italic;
	color: var(--light-grey);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .inputText {
	color: var(--dark-grey1);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .inputText:focus,
.AccountingContent .leftPanel .AcoountingDropDown-input-group .inputText:active {
	border-radius: 0;
	border-color: var(--bp-blue-light);
	-webkit-box-shadow: 0 0 15px 5px var(--light-blue);
	-o-box-shadow: 0 0 15px 5px var(--light-blue);
	box-shadow: 0 0 15px 5px var(--light-blue);
	color: var(--grey);
	font-weight: 400;
}

.popupContainerChangeAccountingProvider, .popupContainerQBData {
	-webkit-box-shadow: 0 0 20px var(--light-grey3);
	        box-shadow: 0 0 20px var(--light-grey3);
	left: 15%;
	right: 15%;
	background: var(--white);
	position: absolute;
	top: 0;
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .inputTextColor {
	color: var(--dark-grey1);
	font-style: normal;
}

.T1 {
	font-weight: lighter;
	color: var(--dark-grey1);
}

.modal-dialog_QBData {
	width: 65%;
}

.popupContainerQBData {
	border: 1px solid var(--light-grey1);
	margin-top: 8%;
	padding: 30px;
}

.modal-dialog_QBData .popupContainerQBData .tabconainer .form-control:focus {
	border: 2px solid var(--bp-blue);
}

.redborder {
	border: 2px solid red;
}

.modal-dialog_QBData .popupContainerQBData .tabconainer .lable_fields {
	width: 30%;
	float: left;
}

.modal-dialog_QBData .popupContainerQBData .tabconainer .lable_fields p {
	font-weight: 700;
	margin-top: 7.5px;
	margin-bottom: 7.5px;
}

.modal-dialog_QBData .popupContainerQBData .tabconainer .form_fields {
	float: left;
	width: 50%;
}

.modal-dialog_QBData .popupContainerQBData .tabconainer .fieldsContainer {
	width: 100%;
	float: left;
}

.modal-dialog_QBData .popupContainerQBData .tabconainer .helpIcon {
	float: left;
	width: 20%;
	padding: 0 0 0 20px;
}

.modal-dialog_QBData .popupContainerQBData .savecancle_btncntnr {
	margin-top: 20px;
	margin-right: -20px;
}

.modal-dialog_QBData .popupContainerQBData .tabconainer .fieldsContainerMT {
	margin-top: 10px;
}

.modal-modal-dialog_ChangeAccountingProvider {
	width: 65%;
}

.popupContainerChangeAccountingProvider {
	border: 1px solid var(--light-grey1);
	margin-top: 8%;
	padding: 30px;
}

.ChangeAccountingProviderHeading p {
	font-size: 22px;
	margin-top: 2%;
	text-transform: capitalize;
	font-weight: lighter;
}

.modal-dialog_ChangeAccountingProvider .popupContainerChangeAccountingProvider .tabconainer p {
	font-weight: 700;
}

.modal-dialog_ChangeAccountingProvider .popupContainerChangeAccountingProvider .tabconainer p:first-child {
	margin: 0;
}

.modal-dialog_ChangeAccountingProvider .saveBtn {
	background: var(--white);
	border-radius: 0;
	padding: 15px 50px;
	color: var(--bp-blue-dark);
	border: 1px solid var(--bp-blue);
	font-weight: 600;
	font-size: 15px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	width: 25%;
}

.modal-dialog_ChangeAccountingProvider .RemoveQBConnection {
	cursor: pointer;
	margin-top: 17px;
	width: 19%;
}

.modal-dialog_ChangeAccountingProvider .RemoveQBConnection img {
	width: 24px;
	float: left;
	margin-top: -1px;
}

.modal-dialog_ChangeAccountingProvider .RemoveQBConnection span {
	float: left;
	padding-left: 1%;
	text-decoration: underline;
	color: red;
	font-weight: 700;
	font-size: 15px;
}

.modal-modal-dialog_ChangeAlignmentMethod {
	width: 65%;
}

.popupContainerChangeAlignmentMethod {
	border: 1px solid var(--light-grey1);
	position: absolute;
	left: 15%;
	right: 15%;
	top: 0;
	background: var(--white);
	margin-top: 8%;
	-webkit-box-shadow: 0 0 20px var(--light-grey3);
	        box-shadow: 0 0 20px var(--light-grey3);
	padding: 30px;
}

.ChangeAlignmentMethodHeading p {
	font-size: 22px;
	margin-top: 2%;
	text-transform: capitalize;
	font-weight: lighter;
}

.modal-dialog_ChangeAlignmentMethod .popupContainerChangeAlignmentMethod .tabconainer p {
	font-weight: 700;
}

.modal-dialog_ChangeAlignmentMethod .popupContainerChangeAlignmentMethod .tabconainer p:first-child {
	margin: 0;
}

.modal-dialog_ChangeAlignmentMethod .saveBtn {
	background: var(--white);
	border-radius: 0;
	padding: 15px 50px;
	color: var(--bp-blue-dark);
	border: 1px solid var(--bp-blue);
	font-weight: 600;
	font-size: 15px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	width: 25%;
}

.modal-dialog_ChangeAlignmentMethod .RemoveQBConnection {
	cursor: pointer;
	margin-top: 17px;
	width: 19%;
}

.modal-dialog_ChangeAlignmentMethod .RemoveQBConnection img {
	width: 24px;
	float: left;
	margin-top: -1px;
}

.modal-dialog_ChangeAlignmentMethod .RemoveQBConnection span {
	float: left;
	padding-left: 1%;
	text-decoration: underline;
	color: red;
	font-weight: 700;
	font-size: 15px;
}

.CategoryPopUp.modal .modal-backdrop.in {
	height: 900px !important;
}

#AccountsListPopUp .modal-dialog_AccountsList {
	width: 1125.86px !important;
}

.modal-open .AccountsListPopUp {
	overflow-x: hidden;
	overflow-y: hidden;
}

.popupContainerAccountsList {
	border: 1px solid var(--light-grey1);
	position: absolute;
	left: 20%;
	right: 20%;
	top: 0;
	background: var(--white);
	margin-top: 0;
	-webkit-box-shadow: 0 0 20px var(--light-grey3);
	        box-shadow: 0 0 20px var(--light-grey3);
	padding: 4% 4% 4% 5%;
}

.account-list-3-col-modal-body {
	left: 13% !important;
	right: 13%  !important;
}

.popupContainerAccountsList .AccountsListHeading p {
	font-size: 22px;
	margin-top: 2%;
	text-transform: capitalize;
	font-weight: lighter;
}

.AccountsListTableContainer {
	height: 340px;
	overflow-y: auto;
	padding-right: 20px;
	width: 542px;
}

.AccountsListTable {
	width: 525.48px !important;
}

.account-list-3-col-table {
	width: 635px !important;
}

.account-list-3-col-div {
	width: 662px !important;
}

.AccountsListTableContainer::-webkit-scrollbar {
	width: 10px;
}

.AccountsListTableContainer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.AccountsListTableContainer::-webkit-scrollbar-thumb {
	background-color: var(--light-grey4);
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

.AccountsListTable {
	table-layout: fixed;
	width: 400px;
}

.AccountsListTable tr {
	border-bottom: 1px solid var(--light-grey1);
}

.AccountsListTable th {
	padding: 10px 5px;
	color: var(--white);
	background: var(--bp-blue-dark);
	font-weight: 500;
}

.AccountsListTable td {
	padding: 10px 5px;
	color: var(--dark-grey1);
	font-weight: 600;
}

.modal-dialog_AccountsList .saveBtn {
	background: var(--white);
	border-radius: 0;
	padding: 15px 50px;
	color: var(--bp-blue-dark);
	border: 1px solid var(--bp-blue);
	font-weight: 600;
	font-size: 15px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	margin-top: 7%;
	width: 25%;
}

.modal-modal-dialog_RemoveCategory {
	width: 65%;
}

.popupContainerRemoveCategory {
	border: 1px solid var(--light-grey1);
	position: absolute;
	left: 15%;
	right: 15%;
	top: 0;
	background: var(--white);
	margin-top: 8%;
	-webkit-box-shadow: 0 0 20px var(--light-grey3);
	        box-shadow: 0 0 20px var(--light-grey3);
	padding: 30px;
}

.RemoveCategoryHeading p {
	font-size: 22px;
	margin-top: 2%;
	font-weight: lighter;
	margin-bottom: 25px;
}

.modal-dialog_RemoveCategory .popupContainerRemoveCategory .CategoryDetails, .modal-dialog_RemoveCategory .popupContainerRemoveCategory .tabconainer {
	width: 100%;
	float: left;
}

.modal-dialog_RemoveCategory .popupContainerRemoveCategory .tabconainer p:first-child {
	margin-top: 20px;
}

.modal-dialog_RemoveCategory .popupContainerRemoveCategory .CategoryDetails .DetailsLabel {
	float: left;
	width: 12%;
}

.modal-dialog_RemoveCategory .popupContainerRemoveCategory .CategoryDetails .DetailsValue {
	font-weight: 700;
	float: left;
	width: 88%;
}

.modal-dialog_RemoveCategory .saveBtn {
	background: var(--white);
	border-radius: 0;
	padding: 15px 50px;
	color: var(--bp-blue-dark);
	border: 1px solid var(--bp-blue);
	font-weight: 600;
	font-size: 15px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	width: 25%;
}

.modal-dialog_RemoveCategory .RemoveQBConnection {
	cursor: pointer;
	margin-top: 17px;
	width: 19%;
}

.modal-dialog_RemoveCategory .RemoveQBConnection img {
	width: 24px;
	float: left;
	margin-top: -1px;
}

.modal-dialog_RemoveCategory .RemoveQBConnection span {
	float: left;
	padding-left: 1%;
	text-decoration: underline;
	color: red;
	font-weight: 700;
	font-size: 15px;
}

.modal-modal-dialog_ChangeDefaultCategory {
	width: 65%;
}

.popupContainerChangeDefaultCategory {
	border: 1px solid var(--light-grey1);
	position: absolute;
	left: 15%;
	right: 15%;
	top: 0;
	background: var(--white);
	margin-top: 8%;
	-webkit-box-shadow: 0 0 20px var(--light-grey3);
	        box-shadow: 0 0 20px var(--light-grey3);
	padding: 30px;
}

.ChangeDefaultCategoryHeading p {
	font-size: 22px;
	margin-top: 2%;
	text-transform: capitalize;
	font-weight: lighter;
	margin-bottom: 25px;
}

.modal-dialog_ChangeDefaultCategory .popupContainerChangeDefaultCategory .tabconainer, .modal-dialog_RemoveCategory .popupContainerChangeDefaultCategory .CategoryDetails {
	width: 100%;
	float: left;
}

.modal-dialog_ChangeDefaultCategory .popupContainerChangeDefaultCategory .CategoryDetails .DetailsLabel {
	float: left;
	width: 8%;
}

.ChangeDefaultCategoryPopup .modal-dialog_ChangeDefaultCategory .popupContainerChangeDefaultCategory .tabconainer,
.ChangeDefaultCategoryPopup .popupSubHeading1 {
	margin-top: 0px !important;
}

.ChangeDefaultCategoryPopup .popupSubHeading p {
	margin-bottom: 25px !important;
}

.modal-dialog_ChangeDefaultCategory .popupContainerChangeDefaultCategory .CategoryDetails .DetailsValue {
	font-weight: 700;
	float: left;
	width: 92%;
}

.modal-dialog_ChangeDefaultCategory .saveBtn {
	background: var(--white);
	border-radius: 0;
	padding: 15px 50px;
	color: var(--bp-blue-dark);
	border: 1px solid var(--bp-blue);
	font-weight: 600;
	font-size: 15px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	width: 25%;
}

.modal-dialog_ChangeDefaultCategory .RemoveQBConnection {
	cursor: pointer;
	margin-top: 17px;
	width: 19%;
}

.modal-dialog_ChangeDefaultCategory .RemoveQBConnection img {
	width: 24px;
	float: left;
	margin-top: -1px;
}

.modal-dialog_ChangeDefaultCategory .RemoveQBConnection span {
	float: left;
	padding-left: 1%;
	text-decoration: underline;
	color: red;
	font-weight: 700;
	font-size: 15px;
}

.modal-dialog {
	-webkit-box-shadow: 10px 10px 5px #6F6868;
	box-shadow: 10px 10px 5px #6F6868;
}

.modal-modal-dialog_ErrorMsg {
	width: 65%;
}

.popupContainerErrorMsg {
	border: 1px solid var(--light-grey1);
	position: absolute;
	left: 15%;
	right: 15%;
	top: 0;
	background: var(--white);
	margin-top: 8%;
	-webkit-box-shadow: 0 0 20px var(--light-grey3);
	        box-shadow: 0 0 20px var(--light-grey3);
	padding: 30px;
}

.ErrorMsgHeading p {
	font-size: 22px;
	margin-top: 2%;
	text-transform: capitalize;
	font-weight: lighter;
	color: red;
}

.modal-dialog_ErrorMsg .popupContainerErrorMsg .tabconainer p {
	font-weight: 700;
}

.modal-dialog_ErrorMsg .saveBtn {
	background: var(--white);
	border-radius: 0;
	padding: 15px 50px;
	color: var(--bp-blue-dark);
	border: 1px solid var(--bp-blue);
	font-weight: 600;
	font-size: 15px;
	-webkit-box-shadow: none;
	        box-shadow: none;
	width: 25%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.container-fluid .logoIconPosition {
		width: 25%;
		float: left;
	}
	.container-fluid .globalSearchDivPosition .dropdown_div1 {
		width: 95%;
	}
	.container-fluid .globalSearchDivPosition .navbar-right {
		width: 27%;
	}
	.container-fluid .globalSearchDivPosition {
		float: left;
		margin-left: 14px;
		width: 68%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .removeItemImage {
		background-position-x: 25px;
	}
	.gridLoadingContainer .gridLoadingDiv {
		position: fixed;
		top: 35%;
		left: 45%;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.container-fluid .logoIconPosition {
		width: 25%;
		float: left;
	}
	.container-fluid .globalSearchDivPosition .dropdown_div1 {
		width: 77%;
	}
	.container-fluid .globalSearchDivPosition .navbar-right {
		width: 23%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .removeItemImage {
		background-position-x: 22px;
	}
	.container-fluid .globalSearchDivPosition {
		float: left;
		margin-left: 14px;
		width: 71%;
	}
	.container-fluid .globalSearchDivPosition1 .globalSearchDivPosition1_col-lg-9 {
		width: 74%;
	}
	.container-fluid .globalSearchDivPosition1 .globalSearchDivPosition1_navbar-right {
		width: 40%;
	}
	.gridLoadingContainer .gridLoadingDiv {
		position: fixed;
		top: 39%;
		left: 45%;
	}
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
	.container-fluid .globalSearchDivPosition1 .globalSearchDivPosition1_col-lg-9 {
		width: 59%;
	}
	.container-fluid .globalSearchDivPosition1 .globalSearchDivPosition1_navbar-right {
		width: 43%;
	}
	.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv2 {
		width: 84.5%;
	}
	.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv3.ErrorIconContainer {
		width: 14%;
	}
	.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv4 {
		display: none;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv2 {
		width: 88.5%;
	}
	.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv3.ErrorIconContainer {
		width: 10%;
	}
	.AccountingContent .rightPanel .rightPanelContent .rightPanelAccountingSetupStepsContainer .AccountingSetupStepDiv4 {
		display: none;
	}
}

#NavigateConfirmBox .custom_modal {
	-webkit-box-shadow: none;
	        box-shadow: none;
	width: 500px;
}

#NavigateConfirmBox .modal-content {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.popupBorder {
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	border: 7px solid #c5c6c7 !important;
	border-radius: 7px !important;
	padding: 15px 6% !important;
}

.popupSubHeading p, .popupSubHeading1 .subHeadingLabel {
	padding-left: 1px !important;
	font-size: 13.5px !important;
	font-weight: 600 !important;
}

.popupBorder1 {
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	border: 7px solid #c5c6c7 !important;
	border-radius: 7px !important;
}

.popupHeading p {
	font-size: 26px !important;
	color: #7c7c7c !important;
	font-weight: 300 !important;
	margin-top: 40px !important;
}

.popupSubHeading, .popupSubHeading1 {
	width: 100% !important;
	margin-top: 2% !important;
	float: left !important;
}

.popupCancelActionContainer {
	margin-top: 15px !important;
	margin-left: 225px !important;
	width: 23% !important;
	text-align: right !important;
}

.popupCancelAction {
	padding-top: 3px !important;
	font-size: 14px !important;
	margin-left: 8px !important;
	padding-left: 0 !important;
}

.popupConfirmAction {
	min-height: 54px !important;
	color: var(--white) !important;
	background-color: var(--bp-blue) !important;
	border: 1px solid var(--bp-blue) !important;
	font-weight: 600 !important;
	font-size: 14px !important;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	border-radius: 4px;
}

.modal-dialog-AccountingPopup {
	width: 82% !important;
}

.AccountingPopupActionButton {
	width: 100% !important;
	margin-top: 0 !important;
	float: left !important;
	padding-left: 0 !important;
	margin-bottom: 0 !important;
}

.AccountingIntegrationSetupButton {
	min-height: 45px !important;
	font-size: 13px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#RemoveCategoryInUsePopup .popupCancelActionContainer {
	width: 88px !important;
	padding-right: 0 !important;
}

#RemoveCategoryInUsePopup .modal-dialog-AccountingPopup, #RemoveCategoryInUsePopup .popupSubHeading p {
	width: 75% !important;
}

.popupContainerRemoveCategory .popupSubHeading {
	margin-top: 0 !important;
}

.ActionButtonCategory .AccountingIntegrationSetupButton {
	padding-right: 39.5px !important;
}

.ML5 {
	margin-left: 5px;
}

.helplink {
	color: var(--light-grey);
	font-size: 20px;
	margin-top: 6px;
	cursor: pointer;
}

.tax-mapping-waring-modal-window .modal-dialog {
	width: 400px;
}

.tax-mapping-waring-modal-window .modal-body {
	padding: 54px 23px 44px 23px;
}

.tax-mapping-waring-modal-window .warning-text {
	margin-bottom: 24px;
}

.tax-mapping-waring-modal-window button {
	height: 40px;
	margin-top: 26px;
}

.tax-code-mapping-wrapper {
	padding-bottom: 100px;
}

.AccountingContent .leftPanel .ChartOfAccounts .tax-code-mapping-container {
	margin-bottom: 57px;
}

.tax-mapping-waring-modal-window .heading-text {
	font-weight: 600;
	line-height: 11px;
	font-size: 11px;
	letter-spacing: 1px;
	color: var(--grey1);
}

.AccountingContent .leftPanel .AcoountingDropDown-input-group .AccountingUL a .taxCodeLabel {
	color: var(--dark-grey2);
	font-size: 12px;
	margin: 0;
	font-weight: 400;
}

.AcoountingDropDown-input-group .AccountingUL .taxCodeRec {
	color: var(--bp-blue);
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 1px;
	overflow-x: hidden;
}

.AcoountingDropDown-input-group .AccountingUL .taxCodeRecWrapper {
	list-style: none;
	padding: 0px 5px;
}

.AcoountingDropDown-input-group .input-group-btn .tax-code-input {
	overflow: hidden;
	width: 94%;
	margin-left: 5px;
}

/*# sourceMappingURL=scss/maps/AccountingIntegrationSettings.css.map */

.cnnect-integration-button {
    cursor: pointer;
    float: left;
    margin-top: 17px;
}

.accounting-text-lowerCase {
   text-transform: lowercase;
}

.accounting-text-lowerCase::first-letter {
   text-transform: uppercase;
}

.accounting-text-ellipses {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}