.activeOrdersPopup .popup_container {
	min-height: 200px;
}

.P0 {
	padding: 0px;
}

.popupinside .activeOrdersWrapper {
	padding-top: 15px;
}

.popupinside .activeOrdersWrapper .tabconainer {
	padding-bottom: 0px !important;
	max-height: 322px;
	overflow-y: auto;
}

.leftBorderNone {
	border-left: none !important;
}

.activeOrdersPopup .droplet-upload {
	height: 0;
	position: absolute;
	height: 30px;
	padding-left: 95px;
	padding-top: 0px;
	width: 93px;
	opacity: 0;
	outline: none;
	cursor: pointer;
}

.activeOrdersPopup .browse_section {
	border: 1px dashed #939ca9;
	background: #f6f7f9;
}

.activeOrdersPopup .browse_but1 {
	border: 1px solid var(--bp-blue-alt);
	background: var(--bp-blue-alt);
	color: #FFF;
	padding: 3% 8%;
	font-size: 13px;
	border-radius: 1px;
	cursor: pointer;
}

.activeOrdersPopup .browse_but {
	margin-top: 7%;
	margin-left: 2%;
	width: 23%;
	float: left;
}

.activeOrdersPopup .attachmentsList {
	border-bottom: 1px solid #ccc;
	padding: 0 0 3% 0;
}

.activeOrdersPopup .attachmentsList .attachmentName {
	padding-left: 0;
}

.activeOrdersPopup .attachmentsList .removeAttachment {
	padding-right: 0;
}

.activeOrdersPopup .edit_modal-dialog {
	width: 750px;
}

.activeOrdersPopup .divObjectName {
	text-align: right;
	color: #acacac;
	font-style: italic;
	font-size: 16px;
	padding-right: 15px;
}

.activeOrdersPopup .close {
	margin-top: 2px;
}

.activeOrdersPopup .customerName {
	margin: 0 0 10px 22px;
}

.activeOrdersPopup .edit_modal-dialog {
	top: 24%;
}

.activeOrdersWrapper .globalSearch_angucomplete-holder .globalSearchResultGrid tbody.globalSearchResultGridRecord:last-child {
	border-bottom: none;
}

.activeOrdersPopup .activeOrderPopupHeading {
	text-transform: none;
	float: left;
	font-weight: lighter !important;
	font-size: 22px !important;
	color: #414449;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.activeOrdersPopup .popup_container {
		margin-top: 35%;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.activeOrdersPopup .popup_container {
		margin-top: 10%;
	}
}

.activeOrdersPopup .popup_container {
	padding-top: 0;
}

.activeOrdersPopup .popupinside .popupTopSection {
	margin-top: 10px;
	padding-right: 0;
}

.activeOrdersPopup .popupinside .popupTopSection .savecancle_btncntnr .grayBtn {
	padding: 6px 8px;
	font-size: 9px;
}

.activeOrdersPopup .main-heading {
	font-weight: 400;
}

.activeOrdersPopup .sub-heading {
	margin-top: 5px;
	font-size: 16px;
	font-weight: lighter;
}

.activeOrdersPopup .blueBtnAdd {
	margin-right: 10px;
	background: var(--bp-blue-alt);
	color: #ffffff;
	border: none !important;
	font-weight: bold;
	min-width: 168px;
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 3pt;
	height: 26px;
	padding-top: 4px;
	padding-bottom: 4px;
	float: right;
}

.activeOrdersPopup .popupinside .popupright .right_heading_container {
	margin-bottom: 0;
	border-bottom: 2px solid #eee;
	padding-bottom: 5px;
}

.activeOrdersPopup .popupinside .popupright .right_heading_container .right_panel_heading {
	font-size: 14px;
	font-size: 16px !important;
	font-weight: 600;
	font-weight: 500 !important;
}

.activeOrdersPopup .popupinside .popupright .right_heading_container .right_panel_Info_customerName {
	font-size: 16px;
	font-weight: lighter;
}

.activeOrdersPopup .popupinside .popupright .tabconainer.globalSearch_angucomplete-holder .ActiveCustomerOrderResultGrid {
	margin-top: 0;
}

.activeOrdersPopup .popupinside .popupright .tabconainer.globalSearch_angucomplete-holder .globalSearchResultGrid tbody.globalSearchResultGridBody td:first-child,
.activeOrdersPopup .popupinside .popupright .tabconainer.globalSearch_angucomplete-holder .globalSearchResultGrid tbody.globalSearchResultGridBody td:last-child {
	border-bottom: 2px solid #eee;
}

/*# sourceMappingURL=scss/maps/ActiveOrdersForCustomer.css.map */
