.section-heading {
	font-size: 20px;
	line-height: 27px;
	font-weight: 300;
	color: #F99042;
	margin-top: 30px;
	margin-bottom: 20px;
}

.row.lr-pad-100 {
	margin-left: -50px;
	margin-right: -50px;
}

.row.lr-pad-100 > div {
	padding-left: 50px;
	padding-right: 50px;
}

.row.lr-pad-10 {
	margin-left: -5px;
	margin-right: -5px;
}

.row.lr-pad-10 > div {
	padding-left: 5px;
	padding-right: 5px;
}

.form-input {
	margin-bottom: 15px;
}

.form-input .bp-label {
	color: #4A4A4A;
	font-size: 14px;
	line-height: 19px;
	font-weight: 600;
	margin-bottom: 6px;
}

.AddEditUnitOrderPage .bp-input-text {
	height: 50px;
	padding: 10px 0 10px 17px;
	margin-bottom: 0px;
}

.AddEditUnitOrderPage .bp-input-text.error-data {
	border: 1px solid #EB6F66;
}

.AddEditUnitOrderPage .searchMakeUnit {
	padding: 10px 0 10px 25px;
}

.general-info-wrapper {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 40px;
}

.general-info-wrapper > .row {
	max-width: 950px;
}

.pricing-info-wrapper {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 30px;
}

.pricing-info-wrapper .orderNewUnitfootr {
	border: 1px solid #DDD;
}

.AddEditUnitOrderPage .toggle-input {
	margin: 12px 0 25px;
}

.AddEditUnitOrderPage .price-cost-inputs {
	max-width: 50%;
}

.AddEditUnitOrderPage .price-cost-inputs button {
	height: 40px;
	border: 1px solid var(--bp-blue);
	border-radius: 3px;
	background: none;
	padding: 0 40px;
	color: var(--bp-blue);
	position: relative;
	top: 30px;
}

.AddEditUnitOrderPage .price-cost-inputs button:hover {
	border: 1px solid #00A3DB;
	color: #00A3DB;
}

.AddEditUnitOrderPage .price-cost-inputs button:disabled {
	border: 1px solid #7ac2dd !important;
	color: #7ac2dd !important;
	background: none !important;
}

.AddEditUnitOrderPage .additional-information-buttons {
	margin: 0 0 100px;
	padding: 0;
	list-style: none;
	max-width: 930px;
}

.AddEditUnitOrderPage .additional-information-buttons:after {
	clear: both;
	display: block;
	content: "";
}

.AddEditUnitOrderPage .additional-information-buttons > li {
	float: left;
	margin: 0 5px 5px 0;
}

.AddEditUnitOrderPage .additional-information-buttons > li > a {
	font-size: 12px;
	line-height: 17px;
	display: inline-block;
	background: #979797;
	border-radius: 5px;
	text-decoration: none;
	color: #ffffff;
	padding: 5px 15px 5px 9px;
	height: 30px;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.AddEditUnitOrderPage .additional-information-buttons > li > a:hover {
	background: #878787;
}

.AddEditUnitOrderPage .additional-information-buttons > li > a svg {
	width: 17px !important;
	height: 17px !important;
	stroke-width: 1.5px;
	float: left;
	margin: 1px 5px 0 0;
}

.searchInputArea.showingOverlay .searchResultOverlay.categryDropdown {
	top: 51px;
	padding-top: 0;
}

.makeSeachingWrapper .searchResultOverlay ul > li {
	padding: 10px 0px 10px 16px;
}

.makeSeachingWrapper .searchResultOverlay.categryDropdown ul > li {
	padding-left: 10px 7px;
}

.makeSeachingWrapper .downArrow {
	right: 15px;
	top: 50%;
	width: 14px;
	height: 14px;
	left: auto;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	background: none;
	cursor: pointer;
}

.showingOverlay {
	z-index: 10;
}

.PriceAndCostTableWrapper {
	width: 100%;
}

.PriceAndCostTableWrapper .bp-editable-table {
	min-width: 860px;
	width: calc(100% - 1px);
}

.PriceAndCostTableWrapper .bp-editable-table tbody td:last-child {
	background: #FFF;
	border-right: 1px solid #DDD;
	text-align: right;
	min-width: 60px;
}

.PriceAndCostTableWrapper .bp-editable-table tbody tr.newFactoryOption td .bp-input-text {
	height: 36px;
}

.PriceAndCostTableWrapper .bp-editable-table tbody tr td .bp-input-text:focus {
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.PriceAndCostTableWrapper .bp-editable-table tbody .newTotalRow td span {
	color: #979797;
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
}

.PriceAndCostTableWrapper .bp-editable-table tbody .newTotalRow td {
	font-size: 18px;
	color: #4A4A4A;
	font-weight: 300;
}

.PriceAndCostTableWrapper .bp-editable-table tbody td .gray_DDDDDD {
	stroke: none;
}

.unitOrdertag {
	margin-top: -8px;
	margin-bottom: 15px;
}

.unitOrdertag:after {
	content: "";
	clear: both;
	display: block;
}

.unitOrdertag ul {
	list-style-type: none;
	padding: 0px;
}

.unitOrdertag ul li {
	display: inline-block;
	padding: 0 14px 0 10px;
	border-radius: 25px;
	margin-top: 8px;
	float: left;
	height: 26px;
	background-color: #ddf3fb;
	position: relative;
	margin-right: 2.5%;
}

.unitOrdertag ul li span {
	margin-top: 4px;
	display: inline-block;
}

.unitOrdertag ul li span i {
	color: #00A3DB;
	position: relative;
	width: 9px;
	height: 9px;
	margin: -13px 10px 0 -4px;
	display: inline-block;
	cursor: pointer;
	right: -11px;
}

.makeSeachingWrapper .UnitOrderingMFDateicon {
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 50%;
	padding: 0;
	font-size: 18px;
	width: 20px;
	height: 20px;
	left: auto;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.AddEditUnitOrderPage .bp-noBorder {
	border: none;
}

.general-editable-info-wrapper .form-input {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 5px;
}

.general-editable-info-wrapper .form-input .bp-editmode-text {
	font-size: 20px;
	color: #979797;
	font-weight: 300;
	line-height: 22px;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.general-editable-info-wrapper .form-input .bp-label {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.editUnitOrder {
	width: 170px;
	height: 40px;
	margin-right: 9px;
}

.marginTop37 {
	margin-top: 37px;
}

.PriceAndCostTableWrapper .bp-editable-table tbody tr:last-child td {
	border-bottom: none;
}

.PriceAndCostTableWrapper .bp-editable-table tbody tr td {
	-webkit-transition: none;
	transition: none;
}

.general-editable-info-wrapper .form-input .noTexSelected {
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
}

.PriceAndCostTableWrapper .bp-editable-table tbody tr td .bp-input-text {
	height: 36px;
}

.PriceAndCostTableWrapper .bp-editable-table tbody tr td .save-btn {
	color: #3384FF;
	font-weight: 600;
	font-size: 14px;
	display: inline-block;
	line-height: 1.2;
	text-decoration: none;
}

.PriceAndCostTableWrapper .bp-editable-table tbody .bp-border-bottom:last-child td {
	border-bottom: 1px solid #DDD;
}

.tagWrapper {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

@media (max-width: 860px) {
	.PriceAndCostTableWrapper .bp-editable-table tbody tr:last-child td {
		border-bottom: 1px solid #DDD;
	}
}

@media (max-width: 992px) {
	.tagWrapper {
		-webkit-box-flex: 2;
		    -ms-flex: 2;
		        flex: 2;
	}
	.general-editable-info-wrapper .form-input .bp-editmode-text {
		-webkit-box-flex: 2;
		    -ms-flex: 2;
		        flex: 2;
	}
}

.bp-viewModeAddEditField {
	width: 50%;
	padding: 0 50px;
	float: left;
}

.UnitExistsOnCO {
	width: 100%;
	background: var(--white);
	padding: 12px 18px 12px 11px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-left: 3px solid var(--cyan);
	border-top: 1px solid var(--light-grey1);
	border-right: 1px solid var(--light-grey1);
	border-bottom: 1px solid var(--light-grey1);
	border-radius: 3px;
	margin-top: 10px;
}

.UnitExistsOnCO span {
	position: relative;
}

.UnitExistsOnCO .icon-size {
	height: 18px;
	width: 18px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

.UnitExistsOnCO .align-item {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-left: 30px;
}

.UnitExistsOnCO .align-item a:active, .UnitExistsOnCO .align-item a:hover, .UnitExistsOnCO .align-item a:visited, .UnitExistsOnCO a:link {
	text-decoration: none !important;
}

/*# sourceMappingURL=scss/maps/AddEditUnitOrder.css.map */
