.bp-tech-scheduling-popup .modal-dialog {
	max-width: 722px;
}

.bp-modal-body-text {
	font-size: 12px;
	margin: 0;
	font-weight: 600;
	color: var(--grey);
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: capitalize;
}

.bp-modal-body-content {
	text-align: left;
	margin-top: 46px;
}

.bp-modal-content-text {
	margin-bottom: 38px;
}

.bp-modal-content-text > div {
	position: relative;
	height: 44px;
}

.bp-modal-content-text label {
	color: var(--dark-grey1);
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
}

.bp-modal-content-text > div > input {
	height: 44px;
	position: relative;
	color: var(--dark-grey1);
	font-size: 14px;
	line-height: 17px;
}

.bp-modal-content-text > div i {
	background: none;
	position: absolute;
	left: auto;
	right: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	z-index: 11005;
	width: 14px;
	height: 14px;
}

.bp-modal-contet-grid {
	margin-top: 12px;
}

.bp-modal-contet-grid label {
	font-size: 16px;
	margin-bottom: 21px;
}

.bp-modal-grid-wrapper ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.bp-modal-grid-wrapper ul li {
	display: inline-block;
	font-size: 14px;
	text-transform: capitalize;
	color: var(--dark-grey1);
	position: relative;
	width: calc(50%/2 - 3.5px);
	padding: 12px 0px;
}

.bp-new-row-wrapper ul li {
	padding: 0px;
}

.bp-modal-grid-wrapper ul .bold {
	font-weight: 600;
}

.datePickerWrappercontainer {
	position: relative;
}

.datePickerWrappercontainer i {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 15px;
	height: 15px;
	right: 10px;
	cursor: pointer;
	background: none;
}

.bp-modal-grid-wrapper .grid-header li {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 14px;
	text-transform: uppercase;
	color: var(--grey);
	font-weight: 600;
}

.bp-modal-grid-wrapper ul li:first-child {
	padding-left: 14px;
	width: 33.74%;
}

.bp-modal-grid-wrapper ul li:last-child {
	width: 16%;
}

.bp-modal-grid-bg {
	background: var(--light-grey3);
}

.bp-modal-grid-wrapper .bp-ContentCenter li {
	padding: 0px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 44px;
	color: var(--gray);
	font-weight: 600;
}

.bp-modal-grid-wrapper .bp-ContentCenter li label {
	margin: 0;
	font-size: 14px;
	color: var(--grey);
}

.bp-grid-light-blue {
	background: var(--light-blue);
	height: 50px !important;
}

.bp-grid-light-blue li {
	padding: 0px;
}

.bp-modal-grid-wrapper .bp-grid-light-blue li {
	width: 100% !important;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.bp-modal-grid-wrapper .bp-new-row li input {
	height: 40px;
}

.bp-grid-light-blue a {
	width: 100%;
	text-align: center;
	position: relative;
	color: var(--bp-blue);
	font-size: 18px;
	line-height: 22px;
	text-transform: capitalize;
}

.bp-grid-light-blue a i {
	width: 22px;
	height: 22px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	position: absolute;
}

.bp-grid-light-blue a:hover {
	color: var(--bp-blue-hover);
	text-decoration: none;
}

.bp-grid-light-blue a label {
	padding-left: 25px;
	font-weight: 600;
	margin: 0px;
	cursor: pointer;
}

.PT8 {
	padding-top: 8px !important;
}

.PB8 {
	padding-bottom: 8px !important;
}

.bp-new-row li button {
	height: 34px;
	position: relative;
	top: -1px;
	font-size: 11px;
}

.delete-Icon {
	position: relative;
}

.delete-Icon i {
	position: absolute;
	width: 15px;
	height: 15px;
	right: 10px;
	fill: var(--bp-blue);
}

.timedownArrow {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	background: none;
	right: 10px;
	width: 13px;
	height: 13px;
}

.bp-modal-grid-wrapper .timeSloatDropdown {
	list-style-type: none;
	position: absolute;
	z-index: 10000000;
	background: #FFF;
	border: 1px solid #e0e0e0;
	width: 100%;
	padding-left: 0px;
	height: 200px;
	overflow-y: auto;
}

.bp-modal-grid-wrapper .timeSloatDropdown li {
	width: 100%;
	cursor: pointer;
	padding: 7px 17px;
	text-transform: uppercase;
}

.bp-modal-grid-wrapper .timeSloatDropdown li:hover, .bp-modal-grid-wrapper .timeSloatDropdown .selected-row {
	background: var(--light-grey3);
}

.bp-multiselect-Wrapper {
	padding-left: 0px;
}

.bp-multiselect-Wrapper ul > li {
	padding: 7px 0px 7px 17px;
}

.bp-tech-scheduling-popup footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	padding-top: 39px;
}

.bp-transparent-btn {
	color: var(--grey);
	border: none;
	outline: none;
	background: transparent;
	font-size: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 44px;
	padding: 0;
	font-weight: 600;
}

.bp-primary-btn {
	background: var(--green);
	outline: none;
	margin: 0 15px;
	font-family: "Barlow", sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	width: auto;
	border-radius: 3px;
	border: none;
	color: var(--white);
	letter-spacing: 0.1em;
	font-size: 12px;
	height: 44px;
	padding: 0 40.17px;
}

.bp-primary-btn:hover {
	background: var(--green-hover);
}

.bp-primary-btn:disabled {
	background: var(--light-grey) !important;
	cursor: not-allowed;
}

input[type="checkbox"].dummy-checkbox-input {
	display: none;
}

/* Actual label: Has to be a <label> to make it clickable, but can use another class name if needed. */
.checkbox-label {
	display: inline;
	padding-left: 10px;
	position: relative;
	font-weight: 600;
	left: 20px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

/* Normal state */
input[type="checkbox"] + label.label-as-checkbox {
	background-color: #fff;
	border: 2px solid var(--light-grey);
	width: 14px;
	height: 14px;
	border-radius: 3px;
	display: inline-block;
	margin-bottom: 2px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

input[type="checkbox"] + label.label-as-checkbox:hover {
	background-color: var(--bp-blue-light);
	border: 2px solid var(--bp-blue-hover);
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

/* Active state */
input[type="checkbox"] + label.label-as-checkbox:active, input[type="checkbox"]:checked + label:active {
	background-color: var(--bp-blue);
	border: 2px solid var(--bp-blue);
}

/* Disabled state */
input[type="checkbox"]:disabled + label.label-as-checkbox {
	background-color: var(--light-grey1);
	border: 2px solid var(--light-grey);
	width: 14px;
	height: 14px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

input[type="checkbox"]:disabled + label.label-as-checkbox:hover {
	cursor: not-allowed;
	background-color: var(--light-grey1);
	border: 2px solid var(--light-grey);
}

/* Checked state */
input[type="checkbox"]:checked + label.label-as-checkbox {
	background-color: var(--bp-blue);
	border: 2px solid var(--bp-blue);
	color: white;
	margin-bottom: 2px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
}

input[type="checkbox"]:checked + label.label-as-checkbox:after {
	content: "";
	position: absolute;
	width: 8px;
	height: 4px;
	background: transparent;
	top: 2px;
	left: 2px;
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

/* Checked + hover state */
input[type="checkbox"]:checked + label.label-as-checkbox:hover {
	background-color: var(--bp-blue-hover);
	border: 2px solid var(--bp-blue-hover);
}

.dummy-backdrop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 11001;
}

.searchInputArea, .searchResultOverlay {
	z-index: 11002;
}

.searchInputArea input {
	z-index: 11005;
}

@-moz-document url-prefix() {
	.bp-grid-light-blue a i {
		width: 23px;
		height: 24px;
	}
	.bp-grid-light-blue a i svg {
		padding: 0px;
	}
}

/*# sourceMappingURL=scss/maps/AddEditTechnicianScheduling.css.map */
