.pageContent {
	padding-top: 33px;
}

.bp-collapsible-grid-container {
	width: 69.67%;
}

.accountSettingsDashboard .dashboardOptions .row > div {
	padding: 0;
	margin-bottom: 21px;
}

.accountSettingsDashboard .dashboardOptions .row > .bp-collapsible-grid-container {
	padding-top: 13px;
}

.sidebarWrapper {
	width: 184px;
}

.sidebar {
	padding: 0;
	position: static;
}

.sidebar .calenderNavigation {
	margin-top: 0;
}

.sidebar .calenderTable {
	margin-bottom: 33px;
}

.sidebar .calenderTable .highlightDay {
	background: var(--bp-blue-light);
	border-radius: 50%;
}

.sidebar .calenderTable .disableDay {
	color: var(--bp-blue);
	opacity: .5;
}

.sidebar .calenderTable .reconciledDay div,
.sidebar .calenderTable .submitted-day div,
.sidebar .calenderTable .reviewed-day div {
	position: relative;
}

.sidebar .calenderTable .reconciledDay div:after,
.sidebar .calenderTable .submitted-day div:after,
.sidebar .calenderTable .reviewed-day div:after {
	content: '.';
	color: var(--green);
	position: absolute;
	font-size: 35px;
	top: -2px;
	float: left;
	left: 27%;
}

.sidebar .calenderTable .submitted-day div:after {
	color: var(--cyan);
}

.bp-disable-chevron {
	opacity: .5;
	cursor: default;
	pointer-events: none;
}

.sidebar .calenderTable .calendarToday {
	background: var(--bp-blue);
	color: #ffffff;
}

.calenderArea .calenderHeader ul > .bp-today-wrapper {
	padding-left: 0px;
}

.calenderNavigation .greyText {
	font-size: 12px;
	color: var(--grey);
	line-height: 28px;
}

.calenderNavigation.bp-alignment-right li {
	margin-right: 12px;
}

.sideBarWrapperContent .RedDotMean {
	color: #4A4A4A;
	font-size: 12px;
	font-weight: 600;
	line-height: 17px;
}

.sideBarWrapperContent .RedDotMean span {
	margin-left: 9px;
}

.sideBarWrapperContent .RedDotMean:before {
	left: 4px;
	top: 1.5px;
	width: 14px;
	height: 14px;
	display: inline-block;
}

.warning-template-container .bp-warning-template {
	padding: 17px;
}

.bp-collapsible-grid {
	border-collapse: separate;
	margin-top: 13px;
}

.bp-collapsible-grid tbody.noBorder {
	border: 0;
}

.bp-collapsible-grid thead tr th {
	padding: 8px 18px;
}

.bp-collapsible-grid tbody tr td {
	padding: 12px 18px;
}

.bp-collapsible-grid tbody tr .input-td {
	padding: 7px 18px;
}

.bp-collapsible-grid thead tr th:first-child,
.bp-collapsible-grid tbody tr td:first-child {
	padding-left: 17px;
}

.bp-collapsible-grid tbody tr td:last-child {
	padding-right: 17px;
}

.bp-collapsible-grid tbody:nth-of-type(1) .bp-collapsible-grid-first-tr td:first-child {
	border-top-left-radius: 3px;
}

.bp-collapsible-grid tbody:nth-of-type(1) .bp-collapsible-grid-first-tr td:last-child {
	border-top-right-radius: 3px;
}

.bp-collapsible-grid tbody tr td {
	border-bottom: 1px solid #DDDDDD;
	border-top: none;
}

.bp-collapsible-grid tbody tr td:first-child {
	border-left: 1px solid #DDDDDD;
}

.bp-collapsible-grid tbody tr td:last-child {
	border-right: 1px solid #DDDDDD;
}

.bp-collapsible-grid tbody:nth-of-type(1) .bp-collapsible-grid-first-tr td {
	border-top: 1px solid #DDDDDD;
}

.bp-collapsible-grid tbody .total-row td {
	border-bottom: none;
}

.bp-collapsible-grid tbody .total-row.total-row-border-botom td {
	border-bottom: 1px solid #DDDDDD;
}

.bp-collapsible-grid tbody .action-row td {
	padding-bottom: 31px;
	border-bottom: 1px solid #DDDDDD;
}

.bp-collapsible-grid tbody tr .large-text {
	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
}

.bp-collapsible-grid tbody tr td:first-child div {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bp-collapsible-grid tbody tr td span {
	-ms-flex-item-align: center;
	    align-self: center;
	float: left;
}

.bp-collapsible-grid tbody tr .input-td .currency {
	position: absolute;
	height: 36px;
	line-height: 36px;
	padding-left: 10px;
}

.bp-collapsible-grid tbody tr td .textPL {
	padding-left: 15px;
}

.bp-collapsible-grid tbody tr td span i {
	width: 28px;
	height: 28px;
}

.bp-collapsible-grid tbody tr td .amount {
	width: calc(100% - 10.28px);
}

.bp-collapsible-grid tbody tr td .actual-total-currency {
	padding-left: 10px;
}

.bp-collapsible-grid tbody tr td .actual-total-amount {
	width: calc(100% - 20.28px);
}

.bp-collapsible-grid tbody .total-row td .total-amount {
	font-weight: 600;
}

.bp-collapsible-grid tbody tr .payment-details-wrapper {
	padding: 0;
}

.bp-collapsible-grid tbody tr .payment-details-wrapper table {
	margin-bottom: 0;
	background: var(--light-grey3);
}

.bp-collapsible-grid tbody tr .payment-details-wrapper thead tr th {
	padding-top: 19px;
}

.bp-collapsible-grid tbody tr .payment-details-wrapper tbody tr:last-child td {
	padding-bottom: 19px;
}

.bp-collapsible-grid tbody tr .payment-details-wrapper .bp-expand-div-transition {
	border-bottom: 1px solid #DDDDDD;
}

.bp-collapsible-grid tbody tr .payment-details-wrapper .NoRPaymentRecordsDiv p {
	margin: 0;
	padding: 14px 0px;
}

.bp-collapsible-grid tbody tr .payment-details-wrapper thead tr th:first-child {
	padding-left: 60px;
}

.bp-collapsible-grid tbody tr .payment-details-wrapper tbody {
	background: var(--light-grey3);
}

.bp-collapsible-grid tbody tr .payment-details-wrapper .NoRPaymentRecordsDiv {
	display: block;
	background: var(--light-grey3);
	text-align: center;
	font-size: 12px;
	color: var(--grey);
}

.bp-collapsible-grid tbody tr .payment-details-wrapper tbody tr td {
	color: var(--dark-grey2);
	font-size: 14px;
	border: 0;
	padding: 5px 18px;
}

.bp-collapsible-grid tbody tr .payment-details-wrapper tbody tr .hyperLink a:hover,
.bp-collapsible-grid tbody tr .payment-details-wrapper tbody tr .hyperLink a:active,
.bp-collapsible-grid tbody tr .payment-details-wrapper tbody tr .hyperLink a:focus,
.bp-collapsible-grid tbody tr .payment-details-wrapper tbody tr .hyperLink a {
	outline: none;
	color: var(--blue-link);
	line-height: 19px;
	height: 19px;
	-ms-flex-item-align: center;
	    align-self: center;
	float: left;
}

.bp-collapsible-grid tbody tr .payment-details-wrapper tbody tr .hyperLink a:hover {
	text-decoration: underline;
}

.bp-collapsible-grid tbody tr .payment-details-wrapper tbody tr td span {
	line-height: 19px;
}

.bp-collapsible-grid tbody tr .payment-details-wrapper tbody tr td:first-child {
	padding-left: 60px;
}

.ReconciliationPopup .modal-dialog {
	width: 580px;
}

.ReconciliationPopup .modal-body .Modal-Info-Area .subheading span {
	display: block;
}

@media (max-width: 851px) {
	.sideBarWrapperContent {
		width: 100%;
	}
	.bp-collapsible-grid-container {
		width: 100%;
	}
	.sideBarWrapperContent .RedDotMean span {
		margin-left: 54.1px;
	}
	.sideBarWrapperContent .RedDotMean:before {
		left: 49.1px;
	}
	.sidebar .calenderTable {
		margin-bottom: 12px;
	}
}

@media (min-width: 882px) and (max-width: 981px) {
	.sideBarWrapperContent {
		width: 24%;
	}
	.bp-collapsible-grid-container {
		width: 74%;
	}
}

@media (min-width: 852px) and (max-width: 985px) {
	.bp-collapsible-grid tbody tr .payment-details-wrapper tbody tr td span {
		height: auto;
		line-height: initial;
	}
}

@media (max-width: 768px) {
	.bp-collapsible-grid tbody tr .payment-details-wrapper tbody tr td span {
		height: auto;
		line-height: initial;
	}
}

@media (min-width: 981px) {
	.sidebarWrapper {
		margin: 0;
	}
}

@media (min-width: 982px) and (max-width: 1100px) {
	.bp-collapsible-grid-container {
		width: 76%;
	}
}

@media (min-width: 1101px) and (max-width: 1230px) {
	.sideBarWrapperContent {
		width: 19%;
	}
	.bp-collapsible-grid-container {
		width: 74%;
	}
}

@media (min-width: 1231px) {
	.sideBarWrapperContent {
		width: 17%;
	}
	.bp-collapsible-grid-container {
		width: 73%;
	}
}

@media (min-width: 851px) and (max-width: 950px), (max-width: 714px) {
	.reconciledStatusContainer .calenderNavigation.bp-alignment-right {
		float: left;
	}
	.reconciledStatusContainer .calenderNavigation.bp-alignment-right li {
		float: right;
		margin-right: 0px;
	}
	.reconciledStatusContainer .calenderNavigation.bp-alignment-right .greyText {
		margin-right: 3px;
	}
	.calenderArea .calenderHeader .dateHeader {
		width: 80%;
	}
	.calenderArea .calenderHeader .reconciledStatusDateHeader {
		height: 56px;
		padding: 14px 0px;
	}
	.calenderArea .calenderHeader .statusHeader {
		width: 20%;
	}
}

@media (min-width: 715px) and (max-width: 782px) {
	.calenderArea .calenderHeader .dateHeader {
		width: 62%;
	}
	.calenderArea .calenderHeader .statusHeader {
		width: 38%;
	}
}

.bp-hasEyebrow {
	margin-left: 0;
}

.CashReconciliationWrapper i {
	float: left;
}

.cash-reconciliation-header-wrapper {
	width: 85%;
	margin: 0 auto;
}

.bp-top-header .cash-reconciliation-header-wrapper ul li {
	position: relative;
	margin-left: 10px;
}

.bp-top-header .cash-reconciliation-header-wrapper ul li:first-child {
	margin-left: 0px;
}

.bp-top-header .cash-reconciliation-header-wrapper ul li + li:before {
	content: '';
	width: 5px;
	height: 5px;
	border-right: 1px solid var(--grey);
	border-bottom: 1px solid var(--grey);
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin-bottom: 0px;
	position: absolute;
	top: 5px;
	left: -9px;
}

/* Start: Multi Cash Drawer */
.multi-cash-drawer-container .multi-cash-drawer-header-left,
.multi-cash-drawer-container .multi-cash-drawer-items .variance-total,
.multi-cash-drawer-container .multi-cash-drawer-items .payment-records-wrapper span,
.multi-cash-drawer-container .transaction-type-items .variance-total,
.multi-cash-drawer-container .transaction-type-items .drawer-records-wrapper span {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.multi-cash-drawer-container .reconcile-btn {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.multi-cash-drawer-container .reconcile-btn button {
	padding: 14px 32px;
}

.multi-cash-drawer-container .reconcile-btn button:disabled {
	background: var(--grey3);
	cursor: not-allowed;
}

.bp-filledCircle.submitted-status-bg-color {
	margin-top: 10px;
}

.bp-filledCircle.submitted-status-bg-color:before {
	background: var(--cyan);
}

/* End: Multi Cash Drawer */
/* Start: Multi Cash Drawer Header */
.multi-cash-drawer-container .multi-cash-drawer-header {
	margin: 8px 0 34px 0;
}

.multi-cash-drawer-container .multi-cash-drawer-header-left .tab-btns {
	height: 38px;
	border-color: var(--bp-blue-dark);
	border-radius: 0;
	padding: 6px 35px;
	background: var(--white);
	color: var(--bp-blue);
}

.multi-cash-drawer-container .multi-cash-drawer-header-left .tab-btns:not(.selected):hover {
	background: var(--bp-blue-light2);
}

.multi-cash-drawer-container .multi-cash-drawer-header-left .tab-btns.selected {
	background-color: var(--bp-blue-dark);
	color: var(--white);
}

.multi-cash-drawer-container .multi-cash-drawer-header-left .tab-btns:first-child {
	border-radius: 3px 0 0 3px;
}

.multi-cash-drawer-container .multi-cash-drawer-header-left .tab-btns:last-child {
	border-radius: 0 3px 3px 0;
}

.multi-cash-drawer-container .multi-cash-drawer-header-right .print-icon + a {
	margin-left: 5px;
}

/* End: Multi Cash Drawer Header */
/* Start: Multi Cash Drawer - Drawer And Transaction View and DraWer Header */
.multi-cash-drawer-container .multi-cash-drawer-items.multi-cash-drawer-items-header,
.multi-cash-drawer-container .transaction-type-items.transaction-type-items-header {
	padding: 0 25px;
	border: none;
}

.multi-cash-drawer-container .multi-cash-drawer-items.multi-cash-drawer-items-header,
.multi-cash-drawer-container .transaction-type-items.transaction-type-items-header,
.multi-cash-drawer-container .transaction-type-items.transaction-type-items-header .drawer-records-wrapper .drawer-name {
	letter-spacing: 0.6px;
}

.multi-cash-drawer-container .multi-cash-drawer-items .cash-drawer-name,
.multi-cash-drawer-container .transaction-type-items .transaction-type {
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
}

.multi-cash-drawer-container .multi-cash-drawer-items .payment-records-wrapper,
.multi-cash-drawer-container .transaction-type-items .drawer-records-wrapper {
	-webkit-box-flex: 3;
	    -ms-flex: 3;
	        flex: 3;
}

.multi-cash-drawer-container .multi-cash-drawer-items .payment-records-wrapper .processed,
.multi-cash-drawer-container .multi-cash-drawer-items .payment-records-wrapper .actual,
.multi-cash-drawer-container .multi-cash-drawer-items .variance-total,
.multi-cash-drawer-container .transaction-type-items .drawer-records-wrapper .processed,
.multi-cash-drawer-container .transaction-type-items .drawer-records-wrapper .actual,
.multi-cash-drawer-container .transaction-type-items .variance-total {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.accountSettingsDashboard .dashboardOptions .drawer-header .drawer-name,
.multi-cash-drawer-container .multi-cash-drawer-items-total .total span {
	font-size: 18px;
	font-weight: 600;
}

.accountSettingsDashboard .dashboardOptions .drawer-header .drawer-header-right,
.multi-cash-drawer-container .multi-cash-drawer-header-right {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.accountSettingsDashboard .dashboardOptions .drawer-header .drawer-header-right .print-icon,
.multi-cash-drawer-container .multi-cash-drawer-header-right .print-icon {
	width: 20px;
	height: 20px;
	background: none;
}

/* End: Multi Cash Drawer - Drawer And Transaction View and DraWer Header */
/* Start: Multi Cash Drawer - Drawer View */
.multi-cash-drawer-container .multi-cash-drawer-items {
	padding: 15px 25px;
	border: 1px solid var(--grey4);
	border-radius: 3px;
}

.multi-cash-drawer-container .multi-cash-drawer-items:not(.multi-cash-drawer-items-total):not(.multi-cash-drawer-items-header):hover {
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
	        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.multi-cash-drawer-container .multi-cash-drawer-items .cash-drawer-name .drawer-name {
	-ms-flex-item-align: start;
	    align-self: flex-start;
	display: block;
}

/* End: Multi Cash Drawer - Drawer View */
/* Start: Multi Cash Drawer - Transaction Type View */
.multi-cash-drawer-container .transaction-type-items {
	padding: 18px 25px;
	border: 1px solid var(--grey4);
	border-radius: 3px;
}

.multi-cash-drawer-container .transaction-type-items .transaction-type .payment-method-icon {
	width: 28px;
	height: 28px;
	background: none;
}

.multi-cash-drawer-container .transaction-type-items .transaction-type .payment-method-icon + p {
	margin-left: 20px;
	float: left;
}

.multi-cash-drawer-container .transaction-type-items .drawer-records-wrapper .drawer-name {
	letter-spacing: -0.1px;
}

/* End: Multi Cash Drawer - Transaction Type View */
/* Start: Cash Drawer Detail view Header */
.accountSettingsDashboard .dashboardOptions .row > .single-drawer-date-header {
	margin-bottom: 44px;
}

.accountSettingsDashboard .dashboardOptions .drawer-header .drawer-header-left {
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.accountSettingsDashboard .dashboardOptions .drawer-header .drawer-header-left a.arrow-back {
	border-radius: 50px;
	background: var(--bp-blue);
	width: 18px;
	height: 18px;
	position: relative;
}

.accountSettingsDashboard .dashboardOptions .drawer-header .drawer-header-left a.arrow-back:hover {
	background: var(--bp-blue-hover);
}

.accountSettingsDashboard .dashboardOptions .drawer-header .drawer-header-left a.arrow-back:before {
	content: '';
	width: 8px;
	height: 8px;
	border-left: 1.5px solid var(--white);
	border-top: 1.5px solid var(--white);
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-flex-item-align: end;
	align-self: flex-end;
	margin-bottom: 0px;
	position: absolute;
	top: 5px;
	left: 6px;
}

.accountSettingsDashboard .dashboardOptions .drawer-header .drawer-header-left a.arrow-back + span {
	margin-left: 7px;
}

.accountSettingsDashboard .dashboardOptions .drawer-header .drawer-header-right .print-icon + a {
	margin-left: 10px;
}

/* End: Cash Drawer Detail view Header */
/* Start: Global Css */
.display-flex-align-item-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.display-flex-justify-content-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.display-flex-items-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.bp-grey1-font {
	color: var(--grey1) !important;
}

.bp-oval-cyan-light {
	background: var(--cyan-light);
	border-color: var(--cyan-light);
}

.bp-oval-coral-light {
	background: var(--coral-light);
	border-color: var(--coral-light);
}

.bp-oval-green-light {
	background: var(--green-light);
	border-color: var(--green-light);
}

/* End: Global Css */

/*# sourceMappingURL=scss/maps/CashReconciliation.css.map */
