.margin-top-2 .send-message-text-area {
	color: var(--dark-grey1);
	padding-right: 30px;
	max-width: 428px;
	max-height: 155px;
	height: 155px;
}

.SendSMSModal .form {
	margin-top: 36px;
}

.SendSMSModal .userGroupInfoArea .form-control {
	padding-right: 30.14px;
}

.margin-top-2 {
	margin-top: 2px;
}

.SendSMSModal .formBtn {
	margin-top: 30px;
	display: inline-block;
	height: 50px;
}

.SendSMSModal .chkCircle {
	width: 14.72px;
	height: 14.72px;
	display: inline-block;
	position: relative;
	top: 3px;
	left: -78px;
}

.SendSMSModal.CreateGroupModal .createButton {
	line-height: 18px;
	padding: 18px 29px 14px;
}

.SendSMSModal .searchInputArea .searchInput {
	padding-left: 17px;
}

.SendSMSModal .searchInputArea i {
	position: absolute;
	top: 17px;
	z-index: 10;
	size: 3px;
	height: 16px;
	right: 17px;
	float: right;
	left: auto;
}

.clickable_row .msgText {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 209px;
}

.clickable_row .msgText:hover {
	text-overflow: clip;
	white-space: normal;
	word-break: break-all;
}

.text-now-but {
	width: 181px;
	height: 50px;
}

.send-msg-animation,
.send-msg-animation.hover,
.send-msg-animation:disabled {
	width: 50px;
	height: 50px;
	color: var(--bp-blue);
	border-radius: 50%;
	-webkit-transition-duration: .5s;
	        transition-duration: .5s;
	background-color: var(--bp-blue) !important;
	font-size: 0;
	content: "text";
}

.SendSMSModal .formBtn .sentBtn,
.SendSMSModal .formBtn .sentBtn:disabled {
	color: white !important;
	background-color: var(--green) !important;
	-webkit-transition-duration: .5s;
	        transition-duration: .5s;
	content: "Sent";
	text-transform: uppercase;
	cursor: default;
	text-align: left;
	padding-left: 60px;
}

.spinner,
.bp-sendMsg-spinner {
	margin: 0px auto;
	width: 50px;
	height: 15px;
	text-align: center;
	font-size: 10px;
	margin-top: -47px;
}

.spinner > div,
.bp-sendMsg-spinner > div {
	background-color: #FFFFFF;
	height: 6px;
	width: 6px;
	display: inline-block;
	border-radius: 50%;
	opacity: .5;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2,
.bp-sendMsg-spinner .rect2 {
	-webkit-animation-delay: -2s;
	animation-delay: -2s;
}

.spinner .rect3,
.bp-sendMsg-spinner .rect3 {
	-webkit-animation-delay: -3s;
	animation-delay: -3s;
}

@-webkit-keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		-webkit-transform: translateY(16px);
		opacity: .5;
	}
	20% {
		-webkit-transform: translateY(4px);
		opacity: 1;
	}
}

@keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		transform: translateY(16px);
		-webkit-transform: translateY(16px);
		opacity: .5;
	}
	20% {
		transform: translateY(4px);
		-webkit-transform: translateY(4px);
		opacity: 1;
	}
}

.SendEmailModal .modal-body .form .disabledText {
	color: var(--grey);
}

.SendEmailModal .modal-body .form .redborder {
	border: 1px solid var(--red);
}

.SendEmailModal .modal-body .form input {
	margin-bottom: 15px;
}

.SendEmailModal .modal-body .form input::-webkit-input-placeholder {
	color: var(--grey);
	font-size: 14px;
}

.SendEmailModal .modal-body .form input:-ms-input-placeholder {
	color: var(--grey);
	font-size: 14px;
}

.SendEmailModal .modal-body .form input::-ms-input-placeholder {
	color: var(--grey);
	font-size: 14px;
}

.SendEmailModal .modal-body .form input::placeholder {
	color: var(--grey);
	font-size: 14px;
}

.SendEmailModal .modal-body .form input {
	color: var(--dark-grey1);
	font-size: 14px;
	border: 1px solid var(--light-grey1) !important;
}

.SendEmailModal .modal-body .form input:focus {
	border-color: #DDDDDD;
}

.SendEmailModal .modal-body .form .searchInputArea .display-email-type-text {
	position: absolute;
	top: 15px;
	z-index: 1000;
	color: var(--grey);
}

.SendEmailModal .modal-body .form .bp-switchLabel.adjust-email-display {
	width: calc(100% - 55px);
	text-align: left;
}

.SendEmailModal .modal-body .form .adjust-email-display .add-ellipsis-property {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
	display: block;
}

/*# sourceMappingURL=scss/maps/CustomerMessagingPopup.css.map */
