.search-dealer-container {
    margin-top: 57px;
    flex-wrap: wrap;
    background: transparent;
    border: none;
    padding: 0;
}
.search-dealer-container .g-search-box-droplet p{
    color:var(--grey1);
    opacity: 0;
    line-height: 0;
}
.search-dealer-container .g-search-box-droplet.active p {
    opacity: 1;
    line-height: 20px;
}
.g-result-container {
    background: var(--white);
    border: 1px solid var(--grey4);
    border-radius: 3px;
    margin-top: 21px;
    margin-bottom: 40px;
    padding-top: 0px;
}
.g-result-container .grid-row {
    margin: 0px;
    max-width: 100%;
    flex: 0 0 100%;
}
.g-result-container .grid-row div {
    padding: 20px 0px 0px 0px;
}
.g-result-container .grid-row .compo-title {
    padding-top: 29px;
    padding-bottom: 5px;
    font-size: 16px;

}
.g-result-container .grid-row  .product-title {
    padding-top: 20px !important;
    padding-bottom: 11px !important;
    font-size: 14px;
}
.g-result-container .grid-row div strong {
    width: 50%;
    display: inline-flex;
}
.g-result-container .line-break{
    display: flex;
    flex: 0 0 100%;
}
.dealer-search-icon {
    position: absolute;
    top: 54px;
    background: transparent;
    z-index: 10;
    width: 18px;
    height: 18px;
    right: 16px;
}
.dealer-close-search {
    position: absolute;
    top: 57px;
    background: transparent;
    z-index: 10;
    width: 18px;
    height: 18px;
    right: 16px;
    color: var(--bp-blue); 
    font-weight: 600;
    text-indent: -9999px;
}
.dealer-close-search:before,.dealer-close-search:after {
    content: '';
    position: absolute;
    width: 1px;
    border-radius: .5px;
    background-color: var(--bp-blue);
    height: 12px;
    text-indent: unset;
    right: 6px;
}
.dealer-close-search:before {
    transform: rotate(45deg);
}
.dealer-close-search:after {
    transform: rotate(-45deg);
}
.dealer-close-search:hover{
    text-decoration: none;
}
@-moz-document url-prefix() {
    .g-result-container .grid-row .compo-title {
        padding-bottom: 0px;
    }
    .g-search-box .brp-main-container {
        flex-wrap: wrap;
    }
    .g-search-box .brp-main-container .g-search-box-droplet.active {
        top: 85px !important;
    }
}
.brp-main-container,.search-dealer-container {
    width: 90%;
}

.brp-main-container .g-search-box-droplet.active {
    max-height: 290px;
    top: 92px;
}

.brp-main-container .g-search-box-droplet.active a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.brp-main-container .brp-section-container {
    padding-bottom: 35px;
    padding-top: 0px;
}
.brp-section-container ul li {
    text-transform: uppercase;
    line-height: 20px;
}