.editPricingDetailsModal {
	font-family: barlow;
	overflow-y: auto !important;
}

.editPricingDetailsModal .modal-dialog {
	max-width: 678px;
}

.editPricingDetailsModal .modal-content {
	width: 678px;
}

.editPricingDetailsModal .modal-body {
	text-align: left;
	padding: 37px 58px 25px 58px;
}

.editPricingDetailsModal .editPricingDetailsContent form {
	padding-top: 17px;
}

.editPricingDetailsContent .edit-price-form-group-label {
	color: var(--dark-grey2);
	font-size: 16px;
	line-height: 19px;
}

.editPricingDetailsContent .edit-price-refresh-link {
	text-decoration: underline;
    line-height: 20px;
}

.editPricingDetailsModal .CreateGroupModal .modal-body .userGroupInfoArea .heading {
	line-height: 14px;
}

.editPricingDetailsContent .bp-switchLabel {
	text-transform: uppercase;
	color: var(--grey);
	font-size: 14px;
	line-height: 17px;
}

.editPricingDetailsContent .bp-switch {
	margin: 0px 12px;
}

.editPricingDetailsContent .toggler-with-input {
	padding-top: 6px;
	padding-bottom: 6px;
}

.editPricingDetailsContent .toggler-without-input {
	padding-top: 21px;
	padding-bottom: 12px;
}

.editPricingDetailsContent .bottom-padded-toggler {
	padding-bottom: 12px;
}

.editPricingDetailsModal .bp-btn-medium {
	width: 181.57px;
}

.editPricingDetailsModal .button-div-top-margined {
	margin-top: 15px;
}

.editPricingDetailsModal .heading {
	line-height: 14px;
}

.table-in-modal {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 12px;
	table-layout: fixed;
}

.table-in-modal td,
.table-in-modal th {
	border-bottom: 1px solid var(--light-grey1);
	padding: 1.5px 15px;
}

.table-in-modal .long-text-ellipses {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.table-in-modal td:last-child,
.table-in-modal th:last-child {
	padding-right: 0px;
}

.table-in-modal th {
	font-size: 12px;
	line-height: 14px;
	color: var(--grey);
	text-transform: uppercase;
	letter-spacing: .05em;
	padding-bottom: 10px;
}

.table-in-modal td {
	background: #eff6ff;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	color: var(--dark-grey2);
}

.table-in-modal td input[type="text"] {
	width: 80px;
	height: 36px;
	text-align: center;
	padding: 15px 10px 15px 23px;
	font-weight: 400;
}

.editPricingDetailsModal .input-box-edit-price {
	margin-top: 2px;
}

.editPricingDetailsModal .base-unit-input-box {
	padding-bottom: 6px;
}

.editPricingDetailsModal .bp-input-text {
	color: var(--dark-grey2);
	line-height: 17px;
	padding-left: 25px;
}

.editPricingDetailsModal .dollar {
	position: absolute;
	top: 52%;
	transform: translateY(-50%);
	left: 25px;
}

.editPricingDetailsModal .base-unit-label {
	padding-top: 7px;
	color: var(--dark-grey2);
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	padding-bottom: 23px;
}

.editPricingDetailsModal .table-in-modal .currency-input {
	position: relative;
}

.editPricingDetailsModal .edit-price-save-btn-table {
	width: 65px;
	border-radius: 0px;
	height: 37px;
	padding: 0px;
}

.editPricingDetailsModal .edit-price-save-btn {
	height: 50px;
}

.bp-font-12 {
	font-size: 12px;
}

.editPricingDetailsModal .padding-bottom-52 {
	padding-bottom: 52px;
}

.bp-font-weight-400 {
	font-weight: 400;
}

@-moz-document url-prefix() {
	.table-in-modal td.ptb0 input[type="text"] {
		padding-bottom: 0px;
		padding-top: 0px;
	}
}