i svg {
	height: inherit !important;
	width: inherit !important;
}

.svg_width svg {
	stroke-width: 1.5px;
}

.bp-blue svg {
	stroke: var(--bp-blue);
	stroke-width: 1.5px;
}

.svg_width_2px svg {
    stroke-width: 2px;
}

a .bp-blue svg:hover {
	stroke: var(--bp-blue-hover);
}

.bp-blue-thick svg {
	stroke: var(--bp-blue);
	stroke-width: 3px;
}

.blue_00A3DB svg {
	stroke: var(--bp-blue);
	stroke-width: 1.5px;
}

.blue_008DC1 svg {
	stroke: var(--bp-blue);
	stroke-width: 1.5px;
}

a .blue_008DC1 svg:hover {
	stroke: var(--bp-blue-hover);
}

.bp-blue3384ff svg {
	stroke: var(--bp-blue);
	stroke-width: 1.5px;
}

.hover_blue_00A3DB svg:hover {
	stroke: var(--bp-blue-hover);
}

.feeAction svg:hover path,
.feeAction svg:hover rect {
	fill: var(--bp-blue-hover) !important;
}

.green_00A3DB svg {
	stroke: var(--bp-blue);
	stroke-width: 1.5px;
}

.bp-blue .masterCardIcon path.fillColor,
.bp-blue .masterCardIcon polygon,
.blue_008DC1 .masterCardIcon path.fillColor,
.blue_008DC1 .masterCardIcon polygon,
.bp-blue .amexIcon path.fillColor,
.bp-blue .amexIcon polygon.fillColor,
.blue_008DC1 .amexIcon path.fillColor,
.blue_008DC1 .amexIcon polygon.fillColor {
	fill: var(--bp-blue);
}

.blue_3384FF svg {
	stroke: var(--bp-blue);
	stroke-width: 1.5px;
}

.icon_fill_light-grey1 svg {
    fill: var(--light-grey1);
}

.icon_fill_light-grey1 svg:hover {
    fill: var(--bp-blue-hover);
}

.icon_fill_dark-grey1 svg {
    fill: var(--dark-grey1);
}

.icon_fill_dark-grey1 svg:hover {
    fill: var(--bp-blue-hover);
}

.icon_fill_dark-grey1.no-hover-icon_fill_dark-grey1 svg:hover {
	fill: var(--dark-grey1) !important;
}

.icon_fill_blue svg {
	fill: var(--bp-blue);
}

.icon_fill_white svg {
	fill: var(--white);
}

.icon_fill_yellow-hover svg {
	fill: var(--yellow-hover);
}

.bp-blue_NewCO svg {
	stroke: var(--bp-blue);
	stroke-width: 1.5px;
}

.dark-grey1 svg {
	stroke: var(--dark-grey1);
	stroke-width: 1.5px;
}

.dark-grey-2 svg {
	stroke: var(--dark-grey2);
	stroke-width: 1.5px;
}

.dark-grey-2-fill svg {
	fill: var(--dark-grey2);
}
.black_525252 svg {
	stroke: var(--dark-grey2);
	stroke-width: 1.5px;
}

.gray_525252 svg {
	stroke: var(--dark-grey2);
}

.black_4A4A4A svg {
	stroke: var(--dark-grey1);
}

.grey_DDDDDD .calendarIcon path {
	fill: var(--grey);
}


.grey_DDDDDD .calendarIcon rect {
	fill: var(--grey);
}

.bp-blue .calendarIcon path {
    fill: var(--bp-blue);
}

.bp-blue .calendarIcon rect {
    fill: var(--bp-blue);
}

.gray_979797 svg {
	stroke: var(--grey);
}

.gray_979797_Width svg {
	stroke: var(--grey);
	stroke-width: .5;
}

.grey .receiveIcon {
	fill: var(--grey);
}

.black_808080 svg {
	stroke: var(--grey);
	stroke-width: 1.5px;
}

.disabledIcon svg {
	stroke: var(--grey) !important;
	stroke-width: 1.5px;
}

.gray_727983 svg {
	stroke: var(--grey);
	stroke-width: 1.5px;
}

.grey svg {
	stroke: var(--grey);
	stroke-width: 1.5px;
}

.light-grey svg {
	stroke: var(--light-grey);
    stroke-width: 1.5px;
}

.light-grey1 svg {
	stroke: var(--light-grey1);
	stroke-width: 1.5px;
}

.red_FF6458 svg {
	stroke: var(--red);
	stroke-width: 1.5px;
}
.red_EB5757 svg {
	fill: #EB5757;
	stroke-width: 1.5px;
}

.svg_width_red svg {
	stroke-width: 1.5px;
}

.fill_red_FF6458 svg {
	fill: var(--red);
}

.white svg {
	stroke: var(--white);
	stroke-width: 1.5px;
}

.white_FFF svg {
	stroke: var(--white);
	stroke-width: 1.5px;
}

.white_FFF_NewCO svg {
	stroke: var(--white);
	stroke-width: 2;
}

.green .addIcon .addline {
	stroke: var(--white);
	stroke-width: 1.5px;
}

.orange_ff6600 svg {
	stroke: var(--orange);
	stroke-width: 1.5px;
}

.orange_f18b12 svg {
	stroke: var(--orange);
	stroke-width: 1.5px;
}

.hover_orange_ff6600 svg:hover {
	troke: var(--orange-hover);
	stroke-width: 1.5px;
}

.yellow svg {
	stroke: var(--yellow);
	stroke-width: 1.5px;
}

.green .addIcon .addCircle {
	fill: var(--green);
}

.purple_dark svg {
	stroke: var(--purple-dark);
	stroke-width: 1.5px;
}

.cyan_dark svg {
	stroke: var(--cyan-dark);
	stroke-width: 1.5px;
}

i .account-settings{
  height:30px !important;
  width:30px !important;
  fill: none;
  stroke: var(--bp-blue);
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin:round;
  stroke-miterlimit: 10;
}

polygon.no-stroke{
  stroke-width:0px;
  fill:var(--bp-blue);
}

.manualUpload svg {
	stroke: var(--bp-blue);
}

.manualUpload svg path {
	fill: var(--bp-blue);
}

.manualUpload svg ellipse {
	fill: var(--bp-blue);
}

.manualUpload svg path:last-child {
	stroke: var(--white);
}

.manualUpload-dark-grey1 svg {
    stroke: var(--dark-grey1);
}

.manualUpload-dark-grey1 svg path {
    fill: var(--dark-grey1);
}

.manualUpload-dark-grey1 svg ellipse {
    fill: var(--dark-grey1);
}

.manualUpload-dark-grey1 svg path:last-child {
    stroke: var(--white);
}

.paymentMethod svg {
	stroke: var(--white);
	stroke-width: 1.5;
}