.bp-job-clocking-wrapper .bp-close-but {
	margin: -31px -15px 0 0;
}

.bp-job-clocking-wrapper .bp-subHeader {
	background: #000000;
	border-radius: 3px 3px 0 0;
}

.bp-flex-grid-container {
	display: flex;
}

.bp-flex-grid-container .bp-grid-column {
	flex: 1;
	display: flex;
	align-items: center;
}

.bp-job-clocking-wrapper .bp-top-header h1 {
	font-size: 28px;
}

.bp-job-clocking-wrapper ul.bp-sub-header-menu-item li {
	margin: 0 4.842% 0 0;
}

.bp-job-clocking-wrapper ul.bp-sub-header-menu-item li a {
	color: var(--bp-blue);
}

.bp-job-clocking-wrapper .container .bp-blue-navBar ul.bp-sub-header-menu-item li a:hover {
	color: var(--bp-blue-hover);
}

.bp-job-clocking-wrapper .modal-dialog {
	width: 98%;
}

.bp-job-clocking-wrapper .jobsSearch {
	display: table;
	position: relative;
	top: 7px;
}

.bp-job-clocking-wrapper .jobsSearch .bp-cell {
	display: table-cell;
	vertical-align: top;
}

.bp-job-clocking-wrapper .jobsSearch .bp-cell:first-child {
	width: 60px;
}

.bp-job-clocking-wrapper .modal-backdrop.in {
	background-color: var(--dark-grey);
	opacity: 0.7;
}

.bp-job-clocking-wrapper .jobsSearch .storeAvatar {
	width: 50px;
	height: 50px;
	line-height: 62px;
	text-align: center;
	border-radius: 100%;
	background: var(--bp-blue);
}

.bp-job-clocking-wrapper .jobsSearch .storeAvatar svg {
	width: 24px !important;
	height: auto !important;
}

.bp-job-clocking-wrapper .jobsSearch input[type="text"] {
	height: 50px;
}

.bp-job-clocking-wrapper .jobsSearch input {
	font-size: 14px;
	padding-left: 43px;
	margin-bottom: 0;
}

.bp-job-clocking-wrapper .jobsSearchInput {
	position: relative;
}

.bp-job-clocking-wrapper .jobsSearchInput i {
	position: absolute;
	top: 15px;
	left: 15px;
	height: 20px;
	width: 20px;
}

.bp-job-clocking-wrapper .jobStatus {
	border-radius: 15px;
	color: var(--white);
	padding: 5px 12px;
	min-width: 68px;
	font-size: 12px;
	line-height: 17px;
	text-align: center;
	font-weight: 600;
}

.bp-job-clocking-wrapper .modal-dialog {
	width: 90%;
}

.bp-job-clocking-wrapper .GroupSummaryWrapper {
	width: 100%;
}

.jobsList {
	margin: 0 auto;
	background: var(--white);
}

.jobId a:hover,
.jobId a:focus {
	text-decoration: none;
}

.jobEntry .jobHeader .bp-grid-column {
	padding: 2px 10px;
	min-height: 70px;
}

.jobEntry .jobHeader .bp-grid-column.counter {
	flex: 2;
	padding-left: 20px;
	position: relative;
}

.jobEntry {
	border: 1px solid var(--light-grey1);
	border-bottom: none;
}

.jobEntry:last-child {
	border-bottom: 1px solid var(--light-grey1);
}

.jobEntry .jobHeader .jobId .number {
	display: block;
	color: var(--bp-blue);
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.jobEntry .jobHeader .jobId .pay {
	display: block;
	color: var(--dark-grey2);
	font-size: 14px;
}

.jobEntry .jobHeader .jobVehicle .name {
	display: block;
	color: var(--dark-grey2);
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
}

.jobEntry .jobHeader .jobVehicle .customer {
	display: inline-block;
	color: var(--grey);
	font-size: 14px;
	line-height: 19px;
	word-break: break-word;
}

.jobEntry .jobHeader .techniciansList {
	width: 100%;
	margin: 5px 0;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.jobEntry .jobHeader .techniciansList>li {
	display: inline-block;
	margin-left: 3px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	position: relative;
	cursor: pointer;
}

.jobEntry .jobHeader .techniciansList>li .circle {
	width: 50px;
	height: 50px;
	line-height: 46px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	color: var(--grey);
	border: 1px dashed var(--grey);
	border-radius: 100%;
	text-transform: uppercase;
}

.jobEntry .jobHeader .techniciansList li.available .circle {
	background: var(--light-grey1);
	border: 1px solid var(--light-grey1);
}

.jobEntry .jobHeader .techniciansList li.working .circle {
	background: var(--green);
	border: 1px solid var(--green);
	color: var(--white);
}

.jobEntry .jobHeader .techniciansList .addNew .circle {
	transform: rotate(-45deg);
	transition: all .5s;
	border-radius: 100%;
	line-height: 52px;
}

.jobEntry .jobHeader .techniciansList .addNew:hover .circle {
	background: var(--light-grey3);
}

.jobEntry .jobHeader .techniciansList .addNew i {
	width: 19px !important;
	height: 19px !important;
}

.jobEntry .jobHeader .techniciansList .addNew svg {
	width: 19px !important;
	height: 19px !important;
}

.jobEntry .jobHeader .techniciansList .addNew .circle.rotate {
	transform: rotate(0deg);
	background: var(--light-grey2);
}

.clockingStaffPopup {
	background: var(--white);
	box-shadow: 0 15px 12px 0 rgba(0, 0, 0, 0.22), 0 19px 38px 0 rgba(0, 0, 0, 0.3);
	padding: 15px 20px;
	max-width: 400px;
	position: absolute;
	left: 50%;
	top: 80px;
	transform: translateX(-50%);
	z-index: 100001;
	border-radius: 3px;
	visibility: hidden;
	opacity: 0;
	border: 1px solid var(--light-grey1);
}

.clockingStaffremoveTech {
	background: var(--white);
	position: absolute;
	box-shadow: 0 15px 12px 0 rgba(0, 0, 0, 0.22), 0 19px 38px 0 rgba(0, 0, 0, 0.3);
	transform: translateX(-50%);
	z-index: 100001;
	transition: all .5s;
	border-radius: 3px;
	visibility: hidden;
	opacity: 0;
	max-width: 270px;
	padding: 25px 35px 25px;
}

.clockingStaffremoveTech:after,
.clockingStaffPopup:after {
	left: 50%;
	top: -19px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: var(--white);
	border-width: 10px;
	margin-left: -10px;
}

.clockingStaffPopup ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.clockingStaffPopup ul li {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	max-width: 100px;
	min-width: 69px;
	margin-bottom: 6px;
}

.clockingStaffPopup ul li .shortName {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 300;
	margin: 0 auto 5px;
	color: var(--white);
	background: var(--dark-grey2);
	border-radius: 100%;
	transition: all .3s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.clockingStaffPopup ul li:hover .shortName {
	box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
	transform: translateY(-1px);
}

.clockingStaffPopup ul li .fullName {
	font-size: 14px;
	line-height: 19px;
	font-weight: normal;
	max-width: 70px;
	color: var(--dark-grey1);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.clockingStaffPopup:before {
	left: 50%;
	top: -20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: var(--light-grey1);
	border-width: 10px;
	margin-left: -10px;
}

.clockingStaffPopup.reversePopup:after {
	left: 101%;
	top: 60%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: var(--white);
	border-width: 10px;
	margin-left: -10px;
}

.clockingStaffPopup.reversePopup:before {
	left: 101%;
	top: 60%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: var(--light-grey1);
	border-width: 10px;
	margin-left: -10px;
}

.jobEntry .jobHeader .jobTime .time {
	color: var(--green);
	font-size: 24px;
	font-weight: 600;
	line-height: 33px;
}

.jobEntry .jobHeader .jobTime .time:hover {
	color: var(--green-hover);
	transition: all .2s ease;
}

.jobEntry .jobHeader .off .jobTime .time:hover {
	color: var(--bp-blue-hover);
	transition: all .2s ease;
}

.jobEntry .jobHeader .jobTime .current {
	color: var(--green);
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}

.timeLogingContainer {
	background: #eafaf5;
}

.jobEntry .jobHeader .bp-grid-column.counter.timeLogingContainer .current {
	padding-left: 40px;
}

.technicianlistwrapper .techniciansList li .circle:hover {
	box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
	transform: translateY(-1px);
}

.jobEntry .jobHeader .bp-grid-column.counter.timeLogingContainer .time {
	padding-left: 40px;
}

.timeLogingContainer .timeLogingBtn {
	display: inline-block;
	position: absolute;
	left: 9px;
	color: var(--green);
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	height: 40px;
	z-index: 9;
}

.timeLogingContainer .timeLogingBtn:hover,
.otherTaskEntry .taskTime .timeLogingBtn:hover {
	box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
	border-radius: 100%;
	transform: translateY(-52%);
}

.jobEntry .timeLogingDetails {
	background: #EAFAF5;
	border-top: 1px solid var(--light-grey1);
	min-height: 247px;
}

.jobEntry .jobHeader .off .jobTime .time {
	color: var(--bp-blue);
}

.bp-btn-Assign-Tech {
	height: 40px;
	padding: 0 20px;
}

.bp-job-clocking-wrapper .modal-dialog {
	height: 90%;
}

.bp-job-clocking-wrapper .modal-content {
	height: 100%;
	background: var(--light-grey3);
}

.bp-job-clocking-wrapper .modal-body {
	height: 100%;
	padding: 0px;
}

.bp-job-clocking-wrapper .pageContent {
	height: calc(100% - 150px);
	overflow: auto;
	padding-top: 0;
}

.jobEntry .jobHeader a.detailToggle {
	position: absolute;
	/*right: 18px;
	top: 50%;
	transform: translateY(-50%);*/
	width: 100%;
    display: flex;
    z-index: 2;
    top: 0;
    left: 0;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    box-sizing:border-box;
}

.jobEntry .jobHeader a.detailToggle i {
	width: 15px;
	display: flex;
    width: 100%;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    z-index: 3;
    padding-right:20px;
}

.jobEntry .jobHeader a.detailToggle i svg {
	width:15px !important;
}

.jobDetails ul.userActivityList {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-left: 32px;
}

.jobDetails ul.userActivityList li {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 19px;
	font-weight: 400;
	color: var(--grey);
	padding-right: 10px;
}

.jobDetails ul.userActivityList li span strong {
	font-weight: 400;
	color: var(--dark-grey1);
}

.jobDetails {
	border-top: 0px solid var(--light-grey1);
	background-color: var(--light-grey3);
}

.jobDetails.bp-expand-div-transition {
	border-top: 1px solid var(--light-grey1);
}

.jobDetails .userActivityList .NameIntials {
	display: flex;
	height: 42px;
	width: 42px;
	min-width: 42px;
	max-width: 42px;
	background-color: var(--light-grey1);
	float: left;
	border-radius: 100%;
	margin-right: 12px;
	font-size: 14px;
	font-weight: 600;
	color: var(--grey);
	align-items: center;
	justify-content: center;
}

.bp-job-clocking-wrapper .searchResultOverlay {
	border-radius: 3px;
}

.searchResultOverlay ul {
	padding-top: 0;
}

.searchResultOverlay ul>li:nth-child(1) {
	margin-top: 11px;
}

.bp-job-clocking-wrapper .pageHeader {
	padding: 20px 0 15px;
}

.bp-job-clocking-wrapper .pageHeader .backLink {
	width: auto;
}

.bp-job-clocking-wrapper .pageHeader .backLink a i {
	margin-left: 0;
}

.bp-job-clocking-wrapper .pageHeader .clockMessage {
	font-size: 14px;
	color: var(--grey);
	padding-right: 5px;
}

.bp-top-header .circle {
	width: 48px;
	height: 48px;
	line-height: 46px;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	color: var(--white);
	background-color: var(--dark-grey2);
	border-radius: 100%;
}

.jobDetailsClockingStaff {
	border: 1px solid var(--light-grey1);
	background-color: #EAFAF5;
	height: 247px;
}

.bp-modal-backdrop {
	position: absolute;
	z-index: 100000;
	left: 5%;
	right: 5%;
	top: 5%;
	bottom: 5%;
}

.manageTaskList .searchforManageTaskList .searchInputAreaforTask {
	width: 35%;
}

.jobEntry .jobDetails.jobClckingNote {
	background: #EAFAF5;
}

.jobEntry .jobDetails.jobClckingNote .clocingOffHead {
	font-size: 14px;
	font-weight: 600;
}

.jobEntry .jobDetails.jobClckingNote .bp-grid-column {
	display: flex;
	padding: 2px 10px;
	align-items: center;
}

.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(1) {
	flex: 1;
	padding-left: 22px;
	min-width: 140px;
	max-width: 140px;
}

.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(2) {
	flex: 2;
	min-width: 150px;
	max-width: 150px;
}

.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(3) {
	flex: 4;
	display: block;
}

.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(4) {
	flex: 2;
	align-items: flex-end;
}

.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(5) {
	flex: 2;
	align-items: flex-end;
	justify-content: flex-end;
}

.jobEntry .jobDetails.jobClckingNote textarea.bp-input-text {
	min-height: 140px;
	resize: none;
}

.jobEntry .jobDetails.jobClckingNote button {
	margin-bottom: 5px;
}

.jobEntry .jobDetails.jobClckingNote button.skip {
	margin-right: 15px;
}

.jobClckingNoteWrapper {
	padding: 35px 0px;
	display: flex;
}

#bp-job-clocking .tooltip-inner {
	text-transform: capitalize;
}

.otherTaskEntry .bp-grid-column.on .taskTime {
	color: var(--green);
}

.otherTaskEntry .bp-grid-column.off .taskTime {
	color: var(--bp-blue);
}

.otherTaskList {
	margin: 0 auto;
	background: var(--white);
}

.manageTaskList {
	margin: 0 auto;
}

.otherTaskEntry {
	border: 1px solid var(--light-grey1);
	border-bottom: none;
}

.otherTaskEntry:hover {
	background: var(--light-blue);
}

.otherTaskEntry:last-child {
	border-bottom: 1px solid var(--light-grey1);
}

.otherTaskEntry .bp-grid-column {
	padding: 2px 10px;
	min-height: 70px;
	flex: 1;
}

.otherTaskEntry .bp-grid-column:nth-child(1) {
	padding-left: 26px;
	flex: 3;
}

.otherTaskEntry .taskName {
	display: block;
	color: var(--dark-grey2);
	font-size: 20px;
	font-weight: 600;
	line-height: 27px;
	width: 100%;
	text-align: left;
}

.otherTaskEntry .bp-grid-column.counter {
	min-width: 220px;
	max-width: 220px;
	padding-left: 75px;
	background: var(--light-blue);
	position: relative;
}

.otherTaskEntry .taskTime {
	color: var(--bp-blue);
	font-size: 24px;
	font-weight: 300;
	line-height: 33px;
}

.otherTaskEntry .taskTime .timeLogingBtn {
	font-size: 54px;
	display: inline-block;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.otherTaskEntry .bp-grid-column.actions {
	padding-right: 25px;
	justify-content: flex-end;
}

.otherTaskEntry .bp-grid-column.actions i {
	width: 14px;
	margin: 0 7px;
}

.otherTaskEntry .bp-grid-column.actions i svg {
	fill: var(--bp-blue);
}

.otherTaskEntry .bp-grid-column.actions i svg:hover {
	fill: var(--bp-blue-hover);
}

.bp-grid-column .taskTime .current {
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
}

.technicianlistwrapper {
	margin-right: 5px;
	margin-top: 5px;
}

.technicianlistwrapper .techniciansList li {
	display: inline-block;
	margin-left: 3px;
	position: relative;
	cursor: pointer;
}

.technicianlistwrapper .techniciansList li .circle {
	width: 48px;
	height: 48px;
	line-height: 46px;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	border-radius: 100%;
	text-transform: uppercase;
	background: var(--green);
	border: 1px solid var(--green);
	color: var(--white);
}

.otherTaskEntry .bp-grid-column.actions .shortName {
	background: var(--green);
	border-radius: 100px;
	color: var(--white);
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	margin-right: 15px;
	text-transform: uppercase;
}

.otherTaskEntry .bp-grid-column.createNewTask {
	background: var(--light-blue);
	justify-content: center;
	font-size: 20px;
	font-weight: 300;
}

.otherTaskEntry .bp-grid-column.createNewTask a {
	position: relative;
	top: 3px;
	text-decoration: none !important;
	color: var(--bp-blue);
	font-weight: 600;
}

.otherTaskEntry .bp-grid-column.createNewTask a:hover {
	color: var(--bp-blue-hover);
	transition: all .2s ease;
}

.jobEntry .jobHeader .techniciansList li.working .circle:hover,
.jobEntry .jobHeader .techniciansList li.available .circle:hover {
	box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
	transform: translateY(-1px);
}

.otherTaskEntry .bp-grid-column.createNewTask i {
	width: 30px;
	float: left;
	margin-right: 10px;
}

.bp-create-new-task .taskName .bp-input-text {
	width: 50%;
}

.jobId a.CoName {
	color: var(--bp-blue);
	display: inline-block;
}

.jobId a.CoName:hover {
	color: var(bp-blue-hover);
	transition: all .2s ease;
}

.jobEntry .jobHeader .columnForTab {
	display: flex;
}

.jobEntry .jobHeader .columnForTab.col1 {
	flex: 1;
	min-width: 290px;
	max-width: 290px;
}

.jobEntry .jobHeader .columnForTab.col2 {
	flex: 3;
}

.jobEntry .jobHeader .columnForTab.col3 {
	flex: 1;
	max-width: 220px;
	min-width: 220px;
}

.isTechnicianSelected .jobEntry .jobHeader .columnForTab.col3 {
	max-width: 240px;
	min-width: 240px;
}

.jobEntry .jobHeader .columnForTab.col1 .bp-grid-column:nth-child(1) {
	padding-left: 22px;
	max-width: 125px;
}

.jobEntry .jobHeader .columnForTab.col1 .bp-grid-column:nth-child(1) {
	max-width: 140px;
}

.jobDetails {
	display: block;
}

.jobDetails ul.userActivityList {
	display: block;
}

@media( max-width: 1024px) {
	.bp-job-clocking-wrapper .bp-wrapper-container .container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.bp-job-clocking-wrapper .modal-dialog {
		width: 95%;
	}
	.jobEntry .jobHeader .columnForTab {
		flex-direction: column;
	}
	.jobEntry .jobHeader .bp-grid-column {
		min-height: inherit;
	}
	.jobEntry .jobHeader .columnForTab.col1 {
		min-width: 160px;
		max-width: 160px;
		text-align: left;
		padding-left: 22px;
	}
	.jobEntry .jobHeader {
		min-height: 135px;
		align-items: center;
		position: relative;
	}
	.jobEntry .jobHeader .columnForTab.col1 .bp-grid-column:nth-child(1),
	.jobEntry .jobHeader .columnForTab.col1 .bp-grid-column {
		padding-left: 0;
	}
	.jobEntry .jobHeader .columnForTab.col1 .bp-grid-column:nth-child(1),
	.jobEntry .jobHeader .columnForTab.col2 .bp-grid-column:nth-child(1) {
		display: block;
		margin-bottom: 8px;
	}
	.jobEntry .jobHeader .columnForTab.col1 .bp-grid-column:nth-child(2),
	.jobEntry .jobHeader .columnForTab.col2 .bp-grid-column:nth-child(2) {
		display: block;
	}
	.jobEntry .jobHeader .columnForTab.col2 .bp-grid-column:nth-child(1) {
		margin-top: 8px;
	}
	.jobEntry .jobHeader .techniciansList {
		justify-content: flex-start;
		padding: 0;
		margin-top: 0;
	}
	.jobEntry .jobHeader .techniciansList>li {
		margin: 0 3px 5px 0;
	}
	.jobEntry .jobHeader .columnForTab.col2 {
		padding-right: 225px;
	}
	.jobEntry .jobHeader .columnForTab.col3 {
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
	}
	.jobEntry .jobHeader .bp-grid-column.counter {
		justify-content: center;
		padding-left: 10px;
		position: relative;
	}
	.isTechnicianSelected .jobEntry .jobHeader .bp-grid-column.counter .jobTime {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.timeLogingContainer .timeLogingBtn {
		position: static;
		transform: translateY(0);
	}
	.jobEntry .jobHeader .bp-grid-column.counter.timeLogingContainer .current,
	.jobEntry .jobHeader .bp-grid-column.counter.timeLogingContainer .time {
		padding-left: 0;
	}
	.isTechnicianSelected .jobEntry .jobHeader .columnForTab.col3 {
		max-width: 220px;
		min-width: 220px;
	}
	.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(1) {
		min-width: 160px;
		max-width: 160px;
	}
	.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(2) {
		display: none;
	}
}

@media( max-width: 800px) {
	.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(1) {
		display: none;
	}
	.bp-job-clocking-wrapper .jobsSearch .bp-cell:first-child {
		display: none;
	}
	.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(3) {
		padding: 2px 23px;
	}
}

@media( max-width: 991px) {
	.searchInputAreaforTask .searchResultOverlay {
		width: calc(100% - 15px);
	}
}

@media( max-width: 767px) {
	.bp-model-dialog .bp-top-header {
		padding-top: 15px;
	}
	.searchforManageTaskList .datePickerWrappercontainer {
		padding-right: 15px;
	}
	.bp-job-clocking-wrapper .modal-dialog {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	.bp-job-clocking-wrapper .jobsSearch .bp-cell:first-child {
		display: none;
	}
	.bp-job-clocking-wrapper .bp-close-but {
		margin: 0 13px 0 0;
	}
	.bp-job-clocking-wrapper .bp-close-but i svg {
		stroke: var(--bp-blue-hover);
		stroke-width: 2px;
	}
	.bp-job-clocking-wrapper .jobsSearch {
		float: none !important;
		width: 100%;
		margin: 5px 0 10px;
	}
	.bp-job-clocking-wrapper .pageContent {
		height: calc(100% - 170px);
	}
	.bp-job-clocking-wrapper ul.bp-sub-header-menu-item li {
		margin-right: 10px;
	}
	.bp-job-clocking-wrapper ul.bp-sub-header-menu-item li a {
		font-size: 10px;
	}
	.bp-job-clocking-wrapper .pageHeader .backLink {
		margin-bottom: 15px;
	}
	.jobsList {
		background: none;
	}
	.jobEntry {
		margin-bottom: 10px;
		background: var(--white);
	}
	.jobEntry .jobHeader {
		flex-direction: column;
		align-items: flex-start;
	}
	.jobEntry .jobHeader .columnForTab.col1 {
		max-width: 100%;
		min-width: 100%;
		flex-direction: row;
		padding-top: 10px;
	}
	.jobEntry .jobHeader .columnForTab.col1 .bp-grid-column:nth-child(1) {
		display: flex;
		flex: none;
		padding-right: 25px;
	}
	.jobEntry .jobHeader .columnForTab.col2 {
		padding-right: 12px;
		padding-left: 12px;
	}
	.jobEntry .jobHeader .techniciansList {
		margin-top: 8px;
	}
	.isTechnicianSelected .jobEntry .jobHeader .columnForTab.col3,
	.jobEntry .jobHeader .columnForTab.col3 {
		position: static;
		max-width: 100%;
		min-width: 100%;
	}
	.jobEntry .jobHeader .bp-grid-column.counter {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-left: 23px;
	}
	.jobDetails {
		border-bottom: 1px solid var(--light-grey1);
	}
	.jobEntry .jobHeader .bp-grid-column.counter {
		justify-content: left;
	}
	.timeLogingContainer .timeLogingBtn {
		position: absolute;
		transform: translateY(-45%);
		left: 22px;
	}
	.isTechnicianSelected .jobEntry .jobHeader .bp-grid-column.counter .jobTime {
		padding-left: 50px;
	}
	.bp-job-clocking-wrapper .pageContent {
		height: auto;
	}
	.bp-job-clocking-wrapper .modal-body {
		overflow-y: scroll;
	}
	.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(1) {
		min-width: 20px;
		max-width: 20px;
		padding: 0;
	}
	.jobClckingNoteWrapper {
		display: block;
		padding: 15px 23px;
		text-align: right;
	}
	.jobEntry .jobDetails.jobClckingNote .clocingOffHead {
		text-align: left;
	}
	.jobEntry .jobDetails.jobClckingNote button.skip {
		margin-right: 0;
	}
	.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(3) {
		padding: 10px 0;
	}
	.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(4),
	.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(5) {
		display: inline;
	}
	.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(5) {
		padding-right: 0;
	}
	.isTechnicianSelected .otherTaskEntry.bp-flex-grid-container {
		display: block;
	}
	.isTechnicianSelected .otherTaskEntry .bp-grid-column.counter {
		max-width: inherit;
	}
}

@media( max-width: 345px) {
	.bp-job-clocking-wrapper ul.bp-sub-header-menu-item li {
		margin-right: 4px;
	}
	.jobClckingNoteWrapper {
		padding: 15px;
	}
	.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(4),
	.jobEntry .jobDetails.jobClckingNote .bp-grid-column:nth-child(5) {
		padding: 4px 0;
	}
}

.jobEntry .jobHeader .bp-grid-column.counter.on,
.otherTaskEntry .bp-grid-column.on {
	background: rgba(54, 199, 155, 0.1);
}

.jobEntry .jobHeader .bp-grid-column.counter.off,
.otherTaskEntry .bp-grid-column.off {
	background-color: rgba(0, 141, 193, 0.1);
	color: var(--bp-blue);
}

.bp-job-clocking-wrapper .bp-top-header .modalHeader {
	color: var(--white);
}

.otherTaskEntry:last-child:hover .createNewTask i svg {
	stroke: var(--bp-blue-hover);
}

.otherTaskEntry:last-child:hover .createNewTask a {
	color: var(--bp-blue-hover);
}

.datePickerWrappercontainer {
	position: relative;
	float: left;
	padding: 0;
	padding-right: 15px;
	width: 260px;
}

.searchInputAreaforTask {
	float: left;
	padding: 0px;
}

.jobclockingcalenderDateTextBox {
	color: var(--dark-grey1);
}

.searchInputAreaforTask .jobclockingcalenderDateTextBox {
	padding-left: 43px;
}

.jobclockingcalenderDateTextBox::placeholder {
	color: var(--grey);
}

.jobclockingcalendericon {
	cursor: pointer;
	position: absolute;
	right: 30px;
	top: 30%;
	padding: 0;
	font-size: 18px;
	width: 20px;
	height: 20px;
}

.jobclockingcalenderDateTextBox {
	font-size: 15px;
	padding: 15px;
	border-radius: 3px;
	height: 50px;
	box-shadow: none;
}

.taskListTable .table thead tr th {
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	color: var(--grey);
	border-bottom: none;
}

.taskListTable {
	margin-top: 110px;
}

.manageTaskHeading {
	font-size: 14px;
	font-weight: 600;
	color: var(--dark-grey2);
}

.manageTaskList .otherTaskEntry {
	border-top: none;
	display: table;
	width: calc(100% + 1px);
}

.createNewManageTask .datePickerWrappercontainer {
	margin: 0px;
}

.bp-editable-table tbody tr.createNewManageTask td:last-child {
	background: var(--white);
}

.bp-editable-table tbody tr.createNewManageTask td i {
	top: 22%;
	margin-right: 0;
}

.createNewManageTask .searchInputArea .searchInput {
	margin: 0px;
}

.createNewManageTask .searchResultOverlay {
	padding: 30px 10px 4px;
}

.createNewManageTask .datePickerWrappercontainer {
	width: auto;
}

.createNewManageTask .searchResultOverlay ul li {
	padding: 5px 0px 5px 15px;
	display: flex;
}

.createNewManageTask ul li .circle {
	width: 30px;
	height: 30px;
	background-color: var(--light-grey1);
	color: var(--grey);
	border-radius: 100%;
	font-size: 12px;
	font-weight: 300;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 5px;
}

.createNewManageTask ul li .fullName {
	padding-top: 7px;
}

.createNewManageTask td:first-child .showingOverlay ul li .fullName {
	padding-top: 0px;
}

.bp-editable-table tbody tr.createNewManageTask td span .inTimeEdit {
	padding-left: 15px;
	color: var(--dark-grey1);
}

.bp-editable-table tbody tr.createNewManageTask td span .inTimeEdit::placeholder {
	color: var(--grey);
}

.bp-top-header .searchInputArea {
	z-index: 100;
}

@media( max-width: 890px) {
	.manageTaskList .searchforManageTaskList .searchInputAreaforTask {
		margin-top: 15px;
		padding-right: 15px;
		width: 100%;
	}
}

@media( max-width: 570px) {
	.searchforManageTaskList .datePickerWrappercontainer {
		margin-top: 15px;
	}
}

.bp-editable-table tbody tr.createNewManageTask td:last-child .bp-btn {
	margin-right: 10px;
}