@media (min-width:768px) and (max-width:981px){
	.sideBarWrapperContent{
	width: 25%;
	}
}
@media (min-width:981px) and (max-width:1100px){
	.sideBarWrapperContent{
	width: 22%;
	}
}
@media (min-width:1100px) and (max-width:1230px){
	.sideBarWrapperContent{
	width: 20%;
	}
}
.sidebarWrapper {
	width: 200px;
	margin: 0 auto;
}
.sidebar {
	width: 100%;
	padding: 19px 8px;
	position: fixed;
	top: 60px;
	z-index: 99;
	max-width: 200px;
}
@media (max-width: 800px)	{
	.sidebarWrapper {
	width: 170px;
	}
	.sidebar {
	 padding: 19px 5px;
	}
}
.iconWidth{
	width: 13px;
	height: 13px;
}
.sidebar ul.calenderNavigation { margin: 15px 0; padding: 0; list-style: none; }
.sidebar ul.calenderNavigation li:nth-child(1) { float: left; width: 30px; }
.sidebar ul.calenderNavigation li:nth-child(2) { float: right; width: 30px; text-align: right; }
.sidebar ul.calenderNavigation li:nth-child(3) { text-align: center; padding: 8px 0 6px; }
.sidebar ul.calenderNavigation li a { font-size: 30px; line-height: 32px; color: var(--bp-blue); padding: 0 5px; display: inline-block; }
.sidebar ul.calenderNavigation .weekName { font-size: 14px; font-weight: 600; text-transform: uppercase; line-height: 25px;}
.sidebar .calenderTable { width: 100%; margin-bottom: 40px; }
.sidebar .calenderTable th { font-size: 14px; line-height: 17px; font-weight: 600; padding: 4px; text-align: center; }
.sidebar .calenderTable td { font-size: 12px; line-height: 17px; padding: 4px; text-align: center; cursor: pointer; }
.sidebar .calenderTable td:hover { background: var(--light-grey1); border-radius: 50%;transition: color 0.2s ease; }
.sidebar .calenderTable .nonCurrentMonth { color: var(--grey); }
.sidebar .calenderTable .curWeek { background: var(--bp-blue-light); border-radius: 0; }
.sidebar .calenderTable .calendarToday { background: var(--bp-blue); color: var(--white) }
.sidebar .calenderTable .calendarToday.borderRadius50 {
	border-radius: 50%;
}
.calenderArea .calenderHeader ul { margin: 0; padding: 0; list-style: none; }
.calenderArea .calenderHeader ul > li { float: left; margin-right: 15px; }
.calenderArea .calenderHeader ul > li:last-child {
	margin-right: 0px;
}
.calenderArea .calenderHeader ul.calenderNavigation li a { font-size: 30px; line-height: 32px; color: var(--bp-blue); padding: 0 5px; display: inline-block; }
.calenderArea .calenderHeader ul.calenderNavigation .weekName { font-size: 18px; font-weight: 600; line-height: 28px; margin-left: 14px; }
.bp-today-but {
	height: 28px;
	padding: 0px 15px;
	font-size: 12px;
	line-height: 28px;
}
.calenderArea .calenderHeader ul.calenderNavigation .bp-arrow-height{
	height: 28px;
	margin-right: 5px;
}
.calenderArea .calenderHeader ul.calenderNavigation .bp-arrow-height:hover{
	border: 1px solid var(--bp-blue);
	background-color: rgba(255, 255, 255, 0.5);
	color: var(--bp-blue);
	transition: all 0.2s ease;	
	outline: none;
	box-shadow: none;
}
.calenderArea .calenderHeader ul.calenderNavigation .bp-arrow-height a{
	height: 28px;
	width: 28px;
	line-height: 16px;
	padding: 0px 8px;
}
.calenderArea .calenderHeader ul.calenderNavigation .bp-arrow-rightcal a {
	padding: 0 10px;
}
.calenderArea .calenderHeader ul.calenderNavigation .bp-arrow-height a i{
	width: 11px;
	height: 11px;
}
.calenderArea .calenderHeader ul > .bp-today-wrapper{
	padding-left: 5px;
	margin-right: 10px;
}
.ui-datepicker {
	width: 266px;
	padding: 20px 37px;
	font-size: unset;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.101251);
	border-color: transparent;
}
.ui-datepicker-header {
	background: none;
	text-transform: uppercase;
	border: 0;
}
.ui-datepicker th {
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	padding: 4px;
	text-align: center;
}
.ui-datepicker td {
	font-size: 13px;
	padding: 0;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 0;
	background: none;
	font-weight: inherit;
	color: inherit;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: var(--bp-blue-light) !important;
	border-radius: 50%;
}


.ui-widget-content .ui-datepicker-today a{
    background: none !important;
    color:var(--bp-blue) !important;
    font-weight: 600;
}

.ui-widget-content .ui-state-active, .ui-widget-content .ui-datepicker-today a.ui-state-active {
     background: var(--bp-blue) !important;
    color:var(--white) !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-widget-content .ui-datepicker-today a:hover {
	background: var(--bp-blue-light) !important;
	border: 0;
	border-radius: 50%;
	transition: background-color 0.2s ease;
	color: var(--dark-grey1) !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background: var(--light-blue) !important;
 color: var(--dark-grey1) !important;
 border-radius: 50%;

}

.ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
	background-image: url('../Images/arrow-left-bp-blue.svg');
	width: 13px;
	height: 13px;
	background-size: cover;
	background-position: center;
}
.ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
	background-image: url('../Images/arrow-right-bp-blue.svg');
	width: 13px;
	height: 13px;
	background-size: cover;
	background-position: center;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	top: 11px;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 11px;
	background: none !important;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
	
}
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: 1;
	color: var(--grey);
	cursor: not-allowed !important;
}
.ui-datepicker .ui-datepicker-title {
	font-size: 14px;
 font-weight: 600;
 text-transform: uppercase;
 line-height: 25px;
 margin-bottom: 8px;
 margin-top: 7px;
}
.ui-datepicker td span, .ui-datepicker td a {
	text-align: center;
	padding: 4px;
	line-height: 16px;
}

.ui-widget-content .ui-week-row-state-active {
	background: var(--bp-blue);
}

.ui-widget-content .ui-weekSelector-table tbody tr:hover,
.ui-widget-content .ui-week-row-state-active:hover {
    background: var(--bp-blue-light);
}

.ui-widget-content .ui-weekSelector-table tbody tr:hover td:first-child,
.ui-widget-content .ui-week-row-state-active td:first-child {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ui-widget-content .ui-weekSelector-table tbody tr:hover td:last-child,
.ui-widget-content .ui-week-row-state-active td:last-child {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ui-widget-content .ui-week-row-state-active:hover .ui-state-active,
.ui-widget-content .ui-week-row-state-active:hover td a {
	background: none !important;
}

.ui-widget-content .ui-week-row-state-active td a {
	color: var(--white) !important;
}

.ui-widget-content .ui-weekSelector-table tbody tr .ui-datepicker-today a {
	font-weight: 600;
}

.ui-widget-content .ui-weekSelector-table tbody tr:hover td a {
	color: var(--dark-grey1) !important;
}
