.htcPrintInvoiceSection .placeholderForLogo {
	width: 100%;
	font-size: 12px;
	text-align: center;
	margin-top: 15px;
	padding: 0 10px;
	float: left;
}

.htcPrintInvoiceSection .placeholderForLogo img {
	width: 100%;
	float: left;
	height: auto;
}

.htcPrintInvoiceSection .text-uppercase {
	text-transform: uppercase;
}

.htcPrintInvoiceSection table .htcCustmerinfo {
	padding: 3px 0px;
}

.width370 {
	width: 370px;
	padding-left: 15px;
}

.htcCenter-div {
	margin-left: 330px;
}

.htcscannedPrintInvoiceSection .T3,
.htcscannedPrintInvoiceSection .T7,
.htcscannedPrintInvoiceSection label {
	font-size: 8px;
}

.PLLi {
	padding-left: 5px;
}

.dotDiv {
	width: 50%;
	margin: 20px auto;
}

.PLR15 {
	padding: 0px 15px;
	float: left;
}

.PLR45 {
	padding: 0px 45px;
}

.soldTo {
	width: 100px;
	margin-right: 50px;
}

.AcctNo {
	width: 500px;
}

.htcscannedPrintInvoiceSection .PLR45 {
	padding: 0px 45px;
}

.htcscannedPrintInvoiceSection .MB0 {
	margin-bottom: 0px;
}