.PrintSection .main_section {
	width: 950px;
	padding: 0;
	margin: 0;
}

.main_section .rowGeneral {
	width: 950px;
	padding: 0;
	margin: 0; 
}

.ServiceWorksheetSection .ServiceWorksheetPreview .CustomerAndUnitInfo .customerinfoBlock {
	width: 430px;
	float: left;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SoHeaderList .SOHeaderInfoBlock .SOHeaderInfoBlockW {
	width: 100%;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SOHeaderInfoBlockW .SOHeaderInfoBlockLabel {
	font-size: 16px;
	font-weight: bold;
	min-width: 99px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SOHeaderInfoBlockW .SOHeaderInfoBlockContent ul {
	padding-left: 16px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SOHeaderInfoBlockW .SOHeaderInfoBlockContent.SOHeaderInfoBlockContentMileageWidth {
	width: 200px;
}

.serviceOrderGrid .SoHeaderNotesSection {
	padding: 6px;
}

.SoHeaderNotesSection .NotesHeader {
	font-size: 16px;
	font-weight: bold;
	padding: 0px 0px 0px 6px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SoHeaderList .SoHeaderNotesSection .NotesContent_H_BB {
	height: 40px;
}

.packagingSlip {
	float: right;
	margin: 0;
	width: 200px;
	letter-spacing: 10px;
}

#Merchandies_Print_Preview_gid_container .table tbody,
#Merchandies_Print_Preview_gid_container .table tr th,
#Merchandies_Print_Preview_gid_container .table tr td,
.service_Job_table_Header .table tbody,
.service_Job_table_Header .table tr th,
.service_Job_table_Header .table tr td {
	border: none;
}

tr,
th {
	border: none;
}

thead {
	border: none;
}

.InvoicePaymentHeader {
	height: 30.48px;
	background: white;
	color: black;
	padding: 6px 6px 6px 0px;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 10px;
	border-bottom: solid black;
	font-weight: bold;
}

.InvoicePaymentHeader {
	height: 30.48px;
	background: white;
	color: black;
	padding: 6px 6px 6px 0px;
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 10px;
	border-bottom: solid black ;
	font-weight: bold;
}

.TotalTable,.TotalTable-deposit {
	height: 30.48px;
	background: #ffffff;
	color: black;
	border-bottom: solid black !important;
	font-weight: bold;
	text-transform: uppercase;
	padding: 6px 6px 6px 0px !important;
	font-size: 16px;
	margin-bottom: 10px
}

tr.extra-tr {
	height: 10px;
}
.headerChange {
	background: white !important;
	color: black !important;
	border-bottom: solid black;
	font-weight: bold;
	padding: 6px 6px 6px 0px !important;
}

.services_section_unit table thead th,
.services_section_unit table tbody td {
	padding: 6px;
}

table tbody tr td,
table tbody tr,
table thead tr,
table thead tr th,
table tr th,
table tr td,
table tbody {
	border: none !important;
}

.DisplayDiscountAmount {
	padding-left: 30px;
}

.table>tbody>tr>td.KitLineItemPL {
	padding-left: 20px;
}

.InvoicePaymentHeaderWrpper {
	width: 70%;
}
.packagingSlip.adjust-width-for-label {
	width: 300px;
}
@media print {
	/* 5354*/
	body {
		font-family: Barlow, Helvetica, Arial, sans-serif;
	}
	thead {
		display: table-header-group !important;
	}
	tr, .rightWrapper, .non-break-sec {
	  page-break-inside:avoid;
	}
	/* 5354 ends*/
	@page {
		size: A3;
	}
	.headerChange {
		padding: 6px 6px 25px 0px !important;
		font-size: 25px !important;
	}
	.ServiceWorksheetSection .printpreview {
		width: 900px !important;
	}
	.ServiceWorksheetSection .ServiceWorksheetPreview {
		width: 100% !important;
	}
	.ServiceWorksheetSection .ServiceWorksheetPreview .WorksheetHeaderSection {
		width: 100% !important;
	}
	.service_Job_table_Header {
		width: 100% !important;
	}
	.ServiceWorksheetSection .ServiceWorksheetPreview .SoHeaderName,
	.InvoicePaymentHeader,
	.TotalTable {
		background: white !important;
		width: 100% !important;
		color: black !important;
		font-size: 16px !important;
	}
	.InvoicePaymentHeaderWrpper {
		width: 70% !important;
	}
	.ServiceWorksheetSection .ServiceWorksheetPreview .SoHeaderName span,
	.InvoicePaymentHeader p,
	.TotalTable p {
		color: black !important;
	}
	.ServiceWorksheetSection .SOHeaderInfoBlockW {
		width: 100% !important;
	}
	.ServiceWorksheetSection .ServiceWorksheetPreview .SOHeaderInfoBlockW .SOHeaderInfoBlockLabel {
		min-width: 99px !important;
	}
	.ServiceWorksheetSection .SOHeaderInfoBlockW .SOHeaderInfoBlockContent {
		width: 652px !important;
	}
	.ServiceWorksheetSection .MileageInHeader,
	.ServiceWorksheetSection .MileageOutHeader {
		width: 365px !important;
	}
	.ServiceWorksheetSection .MileageInHeader .SOHeaderInfoBlockLabel,
	.ServiceWorksheetSection .MileageOutHeader .SOHeaderInfoBlockLabel {
		min-width: 86.23px !important;
	}
	.ServiceWorksheetSection .MileageInHeader .SOHeaderInfoBlockContent,
	.ServiceWorksheetSection .MileageOutHeader .SOHeaderInfoBlockContent {
		width: 200px !important;
	}
	.ServiceWorksheetSection .ServiceWorksheetPreview .CustomerAndUnitInfo .customerinfoBlock .CustomerInformationHeader {
		width: 450px !important;
		background: white !important;
		color: black !important;
		padding: 6px 6px 6px 0px !important;
		font-size: 16px !important;
	}
	table tbody tr td,
	table tbody tr,
	table thead tr,
	table thead tr th,
	table tr th {
		border: none !important;
	}
	.discountAmountHeader {
		width: 100% !important;
		float: left !important;
	}
	.leftWrappper {
		width: 66.67% !important;
		float: left !important;
	}
	.rightWrapper {
		width: 33.33% !important;
	}
	.col-md-12 {
		width: 100% !important;
	}
}

.disclaimersSection {
	width: 100%;
	float: left;
	margin-top: 3%;
	padding: 0px 6px;
}

.disclaimersSection .WarrantyText {
	word-break: break-word;
	white-space: pre-wrap;
	text-align: justify;
	font-family: arial;
}

.disclaimersSection .WarrantySignatureText {
	width: 50%;
	float: left;
	margin-top: 4%;
}

.disclaimersSection .WarrantySignature {
	border-bottom: solid 1px;
	width: calc(100% - 100px);
	float: left;
	margin-top: 13px;
}

table tbody tr.shopSuppliesDetailList td {
	padding: 0;
}
.watermark {
   display: block;
   position: absolute;
   top: 25%;
   left: 10%;
   z-index: 1200;
}
@media print {
   .watermark {
       display: block;
       position: fixed;
       top: 10%;
       left: 0;
       z-index: 2000;
   }
}