.CreateGroupModal.RemoveDealUnitPopup {
	font-family: Barlow;
	line-height: 17px;
	padding-bottom: 1000px;
}

.RemoveDealUnitPopup .bp-btn-medium.button-fix-width {
	width: 164px;
}

.RemoveDealUnitPopup .button-fix-width.button-fix-margin {
	margin-left: 11px;
}

.CreateGroupModal.RemoveDealUnitPopup .modal-body.modal-body-align {
	padding: 60px 83px 59px 83px;
}

.CreateGroupModal.RemoveDealUnitPopup .modal-dialog.removeModal-width {
	max-width: 510px;
}

.RemoveDealUnitPopup .warning-text-alignment {
	margin-bottom: 28px;
}