.selectUnitPopup .popup_container {
	min-height: 250px;
}

.P0 {
	padding: 0px;
}

.popupinside .selectUnitWrapper .tabconainer {
	overflow: visible !important;
	padding-bottom: 0px !important;
}

.selectUnitPopup .edit_modal-dialog {
	width: 575px;
}

.selectUnitPopup .cardContainer {
	padding-left: 11%;
}

.selectUnitPopup .lightbox {
	margin-bottom: 2%;
}

.selectUnitPopup .lightbox:hover {
	background-color: #ECF0F1;
}

.selectUnitPopup .popupright .right_heading_container {
	margin-bottom: 5%;
}

.selectUnitPopup .unitimagediv {
	width: 26%;
	margin-right: 3%;
}