.modal-open .ServiceJobClaim {
	font-family: Barlow;
	overflow: auto;
}

.ServiceJobClaim .modal-header .closeiconWidth {
	top: -35px;
	right: -17px;
}

.ServiceJobClaim .modal-dialog {
	max-width: 920px;
}

.ServiceJobClaim .modal-body {
	padding: 66px 88px 61px 88px;
}

.ServiceJobClaim .userGroupInfoArea {
	display: inline-block;
}

.ServiceJobClaim .bp-soHeader-info {
	text-align: left;
	border-bottom: 1px solid #DFE1E5;
	margin-top: 34px;
}

.ServiceJobClaim .userGroupInfoArea .bp-soHeader-info .bp-label {
	color: var(--dark-grey2);
	font-size: 16px;
	line-height: 19px;
	font-weight: 600;
	margin: 0px;
	line-height: 22px;
}

.ServiceJobClaim .userGroupInfoArea .bp-editmode-text {
	font-size: 18px;
	color: var(--dark-grey2);
	font-weight: 300;
	line-height: 22px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 300px;
}

.ServiceJobClaim .userGroupInfoArea .bp-editmode-text.confirmation-text {
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
    max-width: unset;
}

.ServiceJobClaim .userGroupInfoArea .bp-soHeader-info .PL0 {
	padding-left: 0px;
}

.ServiceJobClaim .userGroupInfoArea .bp-soHeader-info .PR0 {
	padding-right: 0px;
}

.ServiceJobClaim .userGroupInfoArea .bp-soHeader-info .MB13 {
	margin-bottom: 13px;
}

.ServiceJobClaim .userGroupInfoArea .bp-soHeader-info .MB24 {
	margin-bottom: 24px;
}

.servicejobClaimTable table {
	width: 100%;
	margin-top: 25px;
}

.servicejobClaimTable table thead tr th {
	color: #97A0AF;
	font-family: Barlow;
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	padding-bottom: 16px;
	text-transform: uppercase;
}

.servicejobClaimTable table tbody tr td {
	color: var(--dark-grey2);
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	padding-bottom: 5px;
}

.servicejobClaimTable table tbody .kitHeaderLineItem td:first-child {
	padding-left: 25px;
}

.servicejobClaimTable table tbody tr .bp-green-text {
	color: var(--green);
}

.servicejobClaimTable table tbody tr .bp-yellow-dark-text {
	color: var(--yellow-dark);
}

.servicejobClaimTable table tbody tr .bp-bold {
	font-weight: 600;
}

.servicejobClaimTable table tbody tr {
	height: 40px;
}

.serviceJobClaimTotal {
	float: right;
	width: 40%;
	border-top: 1px solid #DFE1E5;
	margin-top: 25px;
	text-align: left;
	padding-top: 16px;
	padding-bottom: 29px;
}

.serviceJobClaimTotal ul {
	padding: 0px;
	margin: 0px;
}

.serviceJobClaimTotal ul,
.serviceJobClaimTotal ul li {
	width: 100%;
	list-style-type: none;
}

.serviceJobClaimTotal ul li .bp-serviceJobClaimTotalLebal {
	line-height: 17px;
	font-size: 14px;
	color: var(--dark-grey2);
	font-weight: 300;
	padding-bottom: 5px;
	width: 50%;
}

.serviceJobClaimTotal ul li .bp-bold-label {
	font-weight: 600;
}

.ServiceJobClaim .totals-section {
	border-bottom: 1px solid #DFE1E5;
	float: left;
	width: 100%;
}

.ServiceJobClaim .confirmation-section {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 40px 0px 0px 29px;
}

.ServiceJobClaim .chk_tick {
	position: relative;
	margin: 2px 15px;
}

.ServiceJobClaim .doneIcon {
	width: 11px;
	position: absolute;
	top: 50%;
	transform: translateY(-60%);
	left: 4px;
}

.ServiceJobClaim .formBtn {
	margin-top: 28px;
}

.ServiceJobClaim .bp-btn-normal {
	height: 50px;
	width: 181px;
}