.PrintSection {
    width: 816px;
    margin: 0 auto;
}

.PrintSection .main_section {
    width: 816px;
    padding: 0;
    margin: 0;
}

.main_section .rowGeneral {
    width: 816px;
    padding: 0;
    margin: 0;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .WorksheetHeaderSection .StoreInfoBlock .storeName {
    font-size: 27.33px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .WorksheetHeaderSection .StoreInfoBlock .storeAddress {
    font-size: 16px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .WorksheetHeaderSection .StoreInfoBlock .storeAddress .AddressLine1 {
    margin-top: 10px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .WorksheetHeaderSection .DocumentTitleAndCONumber p {
    padding-left: 6px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .CustomerAndUnitInfo .customerinfoBlock {
    width: 345.6px;
    float: left;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .CustomerAndUnitInfo .UnitInfoBlock {
    width: 345.6px;
    padding: 0px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .CustomerAndUnitInfo .UnitInfoBlock .UnitInformationHeader {
    height: 30.48px;
    background: white;
    color: black;
    padding: 6px 6px 6px 0px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: solid black;
    font-weight: bold;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .CustomerAndUnitInfo .UnitInfoBlock .UnitDetail {
    font-size: 16px;
    padding-left: 6px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .CustomerAndUnitInfo .UnitInfoBlock .UnitDetail .unitNumber {
    margin-bottom: 0px;
    font-weight: bold;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .CustomerAndUnitInfo .UnitInfoBlock .UnitDetail .MB0 {
    margin-bottom: 0;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SoHeaderList .SOHeaderInfoBlock p {
    padding-left: 17px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SoHeaderList .SOHeaderInfoBlock .SOHeaderInfoBlockW {
    width: 739.2px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SoHeaderList .SOHeaderInfoBlock .SOHeaderInfoBlockW .SOHeaderInfoBlockLabel {
    min-width: 86.23px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SoHeaderList .SOHeaderInfoBlock .SOHeaderInfoBlockW .SOHeaderInfoBlockContent ul {
    margin: 0;
    padding-left: 34px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SoHeaderList .SoHeaderNotesSection {
    padding: 6px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SoHeaderList .SoHeaderNotesSection .NotesHeader {
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .SoHeaderList .SoHeaderNotesSection .NotesContent_H_BB {
    height: 40px;
    border-bottom: 1px solid #000;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .TotalsSection {
    padding: 0px;
    margin-top: 41.4px;
    min-height: 146px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .TotalsSection .TotalsBlock {
    width: 345.6px;
    padding: 0px;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .TotalsSection .TotalsBlock .TotalsHeader {
    height: 30.48px;
    background: white;
    color: black;
    padding: 6px 6px 6px 0px;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 10px;
    border-bottom: solid black;
    font-weight: bold;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .TotalsSection .TotalsBlock .TotalsContent {
    font-size: 16px;
    padding-left: 16px;
    padding-right: 16px;
    float: left;
    border-bottom: 2px solid black;
    width: 100%;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .TotalsSection .TotalsBlock .TotalsContent div {
    width: 100%;
    float: left;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .TotalsSection .TotalsBlock .TotalsContent div .MB0 {
    margin-bottom: 0;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .TotalsSection .TotalsBlock .TotalsContent1 {
    border-bottom: 0;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .TotalsSection .TotalsBlock .TotalsContent1 .FWB {
    font-weight: bold;
}

.ServiceWorksheetSection .ServiceWorksheetPreview .serviceWorksheetPrintBTn {
    z-index: 1300;
}

.table>tbody>tr>.KitLineItemPL {
    padding-left: 20px;
}

.watermark {
    display: block;
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 1200;
}

@media print {
    .watermark {
        display: block;
        position: fixed;
        top: 10%;
        left: 0;
        z-index: 2000;
    }
    thead {
        display: table-row-group !important;
    }
    @page {
        size: A3;
        margin: 7.9mm;
        margin-bottom: 0mm;
    }
}

.disclaimersSection {
    width: 100%;
    float: left;
    margin-top: 3%;
    padding: 0px 6px;
}

.disclaimersSection .WarrantyText {
    word-break: break-word;
    white-space: pre-wrap;
    text-align: justify;
    font-family: arial;
}

.disclaimersSection .WarrantySignatureText {
    width: 100%;
    float: left;
    margin-top: 4%;
}

.disclaimersSection .WarrantySignature {
    border-bottom: solid 1px;
    width: 45%;
    float: left;
    margin-top: 13px;
}
.customer-approval-block {
	height: 608px;
	background-color: var(--light-grey3);
	font-family: Barlow;
}
.customer-approval-block .customer-aproval-section {
	padding-top: 40px;
	padding-left: 278px;
}
.customer-approval-block .customer-aproval-section .customer-approval-section-heading {
	height: 18px;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.29px;
	line-height: 18px;
	color: var(--dark-grey1);
}
.customer-approval-block .customer-aproval-section .customer-approval-type {
	margin-top: 38px;
}
.customer-approval-block .customer-aproval-section .customer-approval-type-heading  {
	font-size: 16px;
	color: var(--dark-grey1);
	letter-spacing: 0.29px;
	font-weight: 600;
	line-height: 18px;
    margin-bottom: 8px;
}
.customer-approval-block .customer-aproval-section .customer-approval-type-dropdown {
	width: 430px;
	height: 50px;
	border-radius: 3px;
}
.customer-approval-block .customer-aproval-section .searchInputArea i {
	position: absolute;
    right: 12px;
    top: 32%;
    width: 14px;
    height: 14px;
    left: auto;
    transform: translateY(-50%);
    background: none;
}
.customer-approval-block .customer-aproval-section .searchInputArea.showingOverlay .searchInput {
	border: 1px solid var(--light-grey1);
}
.customer-approval-block .customer-aproval-section .searchInputArea .searchInput {
	padding: 16px 17px 17px;
	line-height: 17px;
	cursor: pointer;
	color: var(--dark-grey1);
}
.customer-approval-block .customer-aproval-section .fullName {
	color: var(--dark-grey2);
	font-size: 14px;
	line-height: 17px;
}
.customer-approval-block .customer-aproval-section .searchResultOverlay ul>li {
    padding: 10px 0px 10px 8px;
    color: var(--dark-grey2);
}
.customer-approval-block .customer-aproval-section .customer-approval-save-btn-wrapper {
	margin-top: 20px
}
.customer-approval-block .customer-aproval-section .customer-approval-save-btn-wrapper .customer-approval-save-btn {
    width: 110px;
    height: 40px;
    padding: 12px;
    font-size: 13px;
}
.customer-approval-block .customer-aproval-section .customer-approval-save-btn-wrapper .print-save-btn {
	width: 155px;	
}
.customer-approval-block .customer-aproval-section .customer-approval-sign-wrapper {
	position: relative;
}
.customer-approval-block .customer-aproval-section .customer-approval-sign-wrapper .clear-btn {
	position: absolute;
    right: 41px;
    top: 205px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.29px;
    line-height: 18px;
    padding: 24px 25px;
    color: var(--light-grey);
}
.customer-approval-block .customer-aproval-section .customer-approval-sign-wrapper .sign-save-btn {
	margin-top: 20px;
}
.customer-approval-block .customer-aproval-section .customer-approval-sign-wrapper .placeholder {
	font-size: 16px;
    letter-spacing: 0.29px;
    line-height: 18px;
    padding: 26px 24px;
	position: absolute;
    color: var(--light-grey);
}
.customer-approval-block .customer-aproval-section .customer-approval-sign-wrapper canvas {
	border: 2px solid var(--light-grey2);
	cursor: pointer;
}
.approved-section .customer-sign {
	background: white;
	border: 2px solid var(--light-grey2);
	width: 657px;
	height: 268px;
	margin-top: 20px;
}
.approved-section {
	margin-top: 38px;
}

.approved-section .customerApproval{
	width: 430px;
	height: 50px;
	border-radius: 3px;
}
/*.customer-approval-block .customer-aproval-section .customer-approval-sign-wrapper .signature-pad {
	position: absolute;
	left: 0;
	top: 0;
	width:400px;
	height:200px;
	background-color: white;
} */