.bp-tech-dropdown .downArrow {
	position: absolute;
	top: 50%;
	width: 14px;
	height: 14px;
	left: auto;
	right: 10px;
	transform: translateY(-50%);
	background: none;
}

.bp-tech-navigation-bar {
	pading-bottom: 0px
}

.bp-tech-dropdown {
	display: none;
}

.bp-new-appointment-but {
	margin-top: 26px;
}

.bp-tech-navigation-bar h1 {
	margin-top: 26px;
		margin-bottom: 37px;
	padding-left:0;
	max-width:60%;
	float:left;
}
@media screen and (min-width:768px) {
	.bp-tech-navigation-bar h1 {
	max-width:80%;
  }
}
/* /* calendar CSS/* */
.bp-calendar-nav-bar-container {
	min-width: 320px;
	max-width: 450px;
	display: inline-block;
	border-radius: 25px;
	border: 1px solid var(--light-grey1);
	margin-top: 40px;
	margin-bottom: 20px;
}

.bp-periodwise-calendar {
	background: var(--white);
	height: 44px;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bp-periodwise-calendar .bp-cal-arrow {
	justify-content: center;
	align-items: center;
	display: flex;
	height: 44px;
	width: 45px;
}

.bp-periodwise-calendar i {
	background: none !important;
	width: 14px;
	height: 14px;
}

.bp-periodwise-calendar i svg {
	stroke-width: 2px;
}

.bp-cal-right-border:hover {
	background: var(--light-blue);
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	transition: all 0.2s ease;
}

.bp-cal-left-border:hover {
	background: var(--light-blue);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	transition: all 0.2s ease;
}

.cal-overlap-container i {
	margin-left: 14px;
	display: flex;
}

.cal-overlap-container span {
	font-size: 16px;
	color: var(--dark-grey1);
	font-weight: 600;
	padding: 0px 10px;
}

.cal-overlap-container:hover span {
	color: var(--dark-grey2);
	transition: all 0.2s ease;
}

.bp-cal-right-border {
	border-right: 1px solid var(--light-grey1);
}

.bp-cal-left-border {
	border-left: 1px solid var(--light-grey1);
}

.cal-input {
	height: 44px;
	position: absolute;
	z-index: -1;
	width: 100%;
}

.cal-overlap-container {
	font-size: 16px;
	color: var(--dark-grey1);
	line-height: 19px;
	height: 44px;
	display: flex;
	align-items: center;
}

.period-duration {
	position: relative;
	font-size: 16px;
	line-height: 19px;
	padding: 0px;
	width: 310px;
}

@media ( max-width : 767px) {
	.bp-tech-nav ul li:last-child {
		margin-right: 0px;
	}
	.bp-tech-dropdown .searchResultOverlay {
		top: 34px;
		padding: 0px 10px 0px;
	}
	.bp-tech-dropdown .searchResultOverlay ul {
	   padding: 0px;
	}
	.bp-tech-dropdown {
		display: block;
		width: 52%;
		float: left;
		margin-left: -10px;
		clear: both;
	}
	.bp-tech-dropdown.searchInputArea .searchInput {
		padding: 10px 15px 10px 10px;
		border: none;
		border-bottom: 2px solid;
		margin: 0;
		width: 100%;
		font-weight: 600;
		height: 100%;
		text-transform: uppercase;
		letter-spacing:.05em; 
	}
	.bp-tech-dropdown.searchInputArea .searchInput:focus {
		border: 1px solid var(--bp-blue);
		border-bottom: 2px solid transparent !important;
	}
	.bp-tech-dropdown.searchInputArea.showingOverlay .searchResultOverlay {
		border: 1px solid var(--bp-blue);
		padding-left: 0px;
		padding-right: 0px;
	}
	.bp-tech-dropdown .searchResultOverlay ul>li {
		padding-left: 0px;
	}
	.bp-tech-dropdown .searchResultOverlay ul>li a {
		padding-left: 10px;
		padding-right: 10px;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		color: var(--bp-blue)!important;
		letter-spacing:.05em;
	}
	
	.bp-calendar-nav-bar-container {
	   margin: 40px 5% 20px 5%;
	   min-width: 284px;
	}
	
	.bp-schedule-container .container {
	   padding: 0px;
	}
	
}

@media ( max-width : 450px) {
	.bp-new-appointment-but button {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cal-overlap-container {
		line-height: 14px;
	}
	
	.cal-overlap-container span {
      font-size: 12px;
	}
    
    .period-duration {
    	width: calc(100% - 90px);
    }
    .bp-sub-header-menu-item li:first-child {
   	    margin: 0 3.842% 0 0;
    }
	
}