.content .sectionLabel {
    clear: both;
    float: left;
}

.statusRow .labourstatus {
    margin: 0;
    float: left;
    padding-top: 5px;
}

.gid_container_Customer .table {
    border: 0;
}

.main_section_COU_Header .actionRow .actionText {
    margin-left: 5px;
    color: #939CA9;
}

.rowGeneral .general_info_part .row:nth-child(1) {
    margin-top: 12px;
}

.part_general_column {
    padding-right: 1px;
}

.round_btn {
    border-radius: 3pt;
}

#ViewLabourInfoSection .Active_Button_row .activeBtn {
    text-align: center;
    padding-top: 2px;
}

.searchToAdd_Labour_ML110 {
    margin-left: 110px;
}

.userNameblock_Labour_ML0 {
    margin-left: 0px;
}

.general_info_part .adjust_view_content_width {
    width: 14.2%;
}

#GeneralInfoSection .shop_supplies .checkbox.disabled {
    cursor: default;
}

#GeneralInfoSection .shop_supplies .checkbox {
    margin-top: 0;
}

#GeneralInfoSection .shop_supplies .checkbox .chk_tick {
    margin: 0;
    cursor: default;
}

#GeneralInfoSection .shop_supplies ul {
    margin-top: 20px;
    padding-left: 26px;
    list-style-type: none;
}

#GeneralInfoSection .shop_supplies ul li:before {
    content: '\2212';
    margin-left: -20px;
}

.suppliesDetails span {
    text-transform: none;
}