<div class = "bp-autocomplete-Wrapper autocomplete_v2">
    <span class = "bp-autocomplete-image-icon">
    	<i ng-include = "getintialdata('down_arrow')" class="bp-blue bp-cursor-pointer svg_width_2px" ng-click = "setFocus('autocomplete' + sectionId)"></i>
	</span>
                                    
    <input type="text" id="autocomplete{{::sectionId}}" class = "bp-autocomplete-input" ng-class="ngClassName" placeholder="{{'Please_select_unit' | translate}}" ng-keyup="keyPressed($event)" ng-model = "searchStr" ng-focus="setInitialData()" readonly="readonly"/>
    <div class = "bp-autocomplete-dropdown-wrapper" ng-class="{'bp-autocomplete-wrapper-with-create-action': (createActionAvailableOnDropdown === true)}" 
    	ng-if="showDropdown" id = "{{::sectionId}}DropDownDiv" ng-class = "{' showing-results' : showCustomerResult}">
        <ul>
            <li ng-repeat = "unit in results" id = "couInfo_{{::$index}}"  ng-class="{'selected-row': $index == currentDropDownIndex}" ng-click="selectResult(unit)">
                <div class="cou-icon"><i ng-include= "getintialdata('COU')"  class="blue_3384FF"></i></div>
                <div class="cou-info">
                    <span class="bp-autocomplete-text">{{::unit.FormattedName}}</span>
                    <label  ng-if = "unit.UnitId">{{'Unit_number' | translate}}:</label>
                    <span  ng-if = "unit.UnitId" class = "bp-section-info">{{::unit.UnitId}}</span>  
                    <label ng-if = "unit.VIN"> - {{'Label_VIN' | translate}}:</label>
                    <span ng-if = "unit.VIN" class = "bp-section-info">{{::unit.VIN}}</span>           
                </div>
                <div class = "cou-type">
                    <span class="bp-autocomplete-title">{{'Label_Unit' | translate}}</span>
                </div>
            </li>
        </ul>
        <div class="create-action-btn" ng-if="createActionAvailableOnDropdown" >
            <button class="btn bp-btn-normal bp-font-13" ng-click = "openAddEditCOUPopup()">{{'Add_a_new_unit' | translate}}</button>
        </div>
    </div>
    
    <div class = "bp-autocomplete-dropdown-wrapper"  ng-class="{'bp-autocomplete-wrapper-with-create-action': (createActionAvailableOnDropdown === true)}"
    	ng-if="results.length == 0 && showDropdown" id = "{{::sectionId}}DropDownDiv" ng-class = "{'showing-results' : showCustomerResult}">
        <ul class="M0">
            <li id = "entityInfo_NoResults" class="BP_angucomplete-row-NoResults-Msg">
                <div class="cou-info">
                	No customer unit found
                </div>
            </li>
        </ul>
        <div class="create-action-btn" ng-if="createActionAvailableOnDropdown" >
        <button class="btn bp-btn-normal bp-font-13"  ng-click = "openAddEditCOUPopup()">{{'Add_a_new_unit' | translate}}</button>
        </div>
    </div>
</div>