.row.lr-pad-44 {
	margin-left: -44px;
	margin-right: -44px;
}

.row.lr-pad-44 > div {
	padding-left: 44px;
	padding-right: 44px;
}

.customer-order-modal {
	overflow-y: hidden;
	font-family: Barlow, sans-serif;
}

.customer-order-modal .small-header h2 {
	color: #97A0AF;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase !important;
	text-align: center;
	letter-spacing: .1em;
	margin-top: 59px;
	margin-bottom: 28px;
	width: 100%;
}

/*Additional Field info*/
.print-item-label {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
	line-height: 19px;
}

h2.print-item-label {
	margin-top: 30px;
	font-size: 18px;
	margin-bottom: 7px !important;
}

.additional-information-buttons {
	margin: 11px 0 30px;
	padding: 0;
	list-style: none;
	max-width: 778px;
}

.additional-information-buttons > li {
	float: left;
	margin: 0 5px 5px 0;
}

.additional-information-buttons > li > a {
	font-size: 12px;
	line-height: 17px;
	display: inline-block;
	background: var(--grey);
	border-radius: 5px;
	text-decoration: none;
	color: #ffffff;
	padding: 5px 15px 5px 9px;
	height: 30px;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.additional-information-buttons > li > a svg {
	width: 17px !important;
	height: 17px !important;
	stroke-width: 1.5px;
	float: left;
	margin: 1px 5px 0 0;
}

.additional-information-buttons > li > a:hover {
	background: var(--light-grey);
}

.customer-order-modal .tab-btn-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.customer-order-modal .tab-btn-container .tab-btns {
	height: 50px;
	width: 192px;
	color: var(--bp-blue);
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 12px;
	letter-spacing: .1em;
	font-weight: 600;
	border-color: var(--bp-blue);
}

.customer-order-modal .tab-btn-container .tab-btns:hover {
	background-color: var(--light-blue);
	border: 1px solid var(--bp-blue-hover);
	color: var(--bp-blue-hover);
	-webkit-transition: all .3s;
	transition: all .3s;
}

.customer-order-modal .tab-btn-container .tab-btns.selected:hover {
	-webkit-box-shadow: none;
	        box-shadow: none;
	outline: none;
}

.customer-order-modal .tab-btn-container .tab-btns:first-child {
	border-radius: 3px 0 0 3px;
}

.customer-order-modal .tab-btn-container .tab-btns:last-child {
	border-radius: 0 3px 3px 0;
}

.customer-order-modal .modal-dialog {
	max-width: 900px;
}

.customer-order-modal .customer_form {
	margin-top: 37px;
	padding: 0 88px;
}

.customer-order-modal .customer_form .two-in-column .form-group {
	margin-left: 0;
}

.customer-order-modal .customer_form .two-in-column .form-group:first-child {
	padding-left: 0;
	padding-right: 0;
}

.customer-order-modal .customer_form .two-in-column .form-group:last-child {
	padding-right: 0;
}

.customer-order-modal .customer_form .two-in-column:after {
	content: "";
	display: table;
	clear: both;
}

.customer-order-modal .customer_form .form-group .DetailLabel {
	color: var(--dark-grey2);
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 6px;
}

.customer-order-modal .tab-btn-container .tab-btns.selected {
	background-color: var(--bp-blue);
	color: #fff;
}

.customer-order-modal .modal-close-btn {
	position: absolute;
	right: -20px;
	top: -20px;
	border: 0;
	width: 20px;
	height: 20px;
	background: none;
}

.customer-order-modal .modal-close-btn:focus,
.customer-order-modal .modal-close-btn:active {
	outline: none;
}

.customer-order-modal .modal-close-btn:hover {
	background: none;
}

.customer-order-modal .modal-close-btn svg {
	width: 13px !important;
	height: 13px !important;
}

.left-container:after {
	content: "";
	width: 1px;
	height: calc(100% - 25px);
	background: #DDDDDD;
	position: absolute;
	right: 0;
	top: 14px;
}

.customer-order-modal .customer-order-buttons {
	text-align: right;
	margin: 25px 0 60px;
}

.customer-order-buttons .btn {
	border-radius: 3px;
	color: var(--bp-blue);
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;
	height: 50px;
	line-height: 47px;
	padding: 0 30px;
}

.customer-order-buttons .disablecustomerbtn {
	background-color: #DDDDDD !important;
	-webkit-box-shadow: none;
	        box-shadow: none;
	border: none !important;
	color: var(--white);
}

.modal-open .bp-customer-popup {
	overflow-y: scroll;
}

.customer-order-modal .add-btn {
	border: 1px solid var(--bp-blue);
	background: #FFF;
	margin-right: 8px;
}

.customer-order-modal .add-btn:hover {
	background-color: var(--light-blue);
	border: 1px solid var(--bp-blue-hover);
	color: var(--bp-blue-hover);
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.customer-order-modal .save-btn {
	background-color: var(--bp-blue);
	color: #FFFFFF;
	min-width: 128px;
}

.customer-order-modal .save-btn:hover {
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.footer-container {
	padding: 5% 0 5% 0;
}

.customer-order-modal .modal-dialog {
	border-radius: 0;
}

.customer-order-modal .user-suggestion {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 195px;
	padding: 23px 20px 23px 22px;
	background: #F4F5F7;
	border-radius: 3px 0 0 3px;
	-webkit-box-shadow: -5px 0px 4px rgba(0, 0, 0, 0.12) inset;
	        box-shadow: -5px 0px 4px rgba(0, 0, 0, 0.12) inset;
	max-height: 700px;
	overflow-y: auto;
	z-index: -1;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.customer-order-modal .user-suggestion.show-desktop-view {
	top: 30px;
}

.customer-order-modal .user-suggestion::-webkit-scrollbar-button {
	background: #DDDDDD;
}

.customer-order-modal .user-suggestion::-webkit-scrollbar-thumb {
	border: 2px solid #DDDDDD;
}

.customer-order-modal .user-suggestion ul {
	margin: 0 0 8px 0;
	padding: 0 0px 10px 0px;
	list-style: none;
	border-bottom: 1px solid #CCC;
}

.customer-order-modal .user-suggestion p {
	margin: 0;
}

.customer-order-modal .user-suggestion .message {
	color: #65adfd;
	font-size: 12px;
	line-height: 13px;
	margin: 0 0 5px;
}

.customer-order-modal .user-suggestion .name {
	font-size: 16px;
	font-weight: 600;
}

.customer-order-modal .user-suggestion .phone {
	font-size: 14px;
}

.customer-order-modal .user-suggestion .sku {
	font-size: 12px;
	line-height: 14px;
	margin: 6px 0 10px;
}

.customer-order-modal .user-suggestion .btn {
	font-size: 13px;
	font-weight: 600;
	margin-top: 10px;
	height: 40px;
	line-height: 38px;
	background: var(--bp-blue);
	color: #ffffff;
	width: 100%;
	padding: 0;
}

.customer-order-modal .user-suggestion .btn:hover {
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.customer-order-modal .user-suggestion ul:last-child {
	border-bottom: none;
	margin: 0;
	padding: 0;
}

.bp-customerdropdown ul li .fullName {
	width: 100%;
}

.downArrow {
	cursor: pointer;
}

.selectableDropdown .downArrow {
	position: absolute;
	right: 12px;
	top: 50%;
	width: 14px;
	height: 14px;
	left: auto;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	background: none;
}

.selectableDropdown .downArrow.dfDownArrow {
	top: 42%;
}

.selectableDropdown .searchInput {
	padding-left: 18px;
	margin: 0px;
}

@-moz-document url-prefix() {
	.customer-order-modal .user-suggestion ul:last-child {
		margin: 0 0 8px 0;
		padding: 0 0px 10px 0px;
	}
}
.show-desktop-view {
	display: block !important;
}
.show-mobile-view {
	display: none !important;
}

/*# sourceMappingURL=scss/maps/AddEditCustomer_V2.css.map */

@media  (min-width: 320px) and (max-width: 1024px)  {
	.show-desktop-view {
		display: none !important;
	}
	.show-mobile-view {
		display: flex !important;
	}
	
	.customer-order-modal .modal-dialog {
		width: 90%;
		margin-bottom: 0px;
	}
	.customer-order-modal .user-suggestion {
		right: 0;
		bottom: auto;
		top: auto;
		width: 100%;
		z-index: 1000;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		text-align: left;
		border-top: none;
		box-shadow: 0px 0px 4px 4px rgba(0,0,0,.12);
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	.customer-order-modal .user-suggestion .message {
		display: flex;
		flex: 1 0 auto;
		flex-basis: 20%;
		padding-right: 30px;
	}
	.customer-order-modal .user-suggestion ul {
		display: flex;
		flex-basis: 80%;
		border-bottom: none;
		border-left: 1px solid #CCC;
		padding-left: 30px;
	}
	.customer-order-modal .user-suggestion ul li {
		display: flex;
		flex-basis: 100%;
		align-items: center;
	}
	.customer-order-modal .user-suggestion ul li .suggestion-details {
		width: 40%;
		padding-right: 15px;
	}
	.customer-order-modal .user-suggestion .btn {
		width: 20%;
	}
	.customer-order-modal .user-suggestion ul:last-child {
		padding-left: 30px;
	}
}
@media  (min-width: 320px) and (max-width: 767px)  {
	.customer-order-modal .user-suggestion ul {
		flex-basis: 100%;
		border-left: none;
		padding-left: 0px;
		border-bottom: 1px solid #CCC;
	}
	.customer-order-modal .user-suggestion ul li {
		flex-wrap: wrap;
	}
	.customer-order-modal .user-suggestion ul li .suggestion-details {
		width: 75%;
		padding-right: 15px;
	}
	.customer-order-modal .user-suggestion .btn {
		width: 25%;
		height: 50px;
	}
	.customer-order-modal .user-suggestion ul:last-child {
		padding-left: 0px;
	}
	.customer-order-modal .left-container:after {
		background: transparent;
	}
}
@media  (min-width: 320px) and (max-width: 650px)  {
	.customer-order-modal .customer-order-buttons {
		text-align: left;
	}
	.customer-order-modal .add-btn {
		margin-bottom: 10px;
	}
}