.loadingDivIcon {
	display: none;
}

.popupinside .popupright .addCOUWrapper form .form_fields {
	width: 100% !important;
	margin-top: 5px;
}

.popupinside .popupright .addCOUWrapper form .no-margin-top .form_fields {
	margin-top: 0px;
}

.popupinside .popupright .addCOUWrapper form .form-group label {
	width: 30%;
	float: left;
	margin-top: 10px;
}

.popupinside .popupright .addCOUWrapper form .bp-switch {
	margin-top: 8px;
}

.popupinside .popupright .addCOUWrapper form .bp-switch .bp-slider {
	width: 36px;
}

.popupinside .popupright .addCOUWrapper form .form-group .form-control {
	width: 70%;
	float: left;
}

.popupinside .popupright .addCOUWrapper form .form-group .smallForm-control {
	width: 65%;
}

.popupinside .popupright .addCOUWrapper form .form-group .haff-form-control {
	width: 30%;
}

.popupinside .popupright .addCOUWrapper form .form-group label.mileageSection {
	width: auto;
	margin: 9px 0 7px 10px;
}

.blue_Text {
	color: var(--bp-blue-alt);
}

.popup_container .existing_COU .goldbox .type2 {
	width: 70%;
}

.COU_But {
	padding: 0 15px;
}

.P0 {
	padding: 0px;
}

.addCOUWrapper .COUaddMoreInfoSection {
	margin-top: 20px;
}

.redColorBg {
	background-color: #D99795;
	color: white;
}

.popupinside .popupright .addCOUWrapper form .form-group .small-haff-form-control {
	width: 14%;
	margin-left: 12px;
}

.popupinside .addunitWrapper .tabconainer {
	overflow: visible !important;
	padding-bottom: 0px !important;
}

.popupinside .addunitWrapper #SearchToaddCutomerSuggestions {
	width: 65%;
	left: 30%;
	top: 10%;
}

.popupinside .addunitWrapper .angucomplete-holder .form-control-small {
	width: 65% !important;
}

.popup_container .popupleft .couSimilar .rightgoldbox .texttype {
	color: #999 !important;
}

.popup_container .popupleft .couSimilar .rightgoldbox .col-md-offset-1 {
	margin-left: 8.33333333%;
}

.popup_container .popupleft .couSimilar {
	border: 1px solid #000 !important;
}

.leftBorderNone {
	border-left: none !important;
}

.AddNewCOU .edit_modal-dialog {
	width: 800px;
}

.popup_container .popupleft .P0 {
	padding: 0px !important;
}

.popup_container .popupleft .couSimilar .type2 {
	width: 65%;
	margin-top: 10px;
}

.popup_container .popupleft .couSimilar .rightgoldbox .vinUnknown {
	font-weight: 600;
	font-size: 14px;
	margin: 0.01em;
	color: #939CA9 !important;
	font-style: italic;
	text-transform: capitalize;
}

.popup_container .popupleft .couSimilar {
	min-height: 119px !important;
}

.popup_container .popupleft .couSimilar .rightgoldbox p {
	font-size: 13px !important;
	height: 16px;
}

.popup_container .popupleft .couSimilar .rightgoldbox .lastPtag {
	height: 25px;
}

.popup_container .popupleft .couSimilar .rightgoldbox p span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.addunitWrapper .tabconainer form .form-group .checkbox .chk_tick {
	margin: 6px 0px !important;
}

.selectDropbox {
	width: 68%;
	float: left;
}

.selectDropbox .btn {
	width: 96%;
	border-radius: 0;
	padding: 4px 12px;
}

.selectDropbox .dropdown-menu {
	border-radius: 0;
	margin-top: 0;
	width: 96%;
}

.selectDropbox .dropdown-menu .angucomplete-selected-row {
	background: #f5f5f5;
	color: black;
	cursor: pointer;
}

.selectDropbox .dropdown-menu > li:hover {
	background: #f5f5f5;
	color: #FFFFFF;
	cursor: pointer;
}

.selectDropbox .dropdown-menu li {
	color: #FFFFFF;
	cursor: pointer;
}

.selectDropbox .dropdown-menu li > a {
	color: #000;
	text-decoration: none;
	background-color: transparent;
	padding: 0px 5px 0px 10px;
	cursor: pointer;
}

.selectDropbox .dropdown-menu li > a:hover {
	color: #000;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

.selectDropbox .dropdown-menu li > a:focus {
	color: #000;
	text-decoration: none;
	background-color: transparent;
	cursor: pointer;
}

.AddEditCouAddMoreFields .scrollDropDown {
	height: auto;
	min-height: 76px;
	max-height: 350px;
	overflow-y: auto;
	width: 65%;
}

.selectDropbox .inner-addon {
	position: relative;
}

.selectDropbox .inner-addon .glyphicon {
	position: absolute;
	padding: 10px;
	pointer-events: none;
}

.left-addon .glyphicon {
	left: 0px;
}

.right-addon .glyphicon {
	right: 8px;
	z-index: 1;
	font-size: 17px;
	top: -3px;
}

.left-addon input {
	padding-left: 30px;
}

.right-addon input {
	padding-right: 30px;
}

.popupinside .popupright .addCOUWrapper form .form-group .right-inner-addon input {
	width: 100%;
}

.controlBtn {
	margin-top: 5px;
}

.controlBtn .fa {
	color: #B7BEC6;
}

.homePagecontrols {
	display: none;
}

.round_btn {
	border-radius: 3pt;
	padding: 3px 0px;
	height: 24px;
}

.column_fixHeight {
	height: 180px;
	overflow-y: auto;
	width: 100%;
}

.redborder {
	border: 2px solid red;
}

.popupright .tabconainer form .form-group .checkbox .chk_tick .chksqure {
	display: block;
}

.makeModelSelectBtn .btn {
	padding: 6px 10px;
	color: #FFF;
	background: #B7BEC6;
	line-height: 0.6;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	right: 6%;
	top: 20%;
	position: absolute;
}

.makeModelSelectorSubDiv {
	border: 1px solid #cccccc;
}

.makeModelSelectorSubDiv tbody {
	display: block;
	max-height: 60px;
	overflow-y: auto;
}

.makeModelSelectorSubDiv thead,
.makeModelSelectorSubDiv tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.Plr0 {
	padding: 0;
}

.Pr0 {
	padding-right: 0px;
}

.selectDropbox .dropdown-menu .noMatchesFound {
	cursor: auto;
}

.selectDropbox .dropdown-menu .noMatchesFound > span {
	color: #acacac;
	font-style: italic;
	background-color: transparent;
	padding: 0px 5px 0px 10px;
	cursor: auto;
}

.AddNewCOU .form-group.pricefiled input {
	padding-left: 34px;
}

.AddNewCOU .form-group.pricefiled .currency {
	left: 30.5%;
	height: 30px;
	top: 2px;
}

.disabledField {
	background: #eee !important;
	pointer-events: none !important;
	cursor: not-allowed !important;
}

.modal-dialog {
	width: 1100px;
	-webkit-box-shadow: 10px 10px 5px #6F6868;
	box-shadow: 10px 10px 5px #6F6868;
}

.modal-backdrop.in {
	height: 2000px !important;
}

.form-control {
	width: 100%;
}

.bg_container {
	min-height: 650px;
}

.popup_container {
	border: 1px solid #cccccc;
}

.popup_container .popupleft .popupleft_container {
	overflow: hidden;
	padding-bottom: 40px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.popup_container .popupleft .popupleft_container#topsection {
	min-height: 618px;
}

.popup_container .popupright {
	padding-bottom: 5px;
	border-left: 1px solid #cccccc;
}

.popup_container .popupleft .letpanel_heading {
	font-size: 18px;
	font-weight: bold;
	color: var(--bp-blue-alt);
	float: left;
	width: 85%;
	margin: 20px 0 10px 0;
}

.popup_container .popupleft .letpanel_heading .helptip {
	position: absolute;
	right: 49px;
	top: -5px;
	font-size: 24px;
}

.popup_container .popupleft .goldbox {
	min-height: 96px;
	border: none;
	border-top: 1px solid #F6F7F9;
	padding: 20px;
	max-width: initial;
}

.popupright .right_panel_heading {
	float: left;
	font-weight: lighter;
	text-transform: capitalize;
	font-size: 22px;
	color: #414449;
}

.popupright .right_heading_container {
	padding-left: 0;
	padding-right: 0;
}

.popupright .tabconainer {
	clear: left;
	overflow: hidden;
	padding-bottom: 10px;
}

.popupright .tabconainer .addmoreinfo {
	background: #f79420;
	width: 100%;
	margin-top: 10px;
}

.popupright .tabconainer.noborder {
	border-bottom: 0px solid #cccccc;
}

.popupright .tabconainer .option_field {
	clear: both;
}

.popupright .tabconainer form .form-group {
	width: 43%;
	float: left;
	margin: 2px;
	position: relative;
}

.popupright .tabconainer form .form-group.small {
	width: 10%;
}

.popupright .tabconainer form .form-group.small2 {
	width: 22%;
	color: #D2D2D2;
	font-size: 15px;
	padding-top: 8px;
}

.popupright .tabconainer form .form-group.half {
	width: 43%;
}

.popupright .tabconainer form .form-group.large {
	width: 87%;
}

.popupright .tabconainer form .form-group.medium {
	width: 53%;
}

.popupright .tabconainer form .form-group input[type="text"],
.popupright .tabconainer form .form-group input[type="email"],
.popupright .tabconainer form .form-group select {
	border-radius: 0;
}

.popupright .tabconainer form .form-group select {
	padding-left: 5px;
}

.popupright .tabconainer form .form-group .checkbox {
	display: block;
}

.popupright .tabconainer form .form-group .checkbox .chk_tick {
	display: block;
	float: left;
	width: 32px;
	height: 29px;
	overflow: hidden;
	border: 1px solid #cccccc;
	cursor: pointer;
}

.popupright .tabconainer form .form-group .checkbox .chk_txt {
	display: block;
	float: left;
	padding-top: 5px;
	padding-left: 8px;
}

.popupright .tabconainer form .lable_fields.chkbox p {
	padding-top: 10px;
}

.popupright .tabconainer form .lable_fields {
	float: left;
	width: 34%;
	margin-top: 5px;
}

.popupright .tabconainer form .lable_fields .form_lable_icons {
	display: block;
	float: left;
	width: 30px;
	height: 30px;
	background-image: url("../Images/circlefornumber.png") no-repeat;

}

.popupright .tabconainer form .lable_fields .form_lable_icons.text {
	font-size: 10px;
	padding-top: 9px;
}

.popupright .tabconainer form .lable_fields .form_lable_icons {
	color: #f89420;
	text-align: center;
	padding-top: 7px;
	font-size: 16px;
}

.popupright .tabconainer form .lable_fields p {
	padding: 5px 5px 5px 5px;
	font-weight: bold;
	float: left;
}

.popupright .tabconainer form .form_fields {
	float: right;
	width: 66%;
	position: relative;
}

.popupright .tabconainer form .form_fields .helplink {
	position: absolute;
	right: 13px;
	top: -2px;
	color: #f89420;
	font-size: 20px;
}

.popupright .tabconainer form .form_fields {
	position: relative;
}

.popupright .tabconainer form .form_fields a.bookmarklink {
	position: absolute;
	right: 6px;
	top: 6px;
	font-size: 19px;
	color: #f1f1f1;
}

.popupright .tabconainer form .form-group .form-control:focus {
	border-color: #f89420;
	outline: 1;
	border: 2px solid var(--bp-blue-alt);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.themebtn_gray {
	background: #D5D5D5;
	color: #ffffff;
	border: none !important;
	font-weight: bold;
}

.themebtn_orange {
	background: #f89420;
	color: #ffffff;
	border: none !important;
	font-weight: bold;
}

.popupright .savecancle_btncntnr {
	float: right;
	margin-top: 17px;
}

.popupright .tabbtn_container {
	clear: both;
	text-align: left;
	padding: 0;
}

.popupright .tabbtn_container .btn {
	width: 49%;
}

.popup_container .popupleft .goldbox.exists .leftgoldbox {
	width: 44px;
	height: 44px;
	background: #FFF;
	padding: 0px;
	float: left;
}

.popup_container .popupleft .goldbox .rightgoldbox {
	float: left;
	color: #000;
	position: relative;
	width: 180px;
}

.popup_container .popupleft .goldbox .rightgoldbox.type2 {
	width: 74%;
}

.popup_container .popupleft .goldbox .leftgoldbox .star_container {
	text-align: center;
	font-size: 25px;
	color: #fff;
}

.popup_container .popupleft .goldbox .rightgoldbox p {
	padding: 0 2px;
	margin: 0;
	font-size: 13px;
	color: #54a8dd;
}

.popup_container .popupleft .goldbox.exists .leftgoldbox {
	padding: 0px;
	background: none;
	width: 79px;
	height: 76px;
}

.popup_container .popupleft .goldbox.exists .leftgoldbox img {
	width: 100%;
	height: 100%;
}

.popup_container .popupleft .goldbox.exists .leftgoldbox .starimg {
	height: 44px;
	width: 44px;
	padding: 5px;
	border-radius: 5px;
	background: #373C40;
	margin-left: 2px;
}

.popup_container .popupleft .goldbox .rightgoldbox .cust_name {
	font-size: 18px;
	color: #939CA9;
}

.popup_container .popupleft .goldbox .rightgoldbox .cust_name.address {
	margin-left: 10px;
	font-weight: 600;
	text-transform: capitalize;
	font-size: 13px;
	color: #939CA9;
}

.popup_container .popupleft .goldbox .rightgoldbox .cust_name.address .titletxt {
	font-size: 20px;
	text-decoration: underline;
}

.popup_container .popupleft .goldbox .rightgoldbox .boxedit {
	position: absolute;
	right: -24px;
	top: 5px;
	display: block;
	width: 21px;
}

.popup_container .popupleft .goldbox .rightgoldbox .boxedit img {
	max-width: 100%;
}

.popup_container .popupleft .goldbox .rightgoldbox .boxenum {
	position: absolute;
	right: -26px;
	top: 31px;
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../Images/circlefornumber.png") no-repeat;
	background-size: 100%;
	color: #f79420;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	padding-top: 8px;
}

.popup_container .popupleft .goldbox .bottomgoldbox {
	width: 100%;
	height: 15px;
	background: #666666;
	clear: both;
	color: #fff;
	font-size: 11px;
	text-align: right;
}

.popupright .tabconainer form .controls {
	position: absolute;
	right: 5px;
	height: 33px;
	width: 50px;
	margin-top: 2px;
	font-size: 18px;
	padding: 4px 0;
	display: none;
}

.popupright .tabconainer form .controls1 {
	position: relative;
	right: -91%;
	top: -31px;
}

.popupright .tabconainer form .controls .fa-question-circle {
	color: #B7BEC6 !important;
}

.popupright .tabconainer form .controls .fa-times {
	color: #9E9E9E;
}

.AddEditCouAddMoreFields .add_info_dropdown {
	top: 96%;
	right: 0;
	left: 0;
}

.AddEditCouAddMoreFields .add_info_dropdown li a {
	text-decoration: none;
	padding: 10px 20px;
}

.popupright .tabconainer form .form-group.onehalf {
	width: 25%;
}

.popupright .tabconainer form .form-group.threehalf {
	width: 64%;
}

.popupright .tabconainer form .form-group .chkbox_custom {
	overflow: hidden;
	border: 1px solid #cccccc;
	max-width: 100px;
}

.popupright .tabconainer form .form-group .chkbox_custom.disabled .leftchked.checked {
	background-image: url("../Images/chkpngleft_trimmed_disabled.png") no-repeat;
	color: #FFFFFF;
	background-size: 100% 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 9px;
	padding-right: 5px;
}

.popupright .tabconainer form .form-group .chkbox_custom.disabled .leftchked {
	background: none;
	color: #FFFFFF;
	background-size: 100% 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 9px;
	padding-right: 5px;
}

.popupright .tabconainer form .form-group .chkbox_custom.disabled .rightchked.checked {
	background-image: url("../Images/chkpngleft_trimmed_disabled.png") no-repeat;
	color: #FFFFFF;
	background-size: 100% 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-left: 5px;
}

.popupright .tabconainer form .form-group .chkbox_custom.disabled .rightchked {
	background: none;
	color: #FFFFFF;
	background-size: 100% 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-left: 5px;
}

.popupright .tabconainer form .form-group .chkbox_custom .leftchked {
	width: 55%;
	float: left;
	height: 34px;
	background-image: url("../Images/chkpngleft_trimmed_disabled.png") no-repeat;
	color: #FFFFFF;
	background-size: 100% 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 9px;
	padding-right: 5px;
	cursor: pointer;
}

.popupright .tabconainer form .form-group .chkbox_custom .rightchked {
	width: 55%;
	float: left;
	height: 34px;
	background-image: url("../Images/chkpngleft_trimmed_disabled.png") no-repeat;
	color: #FFFFFF;
	background-size: 100% 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-left: 5px;
	cursor: pointer;
	margin-left: -10px;
	margin-top: -1px;
}

.popupright .tabconainer form .form-group .chkbox_custom .leftchked.checked {
	background-image: url("../Images/chkpngleft_trimmed_disabled.png") no-repeat;
	color: #FFFFFF;
	background-size: 100% 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 9px;
	padding-right: 5px;
}

.popupright .tabconainer form .form-group .chkbox_custom .rightchked.checked {
	background-image: url("../Images/chkpngleft_trimmed_disabled.png") no-repeat;
	color: #FFFFFF;
	background-size: 100% 100%;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	padding-left: 5px;
}

.popupright .tabconainer form .form-group .smschkbox {
	margin-top: 0px;
}

.popupright .tabconainer form .form-group .smschkbox .chk_tick {
	width: 37px;
	height: 34px;
}

.popupright .tabconainer form .form-group .smschkbox .chk_tick.chked .chksqure {
	font-size: 46px;
}

.redborder {
	border: 2px solid red;
}

.orange {
	color: orange;
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}

.feeSearchInputArea .searchInput {
	padding: 7px;
	font-size: 12px;
	height: 34px;
}

.feeSearchInputArea .searchResultOverlay {
	padding: 33px 5px 0px 5px;
}

.feeSearchInputArea ul > li {
	padding: 5px 0 5px 5px;
	font-size: 12px;
}

.tagAutocomplete ul > li {
	text-transform: none;
}

.feeSearchInputArea .redborder {
	border: 2px solid red !important;
}

.searchInputArea .searchInput {
	margin-bottom: 0;
}

.tag .tag-ul-list {
	padding: 0;
}

.tag .tag-ul-list .tag-list {
	display: inline-block;
	padding: 0 14px 0 10px;
	border-radius: 25px;
	margin-top: 8px;
	float: left;
	height: 26px;
	background-color: #ddf3fb;
	position: relative;
	margin-right: 2.5%;
}

.tag .tag-ul-list .tag-list .tag-name-span {
	margin-top: 4px;
	display: inline-block;
}

.tag-ul-list .tag-list .cross-icon {
	color: #00A3DB;
	float: right;
	position: relative;
	width: 9px;
	height: 9px;
	margin: -13px 10px 0 -4px;
	display: inline-block;
	cursor: pointer;
}

.tagAutocomplete .searchInput {
	z-index: 101;
}

.tagAutocomplete .searchResultOverlay {
	z-index: 100;
}

.tagAutocomplete .tag {
	margin-top: -8px;
}

.searchInputArea.showingOverlay .searchResultOverlay {
	max-height: 250px;
}

.option_field .tagAutocomplete {
	margin-left: 30%;
}

.popup_container .searchInputArea .searchInput {
	width: 93% !important;
}

.tagAutocomplete .searchResultOverlay {
	width: 93%;
}

.searchInputArea.showingOverlay .searchResultOverlay .selected-row {
	background: #f5f5f5;
	color: black;
	cursor: pointer;
}

.popup_container .popupleft .goldbox .rightgoldbox.unitDetails {
	margin-left: 12px;
}

.popupinside .popupright .addCOUWrapper form .form-group .sub-item-label {
	width: 100%;
	margin-top: 6px; 
}
 
.bp-info-card .header-content .header-text {
	font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: var(--dark-grey2) !important;
    letter-spacing: -0.1px;
    cursor: default;
}

.result-text .result-text-label {
	font-weight: normal;
	color: var(--grey1);
}
/*# sourceMappingURL=scss/maps/AddEditUnit.css.map */
.vin-loading-icon .input-loading-icon {
	right: 30px !important;
	top: 8px !important;
}