@charset "UTF-8";
/*
Global Loader to show and hold till applicaiton fully laoaded
#3096 - Assembla
*/
.bp-preloader-wrap {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background: #000;
	z-index: 99910;
}

.loader,
.percentage {
	height: 120px;
	max-width: 120px;
	border-radius: 50%;
	font-weight: 300;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 9;
}

.loader {
	overflow: hidden;
}

.percentage-number {
	width: 500px;
	text-align: center;
	z-index: 100;
	color: #fff;
	bottom: -50px;
	left: -190px;
	position: absolute;
	font-size: 30px;
}

.percentage {
	background-color: #fff;
	text-align: center;
	color: #fff;
	line-height: 30px;
	font-size: 15px;
}

.loader:after,
.percentage:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.trackbar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
	position: relative;
	opacity: 0.99;
	z-index: 3;
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
}

.loadbar {
	width: 0%;
	height: 100%;
	background: #3384ff;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: flicker 5s infinite;
	        animation: flicker 5s infinite;
}

.glow {
	width: 0%;
	height: 0%;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 60px 10px rgba(255, 255, 255, 0.4);
	        box-shadow: 0px 0px 60px 10px rgba(255, 255, 255, 0.4);
	position: absolute;
	bottom: -5px;
	-webkit-animation: animation 5s infinite;
	        animation: animation 5s infinite;
}

@-webkit-keyframes animation {
	10% {
		opacity: 0.9;
	}
	30% {
		opacity: 0.86;
	}
	60% {
		opacity: 0.8;
	}
	80% {
		opacity: 0.75;
	}
}

@keyframes animation {
	10% {
		opacity: 0.9;
	}
	30% {
		opacity: 0.86;
	}
	60% {
		opacity: 0.8;
	}
	80% {
		opacity: 0.75;
	}
}

.light-bolt {
	position: absolute;
	left: 23px;
	top: -2px;
	width: 93px;
	z-index: 101;
}

/*
Gloabl loader styles ends here
*/
.M0 {
	margin: 0px;
}

.bp-header-wrapper {
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 10000;
}

.bp-upgrade-wrapper {
	width: 100%;
	height: 35px;
	background-color: #FF6458;
}

.bp-header-search {
	width: 40%;
}

.bp-header-setting-icon .bp_navbar-logo {
	margin: 20px 0px 8px 26px;
}

.bp-setting-icon-Wrapper {
	padding-top: 16px;
	padding-bottom: 0px;
	padding-right: calc((100% - 46px)/3);
	height: 60px;
}

.bp-header-help-div {
	padding-top: 16px;
	padding-bottom: 0px;
	padding-left: calc((100% - 46px)/3);
	padding-right: calc((100% - 46px)/3);
}

.bp-moble-search-icon {
	display: none;
}

.bp-upgrade-container {
	width: 25%;
	margin: 0 auto;
}

.bp-navigationbar .bp-navigation-list li:hover .bp-icon-text {
	color: var(--bp-blue-alt);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.bp-navigationbar .bp-navigation-list li:hover .bp-icon-text.hover_orange_ff6600 {
	color: #ff6600;
}

.bp-navigationbar .bp-navigation-list li:hover {
	background: #000;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.bp-navigationbar .bp-navigation-list li:hover i svg {
	stroke: var(--bp-blue);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.bp-navigationbar .bp-navigation-list li:hover .hover_orange_ff6600 svg {
	stroke: #ff6600;
}

.bp-upgradenow-text {
	font-size: 14px;
	font-weight: 600;
	color: #FFF;
	line-height: 35px;
	margin-right: 10px;
}

.bp-upgrade-button {
	border-radius: 3px;
	background-color: #C44238;
	padding: 5px 7px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	line-height: 17px;
	text-align: center;
	border: 1px solid #C44238;
	outline: none;
}

.bp-header-container {
	width: 100%;
	background: #2D2D2D;
	min-height: 60px;
}

.bp_navbar-logo {
	margin: 13.45px 0px 15px 20.48px;
}

.bp-logo {
	width: 31px;
	height: 31.5px;
}

.bp-header-setting-icon {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.bp-upgrade-close-but {
	float: right;
	height: 14.42px;
	width: 14.42px;
	cursor: pointer;
	margin-top: -28px;
	margin-right: 10px;
}

.bp-dropdown {
	position: relative;
	display: inline-block;
}

.bp-border-right-525252 {
	border-right: 1px solid #525252;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.bp-icon-content {
	padding: 20px;
	height: 60px;
}

.bp-navigation-top-bar {
	width: 43%;
	float: left;
}

.bp-navigationbar {
	width: 100%;
}

.bp-navigationbar .bp-navigation-list {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.bp-navigationbar .bp-navigation-list li {
	list-style: none;
	text-align: center;
	border-left: 1px solid #525252;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	height: 60px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.bp-navigationbar .bp-navigation-list li a {
	text-decoration: none;
}

.bp-border-right {
	border-right: 1px solid #525252;
}

.bp-logo-icon {
	width: 23px;
	height: 23px;
	position: relative;
	top: 3px;
}

.bp-icon-text {
	font-size: 12px;
	font-weight: 600;
	color: #FFF;
	margin-top: 4px;
	margin-left: 12px;
	text-transform: uppercase;
	position: relative;
	top: -3px;
}

.bp-dropdown-content {
	position: absolute;
	top: 100%;
	width: 294px;
	-webkit-transform-origin: top;
	transform-origin: top;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-transform: scale(1, 0);
	-moz-transform: scale(1, 0);
	-ms-transform: scale(1, 0);
	display: block;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	left: -73.78%;
}

.bp-temp-div {
	width: 294px;
	background: transparent;
	height: 7px;
	position: absolute;
	top: 100%;
	left: -73.78%;
}

.bp-header-clocking-Icon .bp-dropdown-content {
	left: auto;
	right: -60%;
}

.bp-dropdown-content .BP_navBarActionMenu {
	float: left;
	width: 294px;
	background: #FFF;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	border-radius: 3px;
	padding: 15px 10px;
}

.bp-dropdown-content .BP_navBarActionMenu .BP_navBarActionMenuItem {
	float: left;
	width: 100%;
	height: 52px;
}

.bp-dropdown-content .BP_navBarActionMenu .BP_navBarActionMenuItem:hover {
	background: #F6F7F9;
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.bp-dropdown-content .BP_navBarActionMenu .BP_navBarActionMenuItem .BP_navBarActionMenuItemIcon {
	float: left;
	padding: 14.52px 15.5px 14.48px 25.5px;
}

.bp-dropdown-content .BP_navBarActionMenu .BP_navBarActionMenuItem .BP_navBarActionMenuItem_label {
	float: left;
	color: #4A4A4A;
	font-size: 20px;
	font-weight: 300;
	line-height: 50px;
}

.bp-dropdown:hover .bp-temp-div {
	display: block;
}

.bp-dropdown-content.BP_SettingsActionDropdown_Container {
	right: 25.67%;
	left: auto;
}

.bp-dropdown-content .BP_SettingsActionContent {
	width: 294px;
	float: left;
	padding: 15px 10px;
	background: #FFF;
	-webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	border-radius: 3px;
}

.bp-dropdown-content .BP_SettingsActionContent .BP_UserInfoAndLogoutAction_Container {
	width: 100%;
	float: left;
	padding: 0 3px 0 27px;
}

.bp-dropdown-content .BP_SettingsActionContent .BP_UserInfoAndLogoutAction_Container .BP_UserInfo_Wrapper {
	width: 130px;
	float: left;
	color: #4A4A4A;
	cursor: default !important;
}

.bp-dropdown-content .BP_SettingsActionContent .BP_UserInfoAndLogoutAction_Container .BP_UserInfo_Wrapper .BP_LoggedInUserName {
	float: left;
	font-size: 20px;
	font-weight: 600;
	padding-top: 11px;
	padding-bottom: 11px;
	word-wrap: break-word;
	width: 100%;
}

.bp-Schedule-wrapper-width {
	width: auto;
}

.bp-entity-wrapper-width {
	width: auto;
}

.bp-dropdown-content .BP_SettingsActionContent .BP_UserInfoAndLogoutAction_Container .BP_LogOutAction_Container {
	float: right;
	padding: 13px 26px;
	min-width: 61px;
}

.bp-dropdown-content .BP_SettingsActionContent .BP_UserInfoAndLogoutAction_Container .BP_LogOutAction_Container a {
	float: right;
	color: var(--bp-blue);
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

.bp-dropdown-content .BP_SettingsActionContent .BP_SettingsActionMenu {
	float: left;
	width: 100%;
}

.bp-dropdown-content .BP_SettingsActionContent .BP_SettingsActionMenu .BP_SettingsActionFirstMenu {
	float: left;
	width: 100%;
}

.bp-dropdown-content .BP_SettingsActionContent .BP_SettingsActionMenu .BP_SettingsActionFirstMenu .BP_navBarActionMenuItem {
	float: left;
	width: 100%;
}

.bp-dropdown-content .BP_SettingsActionMenuItem {
	height: 50px;
	width: 100%;
	float: left;
}

.BP_GlobalHeader_Container {
	display: none;
}

.bp-header-add-icon {
	width: auto;
}

.BP_SettingsActionMenu .BP_navBarActionMenuItem:hover {
	background: #F6F7F9;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	cursor: pointer;
}

.bp-dropdown-content .BP_SettingsActionMenuItem .BP_SettingsActionMenuItemIcon {
	float: left;
	padding: 13px 23.1px 13px 27.5px;
	font-size: 0;
}

.bp-dropdown-content .BP_SettingsActionMenuItem.adjust-padding-for-name .BP_SettingsActionMenuItemIcon {
	padding-right: 19px;
}

.bp-dropdown-content .BP_SettingsActionMenuItem .BP_navBarActionMenuItem_label {
	color: #4A4A4A;
	font-size: 20px;
	font-weight: 300;
	line-height: 50px;
	float: left;
}

.bp-active-state span.bp-icon-text {
	color: #00A3DB !important;
}

.bp-active-state span.bp-icon-text.orange_ff6600 {
	color: #ff6600 !important;
}

.bp-dropdown-content .BP_SettingsActionMenu .BP_SettingsActionSecondMenu {
	float: left;
	margin-top: 8.5px;
	padding-top: 5.5px;
	border-top: 1px solid #DDDDDD;
	width: 100%;
}

.bp-entity-wrapper-width:hover,
.bp-Schedule-wrapper-width:hover {
	background: #000;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.bp-transparent {
	background: transparent;
	margin: 0px;
	height: 10px;
	cursor: default !important;
}

.bp-äctive-state .bp-icon-text,
.bp-äctive .bp-icon-text {
	color: #00A3DB;
}

@media (min-width: 880px) and (max-width: 1279px) {
	.bp-upgrade-container {
		width: 30%;
	}
}

@media (min-width: 880px) and (max-width: 1220px) {
	.BP_globalSearch_angucomplete-holder .BP_form-control {
		width: 86%;
	}
}

@media (min-width: 320px) and (max-width: 1023px) {
	.bp-upgrade-container {
		width: 40%;
	}
	.bp-header-logo {
		width: 16.666%;
	}
	.bp-header-search {
		width: 66.66666667%;
	}
	.bp-navigationbar .bp-navigation-list li {
		height: 50px;
		margin-top: 2px;
	}
	.bp-entity-wrapper-width,
	.bp-Schedule-wrapper-width {
		width: 25%;
	}
	.bp-header-clocking-Icon .bp-dropdown-content {
		left: auto;
		right: 0%;
	}
	.bp-navigation-top-bar {
		width: 100%;
		background-color: #1D1D1D;
	}
	.bp-navigationbar .bp-navigation-list li a {
		padding: 11px 10px;
		height: 50px;
	}
	.bp-dropdown-content {
		left: 0;
	}
	.bp-upgrade-container {
		width: 40%;
	}
	.bp-header-setting-icon {
		-webkit-box-ordinal-group: 4;
		    -ms-flex-order: 3;
		        order: 3;
		-webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.4);
		        box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.4);
		width: 16.66666667%;
		border: none;
		position: fixed;
		right: 0px;
		height: 60px;
	}
	.bp-navigation-top-bar:before {
		content: "";
		width: 100%;
		height: 60px;
		-webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
		        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
		float: left;
		position: absolute;
		top: 0;
		pointer-events: none;
	}
	.bp-setting-icon-Wrapper {
		padding-top: 16px;
		padding-bottom: 0px;
		padding-right: 20.48px;
		height: 60px;
	}
	.bp-header-help-div {
		padding-top: 16px;
		padding-bottom: 0px;
		padding-right: 20.48px;
		padding-left: 0px;
	}
	.bp-icon-content,
	.bp-icon-content-schedule {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.bp-header-add-icon {
		padding: 0px;
		-webkit-box-ordinal-group: 5;
		    -ms-flex-order: 4;
		        order: 4;
		background-color: #1D1D1D;
		width: 100%;
	}
	.bp-header-logo {
		-webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.4);
		        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.4);
	}
	.bp-header-search {
		-webkit-box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.4);
		        box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.4);
		border: none;
	}
	.bp-dropdown {
		height: 50px;
	}
	.bp-dropdown-content.BP_SettingsActionDropdown_Container {
		right: 0px;
	}
}

@media (min-width: 1024px) and (max-width: 1120px) {
	.bp-header-search {
		width: 35%;
	}
	.bp-navigation-top-bar {
		width: 48%;
	}
}

@media (min-width: 670px) and (max-width: 880px) {
	.bp-upgrade-container {
		width: 50%;
	}
}

@media (min-width: 400px) and (max-width: 580px) {
	.bp-header-logo {
		width: 10%;
	}
	.bp-header-setting-icon {
		width: 20%;
	}
	.BP_globalSearch_angucomplete-holder .BP_form-control {
		width: 80% !important;
	}
}

@media (min-width: 320px) and (max-width: 465px) {
	.BP_GlobalSearch_angucomplete-dropdown {
		width: 100% !important;
		max-width: 275px !important;
		min-width: 180px !important;
	}
	.bp-hide {
		display: none;
	}
	.BP_globalSearch_angucomplete-holder .BP_GlobalSearchIcon_Holder {
		display: none;
	}
	.bp-icon-text {
		margin: 0px;
		top: 0px;
	}
	.bp-navigationbar .bp-navigation-list li a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding: 0;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.bp-header-search {
		width: 60%;
	}
	.BP_globalSearch_angucomplete-holder .BP_form-control {
		width: 100% !important;
		/* due to common.css */
	}
	.BP_globalSearch_angucomplete-holder .BP_form-control input.anguinputGlobalSearchStr {
		margin-left: 0px !important;
		/* due to common.css */
		padding-left: 40px;
	}
	.bp-header-setting-icon {
		width: 23%;
	}
	.bp-header-clocking-Icon .bp-dropdown-content {
		right: 25%;
	}
	.bp-dropdown-content {
		left: -64%;
	}
	.bp-addnew-drop-down {
		left: auto;
	}
	.bp-logo-icon {
		top: 0px;
	}
	.bp-setting-icon-Wrapper,
	.bp-header-help-div {
		width: 50%;
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		/* Due to CSS override*/
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		height: 60px !important;
		/* Due to CSS override*/
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 0px;
	}
	.bp-moble-search-icon {
		position: absolute;
		left: 15px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		        transform: translateY(-50%);
		width: 20px;
		height: 20px;
		display: inline-block;
	}
	.hasfocusedInput .bp-moble-search-icon {
		display: none;
	}
	.BP_globalSearch_angucomplete-holder .hasfocusedInput input.anguinputGlobalSearchStr {
		padding-left: 20px;
	}
	.BP_globalSearch_angucomplete-holder .BP_form-control {
		border-radius: 3px !important;
		/* due to common css*/
	}
}

@media (min-width: 400px) and (max-width: 580px) {
	.bp-header-logo {
		width: 12%;
	}
	.bp-header-setting-icon {
		width: 20%;
	}
	.BP_globalSearch_angucomplete-holder .BP_form-control {
		width: 100% !important;
	}
	.bp-header-search {
		width: 70%;
	}
}

@media (min-width: 466px) and (max-width: 580px) {
	.BP_globalSearch_angucomplete-holder .BP_form-control {
		width: 80% !important;
	}
}

@media (min-width: 1600px) {
	.bp-dropdown-content {
		left: -18%;
	}
	.bp-header-search {
		width: 40%;
	}
}

/*# sourceMappingURL=scss/maps/BpGlobalHeader.css.map */
