.DuplicatePartWarningModal .modal-dialog {
	max-width: 670px;
    width: 100%;
}

.DuplicatePartWarningModal .modal-body .helper-text {
	padding-bottom: 27px;
}

.DuplicatePartWarningModal .modal-body .moreDetailsSection ul {
	max-height: 227px;
	overflow-y: auto;
}

.DuplicatePartWarningModal .modal-body .supressPartCheck {
    margin-top: 15px;
    float:  left;
    width: 100%;
    margin-bottom:  29px;
}

.DuplicatePartWarningModal .modal-body .supressPartCheck .chk_tick {
	margin-left:  0;
}


.DuplicatePartWarningModal .modal-body .supressPartCheck .chk_tick .tickiconWidth  {
	width: 12.88px;
}

.DuplicatePartWarningModal .modal-body .supressPartCheck label {
	float: left;
    font-weight: normal;
    margin-bottom:  0;
    font-size: 14px;
    padding-top: 3px;
}
 
.DuplicatePartWarningModal .modal-body ul {
	padding: 0;
	border: 1px solid #DFE1E5;
    border-radius: 3px;
}

.DuplicatePartWarningModal .modal-body ul li:not(:last-child) {
	border-bottom: 1px solid #DFE1E5;
}


.DuplicatePartWarningModal .modal-body ul li {
	background-color: #F4F5F7;
    padding: 10px 21px;
}

.DuplicatePartWarningModal .modal-body ul li span.bp-set-text-ellipses {
	width: calc(100% - 100px);
}

.DuplicatePartWarningModal .modal-body ul li .partDesc {
	padding: 10px 0px;
}