/* Start: Grid Css */
.scale-table{
  min-width: 920px;
  width:100%;
  border: none;
  table-layout: fixed;
}

.overlaped-table .full-day-leave-tr td {
    padding-left: 3px !important;
}
.scale-table > tbody> tr > td,
.overlaped-table > tbody> tr > td {
    min-width: 23px;
    border-top:none !important;
}
.overlaped-table {
    position: absolute;
    left: 0;
    top: 37px;
    border: none;
    width:100%;
    min-width: 920px;
    table-layout: fixed;
}
.ui-draggable-dragging {
	min-width: 265px;
}
.full-day-leave-tr{
    cursor: not-allowed !important;
}
.overlay-td-hover{
   background: rgba(255, 116, 82, 0.15) !important;
    border-top: 1px dashed  var(--coral) !important;
    border-bottom: 1px dashed  var(--coral) !important;
    border-right: 1px dashed  var(--coral) !important;
    border-radius: 3px !important;
}
.overlay-td-hover {
      background: rgba(255, 116, 82, 0.15) !important;
    border-left: 1px dashed  var(--coral) !important;
    border-top: 1px dashed  var(--coral) !important;
    border-bottom: 1px dashed  var(--coral) !important;
    border-radius: 3px !important;
}
.scale-table .overlay-td-hover td, .overlay-td-hover td {
    border: none !important;
}

.ui-sortable-helper, .ui-sortable-helper > div {
    -webkit-box-shadow: 0px 3px 47px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 47px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 47px -10px rgba(0,0,0,0.75);
    cursor: -webkit-grabbing;
    cursor: grabbing; 
}

.overlay-td-hover.lessbooked-state-hover
 {
    background: rgba(239, 246, 255, .6) !important;
    border-top: 1px dashed  var(--bp-blue-hover) !important;
    border-bottom: 1px dashed  var(--bp-blue-hover) !important;
    border-right: 1px dashed  var(--bp-blue-hover) !important;
    border-radius: 3px !important;
}
.mobile-heading {
    display: none;
}
.overlay-td-hover.lessbooked-state-hover {
     border-left: 1px dashed  var(--bp-blue-hover) !important;
    background: rgba(239, 246, 255, .6) !important;
    border-top: 1px dashed  var(--bp-blue-hover) !important;
    border-bottom: 1px dashed  var(--bp-blue-hover) !important;
    border-radius: 3px !important;
}
.overlay-td-hover.lessbooked-state-hover td{
     border: none !important;
}
.overlay-td-hover.lessbooked-state-hover td:nth-child(odd) {
    border-right: none;
    
}
.overlay-td-hover.lessbooked-state-hover td:nth-child(even) {
    border-left: none;
}
 .leave-container {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: var(--white);
    background: var(--dark-grey1);
    height: 90px;
    margin:1px 0px;
    display: flex;
    align-items: center;
    background: repeating-linear-gradient(-45deg, #a7b0bd, #a7b0bd 14px, #b5bcc7, 8px, #b5bcc7 16px);
    border-radius: 3px;
  width: calc(100% - 1px);
 }


.overlaped-table td{
  height: 94px;
  vertical-align: middle !important;
  padding: 0 !important;
}

.grid-container .scale-table tbody .P0.leave-right-border {
	border-right:1px solid var(--light-grey1) !important; 
}
/* .overlaped-table .appointment-card:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0;
    height: 78px;
    display: block;
    width: 1px;
    background: var(--white);
}
.overlaped-table .appointment-card:before {
     content: '';
    position: absolute;
    left: 0px;
    top: 0;
    height: 78px;
    display: block;
    width: 1px;
    background: var(--white);
} */
.scale-table > thead > tr > th {
  border-left: none;
  border-right: none;
  height: 37px;
  padding-left: 0;
  border-bottom: none;
   color: var(--dark-grey2);
  text-transform: lowercase;
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
}

.grid-container .scale-table tbody td{
  height: 94px;
  border: 1px solid var(--light-grey1);
}

.grid-container .scale-table tbody .P0 {
    padding: 0 !important;
}
.overlaped-table .appointment-card {
    height: 78px;
    position: relative;
    padding-right: 0px;
    align-items: flex-start;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 4px;
}

.flex-item-center {
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
}
.scale-table tbody .left-border {
    border-right-color: transparent;
}

.scale-table tbody .right-border {
    border-left-color: transparent;
}

.grid-container{
  overflow-x: auto;
  width: calc(100% - 215px);
}
.schedule-card {
    background: var(--cyan);
    width: 100%;
    height: 80px;
}
.schedule-card.event1{
  background:  var(--purple);
}
.asign-person{
    position: relative;
    height: 94px;
    width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  border-top: 1px solid var(--light-grey1);
  display: flex;
  align-items: center;
   border-right: 1px solid var(--light-grey1);
}
/* My css */
.overall-container {
    background: var(--white);
    border: 1px solid var(--light-grey1);
    border-radius: 3px;
    margin-bottom: 20px;
}

.technician-list .asign-person:first-child {
    margin-top: 37px;
}
.technician-list {
    width: 215px;
}

.asign-person  .name-initials  {
    border-radius: 50%;
    width: 48px;
    min-width: 48px;
    height:  48px;
    display:  flex;
    justify-content: center;
    text-align:  center;
    color: var(--light-grey);
    align-items:  center;
    background: var(--light-grey1);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.asign-person  .technician-details {
    width: calc(100% - 58px);
    margin-left: 10px;
}

.asign-person  .technician-details p,
.asign-person  .technician-details a {
    width: 100%;
}
.asign-person  .technician-details p {
    color: var(--dark-grey1);
    font-size: 12px;
     line-height: 14px;
}

.scale-table thead th:last-child,.scale-table tbody tr td:last-child {
    border-right:none;
}

.asign-person  .technician-details a,
.add-new-tech-action-container a {
    color: var(--bp-blue);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    line-height: 19px;
}

.asign-person  .technician-details p.hours {
    color: var(--light-grey);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.add-new-tech-action-container {
    border-top: 1px solid var(--light-grey1);
    border-right: 1px solid var(--light-grey1);
    display: flex;
    align-items:  center;
     height: 81px;
    padding-left: 20px;
}
.scale-table tbody .add-new-technician-action-row td,
.overlaped-table tbody .add-new-technician-action-row td {
    height: 60px;
    border-bottom: none;
}

.appointment-card {
    border-radius: 3px;
    padding: 9px 11px;
    display: flex;
    align-items: center;
}
.appointment-card .no-of-hours {
    border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
    min-width:30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 13px;
    letter-spacing: -0.05em;
    font-weight: 600;
    margin-top: 4px;
}

.scehduler-container {
    position: relative;
}

.appointment-nav {
    background: var(--dark-grey1);
    display: block;
    width: 70px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-bottom: 10px;
}
.add-new-technician-action-row td {
    border: none !important;
}

.leave-text {
	margin-left: 50px;
}
.appointment-nav .appointment-card {
    width: 49px;
    margin: 0;
    height: 49px;
    justify-content: center;
    margin-top: 8px;
    border-radius: 3px 0px 0px 3px;
    margin-left: 12px;
    z-index: 1000;
}

.un-assigned-infopopup {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background: var(--dark-grey1);
}

.adjust-last-appointment {
    padding-bottom: 20px;
}

.allign-icon {
   background: var(--white);
    border-radius: 50%;
    margin: 0;
    height: 38px;
    width: 38px;
    position: relative;
    cursor: pointer;
}

.appointment-card .estimated-hours {
    background: var(--dark-grey1);
}

.appointment-card .re-estimated-hours {
    background: var(--coral);
}

.appointment-list-container {
    margin-left:8px;
    color:var(--white);
    width: calc(100% - 58px);
}

.line-height-medium {
    line-height: 17px;
}

.line-height-large {
    line-height: 19px;
}

.appointment-info-popup {
    background: var(--white);
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.101251);
    padding: 18px 27px 17px 21px;
    position: absolute;
    border-radius:3px;
    left: 20%;
    top: 50%;
    z-index: 100001;
    width: 320px;
	opacity:1;
	/* transition: all .5s; */
    border: 1px solid var(--light-grey1);
}

.transform-appointment-card-pos25 {
        transform: translateY(25%);
}
.tranform-appointment-card-pos35 {
    transform: translateY(35%);
}
.tranform-appointment-card-neg60 {
    transform: translateY(-60%);
}
.appointment-info-popup .user-group-info-area .heading {
    color: var(--grey);
    font-size: 14px;
     line-height: 17px;
    font-weight: 600;
    margin-top: 5px;
}
.show-animate-appointmemt-popup {
	tranistion-delay:0.5s;
	opacity: 1;

}

.appointment-info-popup .user-group-info-area.appointment-detail {
   margin-top: 5px;
}
.appointment-info-popup h3 {
    margin:0;
    Font-size: 16px;
    color:var(--dark-grey1);
    font-weight: 600;
}
.appointment-info-popup .user-group-info-area.appointment-detail .appointment-detail-heading {
    Font-size: 16px;
    color:var(--dark-grey1);
    font-weight: 600;
}
.appointment-info-popup .user-group-info-area .warning-text-alignment {
    color:var(--coral);
    font-size: 16px;
    font-weight: 600;
}

.appointment-info-popup .user-group-info-area .co-number {
    font-size: 16px;
    font-weight: 600;
}
.appointment-nav .heading {
    font-size: 18px;
    color: var(--white);
    margin: 0;
    margin-left: 70px;
    font-weight: 600;
}
.expanded-pull-out {
    display:block
}

.appointment-nav .appointment-section-heading {
    font-size: 12px;
    color: var(--white);
    font-weight: 600;
    margin: 0;
    width: 279px;
    text-align: right;
    line-height: 14px;
    letter-spacing: 1px;
}
.toggle-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
}

.appointment-info-popup.right-arrrow:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: var(--light-grey1) ;
    border-width: 10px;
    margin-top: -10px;
}

.appointment-info-popup.right-arrrow:before {
    left: 100%;
    top: 50%;
    content: '';
    border: solid transparent;
    border-left-color: var(--white);
    border-width: 9px;
    margin-top: -9px;
    position: absolute;
    z-index: 1;
}
.appointment-info-popup.down-arrrow:after {
    left: 50%;
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: var(--light-grey1) ;
    border-width: 10px;
    margin-left: -10px;
}
.appointment-info-popup.down-arrrow:before {
    left: 50%;
    top: 100%;
    content: '';
    border: solid transparent;
    border-top-color: var(--white);
    border-width: 8px;
    margin-left: -8px;
    position: absolute;
    z-index: 1;
}
.appointment-info-popup.left-arrrow:before {
     left: 0%;
   top: 44%;
   content: '';
   border: solid transparent;
   border-right-color: var(--white);
   border-width: 9px;
   margin-left: -18px;
   position: absolute;
   z-index: 1;
}
.appointment-info-popup.left-arrrow:after {
    left: 0;
   top: 50%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   border-color: rgba(255, 255, 255, 0);
   border-right-color: var(--light-grey1);
   border-width: 10px;
   margin-top: -10px;
   margin-left: -20px;
}

.pull-out-icon-width {
    width: 20px;
    height: 20px;
    background: none;
      position: absolute;
    left: 27%;
    top: 50%;
    transform: translateY(-50%);
}

.appointment-info-popup.up-arrrow:after {
    left: 50%;
    top: 0%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: var(--light-grey1) ;
    border-width: 10px;
    margin-left: -10px;
    margin-top: -20px;
}
.appointment-info-popup.up-arrrow:before {
    left: 50%;
    top: 0%;
    content: '';
    border: solid transparent;
    border-bottom-color: var(--white);
    border-width: 10px;
    margin-left: -10px;
    margin-top: -20px;
    position: absolute;
    z-index: 1;
}
.un-assigned-mobile-view, .appointment-pull-outnav-mobile-view {
    display: none;
}

.appointment-nav .appointment-card.appointment-card-expanded-width {
    width: 267px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    height: auto;
}
.expanded-toggle-icon {
    justify-content: flex-start;
    padding-left: 12px;
}
.allign-appointment-card {
    margin-top: 8px;
}

.bp-grid-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}
.align-appointmentcard-with-table {
    margin-top: 50px;
}
.bp-flyout-backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 315px;
    bottom: 0px;
    z-index: 800;
}

.unit-details,.customer-name,.CO-number {
    width: 100%;
    float: left;
    font-weight: 600;
}
.sortable-ui-state-highlight {
	background: var(--dark-grey) !important;
	width: 1px !important;
	height:92px;
	min-width: 1px !important;
	min-height: 1px !important;
	display: block !important;
}
.appointment-list-container .CO-number {
    margin-top: 5px;
}

.customer-name,.CO-number a, .CO-number a:hover {
    color: rgba(255, 255, 255, 0.7499) !important;
}

.text-underline {
    text-decoration: underline;
}
.set-large-concerns {
    word-break: break-word;
    padding-right: 3px;
}
.concern-wrapper {
    display: inline-block;
}
.rectangle {
    display: flex;
    border: 1px solid var(--light-grey1);
    border-radius: 2px;
    float: left;
    height: 30px;
    margin-top: 12px;
    margin-left: 4px;
    background: var(--white);
}

.rectangle .left-rectangle ul {
    list-style-type: none;
    margin: 0;
    padding: 6px 8px;
    border-right: 1px solid var(--light-grey1)
    
}
.rectangle .right-rectangle ul  {
    list-style-type: none;
    margin: 0;
    padding: 6px 8px;
}
.rectangle .left-rectangle ul  {
    border-right:1px solid var(--light-grey1);
}

.rectangle .left-rectangle:hover, .rectangle .right-rectangle:hover {
    background: var(--light-blue);
    transition: all 0.2s ease;
}

.rectangle .left-rectangle ul li {
    width: 20px;
    height: 6px;
    background: var(--bp-blue);
    border-radius: 1px;
}

.rectangle .right-rectangle ul li {
    background: var(--light-grey1);
    height: 3px;
    width: 20px;
    border-radius: 1px;
}
.rectangle .left-rectangle ul li:last-child {
    width: 11.4px;
    margin-top: 5px;
}
.rectangle .right-rectangle ul li:last-child , .rectangle .right-rectangle ul li:nth-child(2){
    margin-top: 4px;
}
.scale-table > thead > tr > th {
    border-bottom: 1px solid var(--light-grey1);
} 
.un-assigned-infopopup .appointment-card .appointment-list-container .un-assigned-semi-bold {
    font-weight: 600;
}
.appointment-card-expanded-width.bp-main-bg-orange:hover {
    background-color: var(--orange-hover);
}
.appointment-card-expanded-width.bp-main-bg-cyan:hover{
    background-color: var(--cyan-hover);
}
.appointment-card-expanded-width.bp-main-bg-purple:hover {
    background-color: var(--purple-hover);
}
.appointment-card-expanded-width.bp-main-bg-green:hover {
    background: var(--green-hover);
}

.scale-table tbody td:first-child {
    border-left: none !important;
}

/* Tooltip css*/
.tooltipUnassigned {
    width: auto;
    position: absolute;
    left: 1056px;
    top: 80px;
    z-index: 100001;
    display: block;
    padding: 11px 19px;
    height: auto;
    color: var(--white);
}

.tooltipUnassigned .tooltiptext {
    background-color: var(--dark-grey1);
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    padding: 11px 19px;
    border-radius: 3px;
}

.legend-dropdown nav li .number-legend {
     display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    padding: 0;
    font-size: 10px;
}

.tooltipUnassigned .tooltiptext::after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: var(--dark-grey1);
    border-width: 7px;
    margin-left: 19px;
    margin-top: 2px;
}
/* Global css */
.collapse-div-width-transition {
    overflow: visible;
    transition: width 0.3s ease-out;
    width: 60px;
}

.expand-div-width-transition {
    width:315px;
    transition: width 0.5s ease-out;
    opacity: initial;
    overflow: visible;
}

@media (max-width: 1199px) {
.overall-container,.section-header-container {
    width: 97%;
    }
}

@media (max-width: 767px) {
  .appointment-nav {
        transform: translateY(calc(100% - 70px));
          webkit-transition: 0.25s;
        transition: 0.25s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .animation-on-mobile {
       transform: translateY(0);
    }
    .animation-on-mobile .toggle-icon {
        transform:rotateZ(270deg);
    }
     
     .toggle-mobile-device {
            transform: translateY(0)
     }
    .overall-container,.section-header-container {
       width: 100%;
    }
    
    .appointment-pull-outnav-mobile-view .allign-icon {
        float : right;
        height: 38px;
        width: 38px;
        margin-right: 15px;
    }
    
    .asign-person  .technician-details  {
        margin-left: 7px;
        margin-top: 10px;
    }
    
    .asign-person {
        display: block;
        padding-top: 12px;
    }
    
    .asign-person .name-initials {
        width: 40px;
        height: 40px;
        min-width: 40px;
        font-size: 16px;
    }
    
    .asign-person .technician-details p.hours {
        font-size: 14px;
    }
    .appointment-pull-outnav-mobile-view .heading {
        color: var(--white);
        font-size: 18px;
        margin: 0 22px;
        flex : 1;
    }
    .appointment-pull-outnav-mobile-view .appointment-section-heading {
        color:var(--white);
        font-size: 12px;
        margin: 0;
        margin-left: 22px;
        font-weight: 600;
    }
    .appointment-pull-outnav-mobile-view .unAssignedAppointmentExpandedMobile {
        display : flex;
        justify-content: flex-start;
    }
    
    .appointment-pull-outnav-mobile-view .appointment-info-mobile {
        margin-left: 20px;
    }
    
    .appointment-pull-outnav-mobile-view .appointment-info-mobile .appointment-info-card-mobile {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        border-radius: 3px;
    }
    .appointment-pull-outnav-mobile-view .no-of-hours.estimated-hours{
        border-radius: 50%;
        padding: 5px 8px;
        color:var(--white);
        width: 30px;
        height: 30px;
        font-size: 15px;
        text-align: center;
        background: var(--dark-grey2);
        padding-left: 0;
        padding-right: 0;
    }
    .appointment-pull-outnav-mobile-view {
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto !important;
        position: fixed;
        webkit-transition: 0.25s;
        transition: 0.25s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
       -webkit-transform: translateY(calc(100% - 70px));
        -webkit-transform: translateY(calc(100% - 70px));
        
        background: var(--dark-grey2);
    }
    
    .desktop-heading {
        display: none !important;
    }
    .mobile-heading {
        display: block;
    }
    .appointment-pull-outnav-mobile-view.bp-expand-div-transition {
        -webkit-transition: 0.25s;
        transition: 0.25s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
   .un-assigned-mobile-view {
        /* display: block; */
    }
    .padding-left-5 {
        padding-left: 5px;
    }
    .appointment-pull-outnav-mobile-view .allign-heading-icon {
        display: block;
    }
    .allign-heading-icon {
        margin-top: -2px;
    }
    .appointment-pull-outnav-mobile-view .un-assigned-appointment-info-expanded-mobile {
        display: flex;
        height: 70px;
        align-items: center;
    }
    .appointment-pull-outnav-mobile-view .expanded-mobile-appointment-data {
        display: block;
        width: 100%;
        float: left;
        background: var(--dark-grey2);
    }
    .add-new-tech-action-container a {
        font-size: 12px;
        letter-spacing: -0.05em;
    }
    .add-new-tech-action-container {
        padding-left: 10px;
    }
    .rotate-icon-to-down{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        left: 25%;
        top: 25%;
    }
   
    .technician-list {
        width: 68px;
    }
    
    .overall-container {
        float: left;
       margin-bottom: 100px;
    }
    
    .grid-container .scale-table tbody td {
        border-top:none !important;
    }
    .grid-container {
        width: calc(100% - 68px);
        overflow-y:hidden; 
    }
    .scehduler-container .container {
        padding:0px;
    }
    
     /* right side nav transformation to bottom in mobile */
    
    .toggle-icon {
        max-width: 50px;
        display: inline-block;
        float: right;
        padding-top: 25px;
        transform: rotateZ(90deg);
        margin-right: 7px;
    }
    .expanded-toggle-icon {
        transform: rotateZ(270deg);
        padding-top: 12px;
    }
    .align-appointmentcard-with-table {
        margin-top: 0;
        clear: both;
        display: block;
        margin-left: 8px;
    }
    
    .appointment-nav {
        position: fixed;
        left: 0;
        right:0;
        top: auto;
        bottom : 0;
        width: auto;
        z-index: 10999;
    }
    
    .appointment-nav .heading{
        float: left;
        margin-left: 0;
    }
    
    .appointment-nav .mobile-heading {
        padding-left: 21px;
        font-size: 18px;
        line-height: 22px;
        padding-top: 20px;
    } 
    .appointment-nav .appointment-section-heading {
        display: block;
        width: 100%;
        text-align: left;
        padding:0px 0px 0px 13px;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1px;
    }
    
    .appointment-nav .appointment-card {
        float: left;
        margin-left: 13px;
        margin-top: 13px;
        border-radius: 3px;
    }
    
    .align-appointmentcard-with-table:after {
        content: "";
        display: table;
        clear: both;
    }
       
    /* end */
}

@-moz-document url-prefix() {
    .scale-table > thead > tr > th {
        height:38px;
    }
    
    .scale-table, .overlaped-table{
        min-width: 900px;
    }
    
    .scale-table tbody td:nth-child(odd) {
        border-right: none;
     }

    .scale-table tbody td:nth-child(even) {
     border-left: none;
    }
    
}