.btn-transparent {
	background: none;
	border: none;
	outline: none !important;
}

.btn-primary {
	font-size: 13px;
	font-weight: 600;
	line-height: 18px;
	background-color: var(--bp-blue);
	border: none;
	border-radius: 3px;
	padding: 10px 27px;
	letter-spacing: .06em;
}

.modal-footer .btn-primary:hover,
.modal-footer .btn-primary:active,
.modal-footer .btn-primary:focus,
.modal-footer .btn-primary:active:focus {
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	transition: background-color 0.2s ease;
	background-color: #00A3DB;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
	transition: background-color 0.2s ease;
	background-color: #00a3db;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.textCenter {
	text-align: center;
}

.textRight {
	text-align: right;
}

.removeLeftPadding {
	padding-left: 0;
}

.mar-bot-20 {
	margin-bottom: 20px;
}

.header {
	height: 60px;
	text-align: center;
	background: #2d2d2d;
	position: fixed;
	width: 100%;
	z-index: 99;
}

.header img {
	height: 60px;
	max-width: 100%;
}

.content {
	background: #f6f7f9;
}

.sidebar {
	padding: 19px 8px;
	position: fixed;
	top: 60px;
	z-index: 99;
	max-width: 200px;
}

.sidebar h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 0 0 22px;
}

.sidebar #addNewButton {
	padding-left: 17px;
	text-align: left;
}

.sidebar #addNewButton .fa {
	display: inline-block;
	font-size: 16px;
	margin-right: 6px;
}

.sidebar ul.calenderNavigation {
	margin: 15px 0;
	padding: 0;
	list-style: none;
}

.sidebar ul.calenderNavigation li:nth-child(1) {
	float: left;
	width: 30px;
}

.sidebar ul.calenderNavigation li:nth-child(2) {
	float: right;
	width: 30px;
	text-align: right;
}

.sidebar ul.calenderNavigation li:nth-child(3) {
	text-align: center;
	padding: 10px 0px 7px 0px;
}

.sidebar ul.calenderNavigation li a {
	font-size: 30px;
	line-height: 32px;
	color: #41a9d0;
	padding: 0 5px;
	display: inline-block;
}

.sidebar ul.calenderNavigation .weekName {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 20px;
}

.sidebar .calenderTable {
	width: 100%;
	margin-bottom: 40px;
}

.sidebar .calenderTable th {
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	padding: 4px;
	text-align: center;
}

.sidebar .calenderTable td {
	font-size: 12px;
	line-height: 17px;
	padding: 4px;
	text-align: center;
	cursor: pointer;
}

.sidebar .calenderTable td:hover {
	background: #e0e0e0;
	border-radius: 50%;
	transition: color 0.2s ease;
}

.sidebar .calenderTable .nonCurrentMonth {
	color: #979797;
}

.sidebar .calenderTable .curWeek {
	background: #DDF3FB;
	border-radius: 0;
}

.sidebar .calenderTable .calendarToday {
	background: #00A3DB;
	color: #ffffff;
}

.sidebar .calenderTable .calendarToday.borderRadius50 {
	border-radius: 50%;
}

.sidebar .calenderTable .start {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.sidebar .calenderTable .end {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.monthView .sidebar .calenderTable .today {
	border-radius: 100%;
}

.sidebar .calenderFilter {}

.sidebar .calenderFilter td {
	font-size: 12px;
	line-height: 17px;
	font-weight: 600;
	padding: 5px 10px;
	border-radius: 5px;
}

.sidebar .calenderFilter td:first-child {
	width: 150px
}

.sidebar .calenderFilter .empty {
	height: 5px;
}

.sidebar .calenderFilter .appointents {
	background: #f5e6ce;
}

.sidebar .calenderFilter .appointmentsWithSerice {
	background: #cfece6;
}

.sidebar .calenderFilter .reminders {
	background: #f7d9d8;
}

.calenderArea .calenderHeader {
	padding-top: 15px;
	position: fixed;
	top: 60px;
	height: 57px;
	z-index: 100;
	width: 100%;
	background: #f6f7f9;
	margin: 0 -5px;
}

.calenderArea .calenderHeader ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.calenderArea .calenderHeader ul>li {
	float: left;
	margin-right: 15px;
}

.calenderArea .calenderHeader ul.calenderNavigation li a {
	font-size: 30px;
	line-height: 32px;
	color: #41a9d0;
	padding: 0 5px;
	display: inline-block;
}

.calenderArea .calenderHeader ul.calenderNavigation .weekName {
	font-size: 18px;
	font-weight: 300;
	line-height: 37px;
}

.calenderArea .calenderHeader ul.calenderChanger {
	margin: 0 6px 0 0;
}

.calenderArea .calenderHeader ul.calenderChanger li {
	margin: 0 0 0 18px;
}

.calenderArea .calenderHeader ul.calenderChanger li a {
	position: relative;
	display: block;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 12px 11px 13px;
	border-bottom: 2px solid transparent;
	color: #4a4a4a;
	text-decoration: none;
}

.calenderArea .calenderWeekTable {
	background-color: #FFF;
	float: left;
	width: 100%;
}

.calenderArea .calenderDetail {
	margin-bottom: 40px;
	float: left;
	width: 100%;
	background: #ffffff;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	padding-top: 60px;
	min-height: 600px;
}

.calenderArea .calenderWeekTable tr:nth-child(1) th {
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: normal;
	padding: 20px 0;
	text-align: center;
	border: none;
}

.calenderArea .calenderWeekTable tr .calendarToday {
	font-weight: 600;
	background: #DDF3FB;
}

.calenderArea .calenderWeekTable .calendarToday {
	background: rgba(221, 243, 251, .5);
}

.calenderArea .calenderWeekTable>thead,
.calenderArea .calenderMonthTable>thead {
	position: fixed;
	top: 117px;
	z-index: 99;
	background: #ffffff;
	display: block;
	float: left;
}

.calenderArea .calenderWeekTable tr {
	float: left;
	width: 100%;
}

.calenderArea .calenderWeekTable td {
	box-sizing: border-box;
	border-top: 2px solid #f0f0f0;
	border-right: 5px solid #FFF;
	padding: 0;
	height: 27px;
	position: relative;
	float: left;
}

.calenderArea .calenderWeekTable th {
	border: none;
	float: left;
	width: 100%;
}

.calenderArea .calenderWeekTable td:hover {
	background: rgba(221, 221, 221, 0.5);
	transition: background-color 0.2s ease;
}

.calenderArea .calenderWeekTable tbody tr:nth-child(even) td {
	border-top: 1px solid #f0f0f0;
}

.calenderArea .calenderWeekTable .time {
	padding-left: 0px;
	padding-right: 0;
	border: none !important;
	font-size: 10px;
	color: #999999;
}

.calenderArea .calenderWeekTable .time span {
	display: block;
	position: relative;
	left: 10px;
}

.calenderArea .calenderWeekTable .time:hover {
	background: none;
}

.calenderArea .calenderWeekTable .time>span {
	position: relative;
	top: -8px;
	text-align: right;
	padding-right: 40%;
	padding-top: 3px;
}

.calenderArea .calenderWeekTable th p,
.calenderArea .calenderWeekTable td p {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	color: #444444;
	font-size: 10px;
	line-height: 11px;
	padding: 3px 0 3px 8px;
	cursor: pointer;
}

.calenderArea .calenderWeekTable td div {
	position: absolute;
	margin: 0;
	color: #444444;
	font-size: 12px;
	font-weight: 600;
	display: table;
	cursor: pointer;
	z-index: 40;
}

.calenderArea .calenderWeekTable td div p {
	display: table-cell;
	text-align: left;
	padding-left: 4.375px;
	line-height: 12px;
	font-size: 12px;
	font-weight: 600;
	text-transform: capitalize;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	display: inline-block;
}

.calenderArea .calenderWeekTable th p strong,
.calenderArea .calenderWeekTable td p strong {
	display: block;
	font-size: 12px;
	font-weight: 600;
}

.calenderArea .calenderWeekTable td .reminder {
	background: #ffe0de;
	border-left: 2px solid #ff6458;
	box-shadow: 0 0 2px #e8c9c7 inset;
}

.calenderArea .calenderWeekTable td div.reminder {
	background-color: rgba(255, 100, 88, 0.2);
	border-left: 2px solid #ff6458;
}

.calenderArea .calenderWeekTable td .appointment {
	background: #f5ead2;
	border-left: 2px solid #e89d21;
	box-shadow: 0 0 2px #e4d8be inset;
}

.calenderArea .calenderWeekTable td div.appointment {
	background-color: rgba(245, 166, 35, 0.2);
	border-left: 2px solid #e89d21;
}

.calenderArea .calenderWeekTable td div.appointmentWithService {
	background-color: rgba(54, 199, 155, 0.2);
	border-left: 2px solid #36c79b;
}

.calenderArea .calenderWeekTable th .longAppointment {
	font-weight: 100;
	position: relative;
	border-radius: 3px;
	padding: 4px 10px;
	margin-top: 2px;
	height: auto;
	top: 0;
	left: 2px;
}

.calenderArea .calenderWeekTable th .LongReminderBackground {
	background: rgba(255, 100, 88, 0.2);
}

.calenderArea .calenderWeekTable th .LongAppointmentBackground {
	background: rgba(245, 166, 35, 0.2);
}

.calenderArea .calenderWeekTable th .LongAppointmentWithServiceBackground {
	background: rgba(54, 199, 155, 0.2);
}

.calenderArea .calenderWeekTable th .longAppointment strong {
	display: inline-block;
	padding-right: 20px;
}

.calenderArea .calenderWeekTable td .currentTime {
	padding: 0;
	border-bottom: 1px solid #FF6458;
	position: relative;
	top: 16px;
	height: auto;
	width: auto;
	z-index: 50;
}

.calenderArea .calenderWeekTable td .currentTime:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	background: #FF6458;
	border-radius: 100%;
}

.calenderArea .calenderWeekTable .multipleAppointments {
	vertical-align: top;
	height: 100%;
}

.calenderArea .calenderWeekTable .multipleAppointments table {
	width: 100%;
	height: 100%;
}

.calenderArea .calenderWeekTable .multipleAppointments table td {
	vertical-align: top;
	height: 51px;
}

.calenderArea .calenderWeekTable.threeDaysView td {
	width: 33%;
}

.calenderArea .calenderWeekTable.singleDayView td {
	width: 100%;
}

.table>thead>.AllDayEvent>th {
	padding: 0px;
	height: 26px;
}

#appointmentModal .modal-dialog {
	max-width: 550px;
}

.modal-header {
	padding: 25px;
	border: none;
}

.modal-header .close {
	font-size: 34px;
	margin: -55px -45px 0 0;
	opacity: 1;
	color: #ffffff;
	text-shadow: none;
	color: #ffffff;
	font-weight: 300;
}

.modal-header h4 {
	font-size: 20px;
	line-height: 22px;
	font-weight: 300;
}

.modal-header h4 .selected {
	color: var(--bp-blue);
	border-right: 1px solid #dddddd;
	padding-right: 20px;
	margin-right: 20px;
}

.jobSchedulingModeContent {
	border-radius: 3px;
	border: none;
	box-shadow: 0 15px 12px 0 rgba(0, 0, 0, 0.22), 0 19px 38px 0 rgba(0, 0, 0, 0.3);
}

.jobSchedulingModeContent .row {
	margin-left: -6px;
	margin-right: -6px;
}

.jobSchedulingModeContent .row .col-sm-6 {
	padding-left: 6px;
	padding-right: 6px;
}

.jobSchedulingModeContent .form-group p {
	font-size: 14px;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 600;
}

.jobSchedulingModeContent .form-control {
	font-size: 15px;
	padding: 15px;
	border-radius: 3px;
	height: 50px;
	box-shadow: none;
	border: 1px solid #e0e0e0;
}

.jobSchedulingModeContent .form-control.redborder {
	border: 2px solid red
}

;
.jobSchedulingModeContent .appointmentTitle {
	font-size: 16px;
	font-weight: 600;
}

.jobSchedulingModeContent textarea.form-control {
	height: 120px;
	resize: none;
}

.modal-body {
	padding: 5px 25px;
}

.modal-footer {
	border: none;
	padding: 0 25px 30px;
}

.modal-footer .btn {
	font-size: 13px;
	font-weight: 600;
	line-height: 18px;
	background-color: var(--bp-blue);
	border: none;
	box-shadow: none;
	border-radius: 3px;
	padding: 10px 27px;
	letter-spacing: .06em;
}

.btn-addServiceJob {
	color: #00A3DB;
	font-size: 13px;
	padding-left: 0px;
}

.btn-addServiceJob .fa {
	font-size: 21px;
	margin-right: 7px;
	position: relative;
	top: 3px;
	margin-left: -5px;
}

.btn-delete {
	float: left;
	color: #FF6458;
	font-size: 13px;
	line-height: 18px;
	padding-left: 0px;
	padding-top: 11px;
}

.btn-delete .fa {
	font-size: 24px;
	margin-right: 7px;
	position: relative;
	top: 2px;
}

.BP_popOver {
	background: #ffffff;
	box-shadow: 0 15px 12px 0 rgba(0, 0, 0, 0.22), 0 19px 38px 0 rgba(0, 0, 0, 0.3);
	padding: 23px 23px 27px;
	width: 290px;
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1101;
	opacity: 0;
	display: none;
	transition: all .3s;
}

.showPopover .BP_popOver {
	opacity: 1;
	visibility: visible;
}

.BP_popOver.rightArrrow:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}

.BP_popOver.leftArrrow:after {
	left: 0%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
	margin-left: -20px;
}

.BP_popOver.downArrrow:after {
	left: 50%;
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
}

.BP_popOver.upArrrow:after {
	left: 50%;
	top: 0%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 10px;
	margin-left: -10px;
	margin-top: -20px;
}

.BP_popOver .btn-closePopover {
	position: absolute;
	right: 1px;
	top: -5px;
	font-size: 24px;
}

.BP_popOver .dateTime {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}

.BP_popOver .title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 10px;
	word-wrap: break-word;
}

.BP_popOver .desc {
	font-size: 14px;
	margin-bottom: 15px;
	word-wrap: break-word;
}

.BP_popOver .customerInfo,
.BP_popOver .customerInfo a {
	color: #979797;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 15px;
}

.BP_popOver .customerInfo a {
	color: var(--blue-link);
	border-bottom: 1px solid;
}

.BP_popOver .customerInfo a:hover {
	text-decoration: none;
}

.BP_popOver .customerInfo span {
	margin-left: 5px;
}

.BP_popOver .popOverFooter {
	margin-top: 20px;
}

.BP_popOver .btn-edit {
	min-width: 120px;
}

.BP_popOver .dateTime.reminders {
	color: #ff6458
}

.BP_popOver .dateTime.appointents {
	color: #e89d21
}

.BP_popOver .dateTime.appointmentsWithSerice {
	color: #36c79b;
}

.BP_popOver .appointmentWithServicePreview .dateTime {
	color: #36C79B;
}

.BP_popOver .btn-viewServiceJobDetails {
	color: #00A3DB;
	font-size: 13px;
}

.BP_popOver .btn-viewServiceJobDetails .fa {
	font-size: 21px;
	margin-right: 7px;
	position: relative;
	top: 3px;
}

.BP_popOver .appointmentWithServiceDetail .popOverHeader {
	overflow: hidden;
}

.BP_popOver .btn-viewServiceJobPreview {
	position: absolute;
	left: 1px;
	top: 5px;
}

.BP_popOver .appointmentWithServiceDetails {
	display: none;
	max-height: 500px;
	overflow-y: auto;
}

.BP_popOver .appointmentWithServiceDetails .popOverHeader {
	margin-bottom: 20px;
}

.BP_popOver .appointmentWithServiceDetails .serviceListBox {
	margin: 0 0 15px;
	padding: 0;
	list-style: none;
	font-size: 14px;
}

.BP_popOver .appointmentWithServiceDetails .serviceListBox:last-child {
	margin: 0;
}

.timeSloatDropdown {
	list-style-type: none;
	position: absolute;
	z-index: 10000000;
	background: #FFF;
	border: 1px solid #e0e0e0;
	width: 95%;
	padding-left: 0px;
	height: 200px;
	overflow-y: auto;
}

.timeSloatDropdown li {
	cursor: pointer;
	padding: 7px 17px;
}

.BP_SchedulingEvent-time-selected-row {
	background-color: #F6F7F9;
}

.calenderArea .calenderWeekTable td div p .jobSchedulingNotes {
	font-weight: 100;
	font-size: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0;
	width: 100%;
	float: left;
	margin: 0px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 14px;
	margin-top: 5px;
	float: left;
}

.appointentsswitch {
	margin-top: 8px;
}

.appointentswithserviceswitch {
	margin-top: 15px;
}

.remindersswitch {
	margin-top: 7px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: -2px;
	right: 0;
	bottom: 0;
	background-color: #D8D8D8;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider:before {
	background-color: #36C79B;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	left: -8px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: -3px;
	bottom: -3px;
	-webkit-transition: .4s;
	transition: .4s;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	background-color: #F6F7F9;
}

input:checked+.slider {
	background-color: rgba(54, 199, 155, .5);
}

input:focus+.slider {
	box-shadow: 0 0 1px #36C79B;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.calenderFilter div .form-label {
	font-size: 12px;
	line-height: 17px;
	font-weight: 600;
	padding: 5px 10px;
	border-radius: 5px;
	float: left;
	margin-right: 8%;
}

.calenderFilter div .reminders {
	background-color: rgba(255, 100, 88, 0.2)
}

.calenderFilter div .appointmentsWithSerice {
	background-color: rgba(54, 199, 155, 0.2);
}

.calenderFilter div .appointents {
	background-color: rgba(245, 166, 35, 0.2);
}

.JobSchedulingFilter {
	margin-bottom: 10px;
	width: 100%;
	float: left;
}

.calenderArea .calenderMonthTable {
	table-layout: fixed;
	margin-top: 37px;
}

.calenderArea .calenderMonthTable th {
	font-size: 11px;
	font-weight: normal;
	padding-top: 12px;
	padding-bottom: 13px;
	text-align: center;
	border: none;
}

.calenderArea .calenderMonthTable td {
	border: 1px solid #f0f0f0;
	height: 122px;
	padding: 5px 7px;
}

.calenderArea .calenderMonthTable .nonCurrentMonth {
	background: #f6f7f9;
	color: #979797;
}

.calenderArea .calenderMonthTable .calendarToday {
	background: #f5fcff;
}

.calenderArea .calenderMonthTable td p:after {
	clear: both;
	content: '';
	display: block;
}

.calenderArea .calenderMonthTable td .date {
	font-size: 14px;
	font-weight: 300;
	margin: 4px 0 5px;
	padding: 0 10px;
	text-align: right;
}

.calenderArea .calenderMonthTable td .calendarToday {
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	float: right;
	background: #00A3DB;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	border-radius: 100%;
	text-align: center;
	padding: 0;
	margin: 0 0 1px;
}

.calenderArea .calenderMonthTable td div.appointmentWithService {
	cursor: pointer;
	clear: both;
	font-size: 12px;
	font-weight: 600;
	background-color: rgba(54, 199, 155, 0.2);
	padding: 5px 5px;
	border-radius: 3px;
	margin: 0 0 2px;
}

.calenderArea .calenderMonthTable td div .time {
	font-size: 12px;
	font-weight: 400;
	text-align: right;
	padding-right: 10px;
}

.calenderArea .calenderMonthTable td div.reminder {
	clear: both;
	font-size: 12px;
	font-weight: 600;
	background-color: rgba(255, 100, 88, 0.2);
	padding: 5px 5px;
	border-radius: 3px;
	margin: 0 0 2px;
	cursor: pointer;
}

.calenderArea .calenderMonthTable td div.appointment {
	cursor: pointer;
	clear: both;
	font-size: 12px;
	font-weight: 600;
	padding: 5px 5px;
	background-color: rgba(245, 166, 35, 0.2);
	border-radius: 3px;
	margin: 0 0 2px;
}

.calenderArea .calenderMonthTable td div .eventMonthTitle,
.calenderArea .calenderMonthTable td div .eventMonthTitle {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}

.BP_popOver.multipleAppointmentsPopover {
	padding-left: 20px;
	padding-right: 20px;
	min-height: 212px;
	max-height: 400px;
}

.BP_popOver.multipleAppointmentsPopover .appointmentList {
	margin: 10px 0 0;
	padding: 0;
	list-style: none;
	max-height: 340px;
	overflow-y: auto;
}

.BP_popOver.multipleAppointmentsPopover .appointmentList>.appointment {
	background-color: rgba(245, 166, 35, 0.2);
	border-left: 2px solid #f5a623;
}

.BP_popOver.multipleAppointmentsPopover .appointmentList>.reminder {
	background-color: rgba(255, 100, 88, 0.2);
	border-left: 2px solid #ff6458;
}

.BP_popOver.multipleAppointmentsPopover .appointmentList>.appointmentsWithSerice {
	background-color: rgba(54, 199, 155, 0.2);
	border-left: 2px solid #36c79b;
}

.BP_popOver.multipleAppointmentsPopover .appointmentList>li {
	margin: 0 0 8px;
	padding: 3px 5px 10px;
	cursor: pointer;
}

.BP_popOver.multipleAppointmentsPopover .appointmentList>li:last-child {
	margin: 0px;
}

.BP_popOver.multipleAppointmentsPopover .appointmentList p {
	position: static;
	padding: 0;
	font-size: 10px;
	line-height: 13px;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}

.BP_popOver.multipleAppointmentsPopover .appointmentList p strong {
	font-size: 12px;
	font-weight: 600;
}

.BP_popOver.multipleAppointmentsPopover .appointmentList .appointmentListLabel {
	height: 17px;
	line-height: 17px;
}

.BP_popOver.multipleAppointmentsPopover .appointmentDetails {
	display: none;
	padding-top: 15px;
}

.BP_popOver.multipleAppointmentsPopover .appointmentDetails .dateTime {
	color: #F5A623;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}

.BP_popOver.multipleAppointmentsPopover .appointmentDetails .customerInfo {
	color: #4a4a4a;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}

.BP_popOver.multipleAppointmentsPopover .appointmentDetails .popOverFooter {
	margin-top: 60px;
}

.BP_popOver.multipleAppointmentsPopover .appointmentDetails .customerInfo span {
	margin-left: 5px;
}

.calenderArea .calenderWeekTable tr th:not(:first-child) {
	border-right: 5px solid #fff;
}

.calenderArea .calenderWeekTable tr .calendarToday {
	font-weight: 600;
	background: rgba(221, 243, 251, .5);
	text-transform: uppercase;
}

.calenderArea .calenderWeekTable tbody {
	float: left;
}

@media (min-width:769px) and (max-width:1170px) {
	.calenderFilter div .form-label {
		font-size: 10px;
		padding: 5px;
	}
	.switch {
		width: 32px;
	}
	.sidebar {
		padding: 19px 0px;
	}
	.sidebar .calenderTable th {
		font-size: 12px;
	}
	.sidebar .calenderTable td {
		font-size: 10px;
	}
	.calenderArea .calenderMonthTable td div .NoOfEventOnTime {
		font-size: 10px;
	}
	.slider:before {
		width: 15px;
		height: 15px;
		bottom: 0px;
	}
	.slider.round {
		border-radius: 26px;
	}
	input:checked+.slider:before {
		left: -11px;
	}
	.switch {
		width: 26px;
	}
}

@media (max-width: 800px) {
	.sidebar {
		padding: 19px 5px;
		max-width: 170px;
	}
	.calenderArea .calenderHeader ul.calenderNavigation .weekName {
		font-size: 12px !important;
		line-height: 35px;
	}
	.calenderArea .calenderHeader ul.calenderChanger li a {
		padding: 12px 4px 13px;
	}
	.calenderArea .calenderWeekTable tr:nth-child(1) th {
		font-size: 9px !important;
	}
}

.modal-header h4 .SelectedAppointmentType {
	color: rgb(74, 74, 74);
}

.modal-header h4 .SelectedEventType {
	color: var(--bp-blue);
}

.modal-header h4 .appointmentModalEventType {
	cursor: pointer;
}

.appointmentModalCloseIcon {
	outline: none;
}

.bodyBgColorForJobScheduling {
	background-color: var(--light-grey3);
}

.iconWidth {
	width: 15.42px;
}

.closeiconWidth {
	width: 12px;
	height: 12px;
}

.addNewIconWidth {
	width: 19.37px;
	height: 19.37px;
	float: left;
}

.addServiceJobWidth {
	width: 18.91px;
	height: 18.91px;
	float: left;
}

.deleteIconWidth {
	width: 18.41px;
	height: 18.41px;
	float: left;
}

.addNewButtonText {
	padding-left: 10px;
	float: left;
	margin-top: 1px;
}

.showBackDrop {
	display: none;
}

.servicejobiconWidth {
	width: 18.91px;
	height: 18.91px;
	position: relative;
	top: 3px;
	left: 0px;
}

.calenderArea .calenderHeader ul.calenderChanger .calActive a:hover {
	border: none;
}

.calenderArea .calenderHeader ul.calenderChanger .calActive a {
	color: var(--bp-blue-alt);
}

.calenderArea .calenderHeader ul.calenderChanger .calActive a:before {
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: var(--bp-blue-alt);
	transition: 0.5s transform ease;
	transform: scale3d(1, 1, 1);
}

.calenderArea .calenderHeader ul.calenderChanger li a:before {
	content: "";
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: var(--bp-blue-alt);
	transition: 0.5s transform ease;
	transform: scale3d(0, 1, 1);
	transform-origin: 50% 50%;
}

.calenderArea .calenderHeader ul.calenderChanger li a:hover:before {
	transform: scale3d(1, 1, 1);
	transform-origin: 50% 50%;
	background-color: var(--bp-blue-alt);
}

.jobSchedulingModeContent .datepicker {
	cursor: auto;
}

.BP_GlobalHeader_Wrapper .BP_HeaderNav_Container-fluid .BP_ScheduleAction_Container {
	background-color: #000000;
}

.BP_GlobalHeader_Wrapper .BP_HeaderNav_Container-fluid .BP_ScheduleAction_Container .BP_ScheduleIcon_label {
	color: var(--bp-blue-alt);
}

.BP_GlobalHeader_Wrapper .BP_HeaderNav_Container-fluid .BP_ScheduleAction_Container i svg {
	stroke: #00A3DB;
}

.calenderArea .calenderWeekTable tr .calendarDayToday {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
}

.calenderArea .calenderWeekTable tr .calendarDay {
	text-transform: uppercase;
	font-size: 14px;
}

.sidebarWrapper {
	width: 200px;
	margin: 0 auto;
}

@-moz-document url-prefix() {
	.servicejobiconWidth {
		left: 0px;
	}
	.jobSchedulingModeContent .form-control {
		padding: 12px 15px;
	}
}

@media (min-width:768px) and (max-width:1100px) {
	.mainCalendarWrapper {
		width: 75%;
	}
	.sideBarWrapperContent {
		width: 25%;
	}
	.calenderArea .calenderHeader ul.calenderChanger li {
		margin: 0px;
	}
}

@media (min-width:981px) and (max-width:1100px) {
	.mainCalendarWrapper {
		width: 78%;
	}
	.sideBarWrapperContent {
		width: 22%;
	}
}

@media (min-width:1100px) and (max-width:1230px) {
	.mainCalendarWrapper {
		width: 80%;
	}
	.sideBarWrapperContent {
		width: 20%;
	}
}

.jobSchedulingModeContent .form-control:focus {
	border-color: transparent;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	border-radius: 3px;
}

.jobSchedulingCalendarIcon {
	cursor: pointer;
	position: absolute;
	right: 7%;
	top: 30%;
	padding: 0;
	font-size: 18px;
	width: 20px;
	height: 20px;
}

#appointmentModal .modal-dialog {
	box-shadow: none;
}

.jobSchedulingModeContent .glyphicon-calendar {
	color: #DDDDDD;
}

.calenderArea .calenderHeader ul.calenderChanger li a:hover {
	transition: color 0.2s ease;
	color: #2d2d2d;
}

.calenderArea .calenderHeader ul.calenderChanger .calActive a:hover {
	color: var(--bp-blue-alt);
}

.ui-datepicker {
	width: 244px;
	padding: 0.2em 2.2em 0;
	font-size: unset;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	border-color: transparent;
}

.ui-datepicker-header {
	background: none;
	text-transform: uppercase;
	border: 0;
}

.ui-datepicker th {
	font-size: 14px;
	line-height: 17px;
	font-weight: 600;
	padding: 4px;
	text-align: center;
}

.ui-datepicker td {
	font-size: 12px;
	padding: 0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 0;
	background: none;
	font-weight: inherit;
	color: inherit;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
	background: #DDF3FB !important;
	border-radius: 50%;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
	background: #dddddd;
	border: 0;
	border-radius: 50%;
	transition: background-color 0.2s ease;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	background: #00A3DB !important;
	color: #ffffff !important;
	border-radius: 50%;
}

.ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
	background-image: url('../Images/arrow-left-1-Blue_008DC1.svg');
	width: 15.42px;
	height: 15.42px;
	background-size: cover;
	background-position: center;
}

.ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
	background-image: url('../Images/arrow-right-1-Blue_008DC1.svg');
	width: 15.42px;
	height: 15.42px;
	background-size: cover;
	background-position: center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	top: 11px;
}

.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 11px;
	background: none;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: 1;
	color: #979797;
}

.ui-datepicker .ui-datepicker-title {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 25px;
	margin-bottom: 8px;
	margin-top: 7px;
}

.ui-datepicker td span,
.ui-datepicker td a {
	text-align: center;
	padding: 4px;
}

.CreateGroupModal .modal-body .userGroupInfoArea .heading {
	margin-bottom: 0px;
}

.userGroupInfoArea {
	padding-top: 12.5px;
}

.modal-content .modal-body .userGroupInfoArea .deleteButton {
	width: 181.57px;
	line-height: 30px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.PastDatePopup.modal {
	text-align: center;
	padding: 0!important;
}

.PastDatePopup .modal-dialog {
	max-width: 580px;
	box-shadow: none;
}

.PastDatePopup .modal-header {
	padding: 0;
	border: 0;
	min-height: auto;
}

.PastDatePopup .modal-body {
	padding: 56px 75px 61px;
	text-align: center;
}

#appointmentModal.modal {
	text-align: center;
	padding: 0!important;
}

.PastDatePopup.modal:before {
	content: '';
	display: inline-block;
	height: 100vh;
	vertical-align: middle;
	margin-right: -4px;
}

#appointmentModal.modal:before {
	content: '';
	display: inline-block;
	height: 100vh;
	vertical-align: middle;
	margin-right: -4px;
}

.PastDatePopup .modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

#appointmentModal .modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.PastDatePopup .modal-header .close {
	margin: -37px -16px 0 0;
}

.PastDatePopup .modal-body .userGroupInfoArea .heading {
	font-size: 12px;
	line-height: 17px;
	font-weight: 600;
	text-transform: uppercase;
	color: #979797;
	letter-spacing: .07em;
}

.PastDatePopup .modal-body .userGroupInfoArea .subheading {
	margin-top: 10px;
	color: #4a4a4a;
	text-transform: initial;
	font-size: 14px;
}

.PastDatePopup .modal-content .modal-body .userGroupInfoArea .cancelBtn {
	color: #FF6458;
	cursor: pointer;
}

.calenderArea .calenderHeader ul.calenderNavigation .weekName {
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	margin-left: 14px;
}

.calenderArea .calenderHeader ul.calenderNavigation .bp-arrow-height {
	height: 28px;
	margin-right: 5px;
}

.calenderArea .calenderHeader ul.calenderNavigation .bp-arrow-height:hover {
	border: 1px solid #00A3DB;
	background-color: rgba(255, 255, 255, 0.5);
	color: #00A3DB;
	transition: all 0.2s ease;
	outline: none;
	box-shadow: none;
}

.calenderArea .calenderHeader ul.calenderNavigation .bp-arrow-height a {
	height: 28px;
	width: 28px;
	line-height: 16px;
	padding: 0px 8px;
}

.calenderArea .calenderHeader ul.calenderNavigation .bp-arrow-height a i {
	width: 11px;
	height: 11px;
}

.calenderArea .calenderHeader ul>.bp-today-wrapper {
	padding-left: 5px;
	margin-right: 10px;
}

.calenderArea .calenderHeader ul.calenderNavigation .bp-arrow-rightcal a {
	padding: 0 10px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	.modal-open {
		position: fixed;
	}
}