.modal-content .kit_popup_container .popupinside .min_overflow {
	height: 270px;
	overflow: auto;
	float: left;
}
.fontbold{
	font-weight : bold;
}
.grayshade{
	background-color : #BEBEBE;
}
span.T3.pull-left.MR5.MT10.italictext{
	text-transform: none;
	font-weight: 400;
	padding-top: 3px;
}
.popup_container .modifyCostSourcePopup .tabconainer form .form_fields_new.checkboxadjustment{
	width: 7%;
	margin-top: -7px;
	margin-left: 7px;
	padding-left: 0px;
}
.modal-content .kit_popup_container .popupinside .max_overflow {
	height: 900px;
	overflow: auto;
	float: left;
}
.highlightremaining{
	background-color : #BCE2F1;
}
.modal-content .kit_popup_container .popupright {
	min-height: 370px;
}
.modal-content .kit_popup_container .popupleft .goldbox .rightgoldbox {
	width: 160px;
}
.modal-content .kit_popup_container .popupleft .popupleft_container#topsection{
	min-height: 0;
}
.kit_popup_container .popupright .tabconainer form .controls1 {
	top: -45px;
}
.additionalwidth{
	width : 18%;
}
.kit_popup_container .popupright .tabconainer form .form-group .txtbox:focus{
	border: none;
}
.kit_popup_container .popupright .tabconainer form .form-group .smschkbox .chk_tick{
	margin-left: 0;
}
.popup_container .modifyCostSourcePopup {
	border-left: none !important;
}
.popup_container .modifyCostSourcePopup .tabconainer form .lable_fields {
	width: 15% !important;
}
.popup_container .modifyCostSourcePopup .tabconainer form .form_fields_new {
	width: 18% ;
	float: left;
}
.popup_container .modifyCostSourcePopup .tabconainer form .form-group.MB {
	width: 100%;
}
.popup_container .modifyCostSourcePopup .tabconainer .option_field {
	width: 100%;
	float: left;
}
.popup_container .modifyCostSourcePopup .tabconainer .increaseOptionField {
	margin-left: 7.5%;
	width: 100%;
}
.modifyCostSourcePopup .MR5,.MR5{
	margin-right: 5px;
}
.increaseQty {
	background: yellow;
	color: var(--bp-blue-alt);
	padding: 2px;
}
.modifyCostSourcePopup .MT10,.MT10{
	margin-top: 10px;
}
.popup_container .modifyCostSourcePopup .tabconainer .noborder {
	width: 90%;
	margin-left: 5%;
}
.borderline{
	border-bottom: 1px solid #000;
}
.borderlinetop{
	border-top: 1px solid #000;
}
.PartAdjustHeadding {
	color: var(--bp-blue-alt);
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 10px;
}
.gid_container_Customer .table {
	border: 0;
}
.gid_container_Customer .table th {
	border: none;
	padding-top: 15px;
	padding-bottom: 15px;
}
.gid_container_Customer .table tbody {
	border: none;
}
.fontremoveuppercase{
	text-transform : none;
}
.part_Adjust_gid_container .table tbody>tr>td {
	border: none;
	padding-top: 12px;
	padding-bottom: 12px;
	vertical-align: middle;
	font-weight: normal;
	padding-left: 0;
	padding-right: 0;
}
.gid_container_Customer .table tbody .tddropdown td {
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;
}
.gid_container_Customer .tableHeader {
	margin-left: -15px;
	margin-right: -15px;
}
.part_Adjust_gid_container .table th:hover {
	background: #F6F7F9;
	cursor: inherit;
}