body {
	background: var(--light-grey3);
}
.cashSaleContainer{
	margin-top: 50px;
	font-weight: 200;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs {
	position: fixed;
	z-index: 999;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL {
	list-style: none;
	display: inline-table;
	padding-left: 0;
	margin-bottom: 0;
	background-color: var(--bp-blue-dark);
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li{
	display: inline;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL .cashSaleCrumbs_li1 {
	width: 13%;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li a {
	display: block;
	min-height: 71px;
	background:  var(--bp-blue-dark);
	text-align: center;
	padding: 25.5px 10px 0 30px;
	position: relative;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	width: 100%;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li:last-child a {
	border-right: none;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li .activeChevron {
	background: var(--bp-blue);
	color: #fff;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li .activeColorChevron{
	background: var(--bp-blue);
	color: #FFF;
}
.priceFileImportContainer .cashSaleSTA-holder .activeSTA {
	border-radius: 0px;
	border-color: #8CD3F5;
	-moz-box-shadow: 0px 0px 15px 5px #DDF3FB;
	-webkit-box-shadow: 0px 0px 15px 5px #DDF3FB;
	-o-box-shadow: 0px 0px 15px 5px #DDF3FB;
	box-shadow: 0px 0px 15px 5px #DDF3FB;
	width: 100%;
}
.priceFileImportContainer .cashSaleSTA-holder .activeSTA input{
	color: #7d7d7d;
	font-weight: normal;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li:not(:last-child) {
	border-right: 1px solid  rgba(255,255,255,.20);
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li .backElementOfactiveChevron{
	color: #E7F4F9;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li .backElementOfactiveChevron i{
	color: #F7FBFD;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li .disableChevron i{
	color:rgba(255,255,255,.70);
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li a:before {
	display: none;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li a:after {
	display: none;
}
.cashSaleCrumbs ul li a .fa{
	font-size: 14px;
	margin-right: 5px;
}
.priceFileImportContainer .cashSaleContent {
	background: #F6F7F9;
	margin-top: 70px;
}
.cashSaleContainer .cashSaleContent .barcodeScanner_And_STA_Wrapper {
	width: 45%;
	margin-left: 5%;
	margin-top: 38px;
	min-width: 45%;
	position: fixed;
}
.cashSaleContainer .cashSaleContent .barcodeScanner_And_STA_Wrapper .barcodeScanner {
	width: 100%;
	padding-left: 7px;
	float: left;
}
.cashSaleContainer .cashSaleContent .barcodeScanner_And_STA_Wrapper .barcodeScanner div {
	width: 70%;
	font-size: 33px;
	font-weight: 100;
}
.cashSaleContainer .cashSaleContent .barcodeScanner_And_STA_Wrapper .barcodeScannerBorderBottom {
	width: 100%;
	padding-left: 7px;
	float: left;
}
.cashSaleContainer .cashSaleContent .barcodeScanner_And_STA_Wrapper .barcodeScannerBorderBottom div {
	height: 15px;
	border-bottom: 1px solid rgba(128, 128, 128, 0.28);
	width: 70%;
}
.cashSaleContainer .cashSaleContent .barcodeScanner_And_STA_Wrapper .STA_text_header {
	width: 100%;
	padding-left: 7px;
	float: left;
}
.cashSaleContainer .cashSaleContent .barcodeScanner_And_STA_Wrapper .STA_text_header .STA_Holder {
	width: 70%;
}
.cashSaleContainer .cashSaleContent .EditSaleSection {
	width: 53.3%;
	margin-left: 5%;
	margin-top: 38px;
	min-width: 53.3%;
	position: fixed;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdownContainer {
	width: 100%;
	padding-left: 7px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdownLabel {
	float: left;
	width: 100%;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdownLabel h3 {
	font-weight: 400;
	font-size: 24px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group {
	float: left;
	width: 100%;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group .EditSaleDropdown-dropdown-toggle {
	border-color: #ccc;
	background-color: white;
	outline: none;
	box-shadow: none;
	color: #b7bec6;
	min-height: 50px;
	width: 60.5%;
	font-size: 17px;
	text-align: left;
	padding-left: 20px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group .EditSaleDropdown-dropdown-toggle span {
	float: right;
	color: black;
	font-weight: bold;
	font-size: larger;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group ul {
	width: 60.5%;
	margin: -1px;
	border: 1px solid #8CD3F5;
	top: 93%;
	box-shadow: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0px;
	overflow-y: auto;
	max-height: 250px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group ul::-webkit-scrollbar {
	width: 10px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group ul::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group ul::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group ul li {
	font-size: 17px;
	border-bottom: 1px solid #EEEDED;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group ul li a {
	outline: none;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group ul li a:hover,.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group ul li a:focus {
	background-color: #DDF3FB;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .cashSalePartDetailsSection {
	width: 95%;
	float: left;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .cashSalePartDetailsSection .cashSalePartDetailsSectionHeader {
	float: left;
	width: 100%;
	color: #474747;
	font-weight: bold;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .cashSalePartDetailsSection .cashSalePartNo {
	padding-top: 2%;
	width: 100%;
	color: #64B0D2;
	font-weight: 300;
	float: left;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .cashSalePartDetailsSection .AvailableInventoryAndPrice {
	width: 100%;
	float: left;
	color: #A7A8A8;
	margin-top: 8px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .cashSalePartDetailsSection .AvailableInventoryAndPrice .AvailableInventoryLabel {
	float: left;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .cashSalePartDetailsSection .AvailableInventoryAndPrice .AvailableInventoryValue {
	float: left;
	padding-left: 1%;
	font-weight: 500;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .cashSalePartDetailsSection .AvailableInventoryAndPrice .priceLabel {
	float: left;
	loat: left;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .cashSalePartDetailsSection .AvailableInventoryAndPrice .priceValue {
	float: left;
	padding-left: 8px;
	font-weight: 500;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .AvailableInventoryAndPriceBorderBottom {
	border-bottom: 1px solid #E7E7E8;
	height: 21px;
	float: left;
	width: 95%;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice {
	float: left;
	width: 95%;
	margin-top: 33px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .saleQuantityContent {
	width: 44%;
	float: left;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .saleQuantityContent p {
	font-weight: bold;
	float: left;
	width: 100%;
	color: #474747;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .saleQuantityContent input {
	height: 87px;
	width: 100%;
	float: left;
	margin-top: 6px;
	border: none;
	border-bottom: 2px solid #A3D8F6;
	outline: none;
	padding-left: 6%;
	font-size: 60px;
	color: #25B3F0;
	background: #f6f7f9;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .saleQuantityContent input:focus {
	border: 2px solid #A3D8F6;
	background: white;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .saleQuantityContent input:hover {
	border: 2px solid #A3D8F6;
	cursor: pointer;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .editSalePrice {
	margin-left: 4%;
	width: 52%;
	float: left;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .editSalePrice p {
	font-weight: bold;
	width: 100%;
	float: left;
	color: #474747;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .editSalePrice div {
	float: left;
	width: 100%;
	margin-top: 6px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .editSalePrice div h1 {
	color: #A5DFF4;
	float: left;
	font-size: 54px;
	font-weight: 100;
	width: 9%;
	padding-top: 9px;
	height: 79px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .editSalePrice div input {
	height: 59px;
	border: none;
	border-bottom: 2px solid #A3D8F6;
	margin-left: 1%;
	float: left;
	outline: none;
	width: 89%;
	font-size: 60px;
	color: #25B3F0;
	padding-left: 6%;
	background: #f6f7f9;
	height: 87px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .editSalePrice div input:focus {
	border: 2px solid #A3D8F6;
	background: white;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .editSalePrice div input:hover {
	border: 2px solid #A3D8F6;
	cursor: pointer;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns {
	width: 95%;
	margin-top: 45px;
	float: left;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .editSaleCancelAction, .cashSaleContainer .cashSaleContent .fieldMappingEditButtons .editSaleCancelAction {
	float: left;
	width: 40%;
	margin-top: 20px;
	cursor: pointer;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .editSaleCancelAction img {
	width: 24px;
	float: right;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .editSaleCancelAction span {
	float: right;
	;
	text-decoration: underline;
	color: red;
	font-weight: bold;
	padding-top: 3px;
	font-size: 13px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .editSaleRemoveItemAction {
	width: 27.5%;
	float: left;
	height: 58px;
	font-size: 15px;
	text-transform: uppercase;
	margin-left: 44%;
}
.priceFileImportAddRemoveSubGrid .blue_Text {
	font-weight: 100;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .marginLeftFromCancel {
	margin-left: 23%;
}
.editSaleAddToSaleAction {
	width: 27.5%;
	float: left;
	height: 58px;
	font-size: 15px;
	text-transform: uppercase;
	margin-left: 20%;
}
.fieldMappingEditButtons .editSaleAddToSaleAction {
	width: 36%;
	float: left;
	height: 58px;
	font-size: 15px;
	text-transform: uppercase;
	margin-left: 20%;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .editSaleBtn {
	border-radius: 0;
	min-height: 100%;
	width: 100%;
	color: var(--bp-blue-alt);
	background-color: #fff;
	border: 1px solid var(--bp-blue-alt);
	font-weight: 600;
	font-size: 13px;
	padding-top: 8%;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .editNextSaleBtn{
	border-radius: 0;
	min-height: 100%;
	width: 100%;
	color: #FFF;
	background-color: var(--bp-blue-alt);
	border: 1px solid var(--bp-blue-alt);
	font-weight: 600;
	font-size: 13px;
	padding-top: 4%;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .fieldMappingEditSaleBtn {
	border-radius: 0;
	min-height: 100%;
	width: 100%;
	background: #B7B7B8;
	color: #DDDDDE;
	border: 1px solid #B7B7B8;
	font-weight: 600;
	font-size: 15px;
	padding-top: 6%;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns span {
	font-size: 15px;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns span img {
	width: 26px;
	padding-right: 2%;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .editSaleBtn:hover,.cashSaleContainer .cashSaleContent .editSaleActionBtns .editSaleBtn:focus,.cashSaleContainer .cashSaleContent .editSaleActionBtns .editSaleBtn:active {
	color: #fff;
	background-color: var(--bp-blue-alt);
	outline: none;
	box-shadow: none;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection {
	min-width: 51%;
	min-height: 150px;
	position: relative;
	margin-left: 49%;
	background: #FBFBFC;
}
.cashSaleContainer .cashSaleContent .backWhite{
	background: #FFF;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSale_header_OrdNumber_status {
	width: 100%;
	background: #3D3D3D;
	min-height: 140px;
	float: left;
	padding-left: 5%;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSale_header_OrdNumber_status .cashSaleHeader {
	width: 26%;
	padding-top: 51.5px;
	float: left;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSale_header_OrdNumber_status .cashSaleHeader p {
	margin: 0;
	font-size: 26px;
	color: white;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSale_header_OrdNumber_status .cashSaleHeaderDivider {
	float: left;
	text-align: center;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSale_header_OrdNumber_status .divider {
	border-left: 1px solid rgba(204, 204, 204, 0.53);
	height: 140px;
	position: absolute;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSale_header_OrdNumber_status .cashSaleOrdNumberAndstatus {
	float: left;
	width: 73%;
	margin-top: 51.5px;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSale_header_OrdNumber_status .cashSaleOrdNumberAndstatus .ordNumberAndStatusLabel {
	color: white;
	padding-right: 12px;
	text-align: right;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSale_header_OrdNumber_status .cashSaleOrdNumberAndstatus .ordNumberAndStatusValue {
	color: white;
	text-align: left;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer {
	width: 100%;
	background: #575757;
	min-height: 158px;
	float: left;
	color : #F0F0F0;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table {
	border: none;
	margin-top: 22px;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table thead tr.tableHeader {
	margin-left: -15px;
	margin-right: -15px;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table th {
	border: none;
	padding: 15px 0;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table .priceHeader {
	padding-right: 4px;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table th:not(:first-child):not(:last-child) {
	border-bottom: 1px solid #303030;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table .text-left {
	text-align: left;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table .text-center {
	text-align: center;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table .text-rightt {
	text-align: right;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table tbody {
	border: none;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table .cashSaleGridTbody tr {
	font-size: 18px;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table .cashSaleGridTbody tr td {
	border: none;
	padding: 5px 0px;
	vertical-align: middle;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table .cashSaleGridTbody tr td span {
	padding: 4px 4px;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSaleGridContainer .table .cashSaleGridTbody tr td .editedLineItemAttributeBackground {
	background: #338FFF;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .CashSaleTotalDueSection {
	width: 100%;
	background: #FF6458;
	min-height: 129px;
	float: left;
	padding : 0 5%;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .CashSaleTotalDueSection.FixedCashSaleTotalDueSection {
	width: 41.63%;
	padding : 0 2%;
	position: fixed;
	bottom: 45px;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .CashSaleTotalDueSection.zeroDueBalance{
	background: #56C886;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .CashSaleTotalDueSection .salesTax {
	width: 100%;
	float: left;
	min-width: 100%;
	padding-top: 47.5px;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .CashSaleTotalDueSection .salesTax .labelSalesTax {
	width: 34%;
	float: left;
	color: white;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .CashSaleTotalDueSection .salesTax .valueSalesTax {
	width: 66%;
	float: left;
	color: white;
	text-align: right;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .CashSaleTotalDueSection .totalDue {
	width: 100%;
	float: left;
	min-width: 100%;
	font-size: 20px;
	margin-bottom : 20px;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .CashSaleTotalDueSection .totalDue .labelTotalDue {
	width: 34%;
	float: left;
	color: white;
	text-transform: uppercase;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .CashSaleTotalDueSection .totalDue .valueTotalDue {
	width: 66%;
	float: left;
	color: white;
	text-align: right;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .priceFileImporter {
	margin-top: 40px;
	width: 86%;
	margin-left: 6.7%;
	margin-bottom: 35px;
	float: left;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .priceFileImporter h3.priceFileImporterHeader {
	margin-bottom: 3%;
	float: left;
	font-size: 18px;
	color: #969696;
	font-weight: 600;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .priceFileImporter h3.priceFileImporterHeader.isActive {
	float: left;
	font-size: 18px;
	color: rgb(51, 51, 51);
	font-weight: 600;
}
.priceFileImporterContentSection {
	width: 100%;
	float: left;
	border: 2px dashed #ECECEC;
	background: #F8F9FA;
}
.priceFileImporterContentSection .dragAndDropImageSection {
	float: left;
	width: 100%;
	text-align: center;
	height: 211px;
}
.priceFileImporterContentSection .dragAndDropImageSection .fa {
	font-size: 110px;
	color: #eaebec;
	margin-top: 5%;
}
.isActivePriceFileImporterContentSection {
	background: #fff;
}
.priceFileImporterContentSection .dragAndDropHeaderSection {
	float: left;
	width: 100% !important;
}
.priceFileImporterContentSection .dragAndDropImageSection .fa.isActive {
	color: #ddf3fb;
}
.priceFileImporterContentSection .dragAndDropHeaderSection h2 {
	float: left;
	text-align: center;
	width: 358px;
	font-weight: 100;
	color: #B4B5B5;
	margin-top: 0px;
}
.priceFileImporterContentSection .dragAndDropHeaderSection span {
	float: left;
	text-align: center;
	width: 358px;
	font-weight: 100;
	color: #B4B5B5;
	margin-top: 0px;
	font-size: 20px;
}
.MT35 {
	margin-top: 35px;
}
.priceFileImportContainer .PL5 {
	padding-left: 5px;
	padding-right: 0;
}
.priceFileImportContainer .Requiredtd {
	color: red;
	font-weight: normal;
}
.priceFileImportContainer .calculatedValuesLabel {
	width: 10.5%;
}
.priceFileImportContainer .calculatedValuesFieldsDropdown {
	width: 19.5%;
}
.priceFileImportContainer .calculatedValuesBy {
	padding-top: 7px;
	width: 5%;
	font-weight: normal;
	font-size: 13px;
	margin: 0.01em;
	color: #414449;
}
.priceFileImportContainer .form-group .currency {
	position: absolute;
	background: #fff;
	color: #a6e0f5;
	width: 32px;
	height: 32px;
	top: 1px;
	text-align: center;
	padding-top: 10px;
	right: 21%;
	border-top: 1px solid #ECECEC;
}
@-moz-document url-prefix() {
	.priceFileImportContainer .form-group .retailCurrency{
		top: 2px;
	}
}
.priceFileImportContainer .form-group .form-control {
	width: 80%;
	float: left;
}
.priceFileImportContainer .form-group.midnew2 {
	width: 50%;
}
.priceFileImportContainer .form-group {
	width: 100%;
	float: left;
	margin: 0;
	position: relative;
}
.priceFileImportContainer .form-group.pricefiled input {
	padding-right: 34px;
}
.cashSaleContainer .cashSaleContent .Checkout_Wrapper .checkoutPaymentContainer .checkoutAddPaymentBtn {
	border-radius: 0;
	min-height: 58px;
	width: 100%;
	color: var(--bp-blue);
	background-color: #fff;
	border: 1px solid var(--bp-blue-alt);
	font-weight: 600;
	font-size: 15px;
	box-shadow: none;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .priceFileImporter .priceFileImporterContentSection .dragAndDropHeaderSection h2.isActive{
	color: #373c40;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .priceFileImporter .priceFileImporterContentSection .dragAndDropHeaderSection .isActive{
	color: #373c40;
}
.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .priceFileImporter .priceFileImporterContentSection .browseActionBtn {
	width: 195px;
	height: 49px;
	outline: none;
	border: none;
	border-radius: 0;
	margin-top: 10px;
	background: #B7B7B8;
	color: #DDDDDE;
	font-weight: bold;
}
.p0 {
	padding: 0;
}
.M0 {
	margin: 0;
}
.cashSaleContainer .cashSaleContent .EditSaleSection .cashSalePartDetailsSection .AvailableInventoryAndPrice .AvailableInventoryAndPriceDivider {
	float: left;
	margin-left: 3%;
	margin-right: 3%;
}
.priceFileImportContainer .cashSaleCopyright {
	min-height: 30px;
	background: #E1E1E1;
	color: #989898;
	text-align: center;
	bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}
.priceFileImportContainer .cashSaleCopyright p {
	margin: 10px 0px;
	font-size: 12px;
}
.cashSaleContainer .cashSaleCopyright p a {
	color: #989898;
	cursor: pointer;
	text-decoration: none;
	margin-left: 15px;
	font-size: 12px;
}
@media screen and ( max-height: 768px) {
	.priceFileImporterContentSection .dragAndDropImageSection {
		float: left;
		width: 100%;
		text-align: center;
		height: 140px;
	}
	.priceFileImporterContentSection .dragAndDropImageSection .fa {
		font-size: 110px;
		color: #eaebec;
		margin-top: 5%;
	}
	.priceFileImporterContentSection .dragAndDropImageSection .fa.isActive {
		color: #ddf3fb;
	}
}
.container .droplet droplet {
	height: 75px;
}
.priceFileImporter .droplet-upload {
	position: absolute;
	height: 50px;
	padding-top: 0px;
	width: 195px;
	opacity: 0;
	outline: none;
	cursor: pointer;
	margin: 15px 0 0 34%;
}
.priceFileImporterContentSection .browse_but1 {
	width: 195px;
	height: 49px;
	outline: none;
	border: none;
	margin-top: 10px;
	background: var(--bp-blue-alt);
	color: #FFF;
	font-weight: bold;
	border-radius:0;
}
.priceFileImporter .browse_but {
	margin-top: 0%;
	float: left;
}
.Plr0 {
	padding: 0;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL li .disableChevron {
	color: rgba(255,255,255,.70);
	pointer-events: none;
}
.divDisabled {
	pointer-events: none;
}
.cashSaleContainer .cashSaleContent .priceFileImportAddRemoveGrid {
	float: left;
	width: 100%;
	margin-top: 20px;
	padding-left: 7px;
}
.cashSaleContainer .cashSaleContent .priceFileImportAddRemoveSubGrid {
	float: left;
	width: 100%;
	margin-top: 12px;
	padding-left: 7px;
}
.cashSaleContainer .cashSaleContent .priceFileImportAddRemoveGrid .saleQuantityContent {
	width: 50%;
	float: left;
}
.cashSaleContainer .cashSaleContent .priceFileImportAddRemoveGrid .saleQuantityContent p {
	font-weight: bold;
	float: left;
	width: 100%;
	color: #474747;
	font-size: 13px;
	margin-bottom: 10px;
}
.cashSaleContainer .cashSaleContent .priceFileImportAddRemoveGrid .saleQuantityContent label{
	background: #FFF;
	width: 100%;
	height: 50px;
	padding: 10px;
	font-weight: normal;
	color: #7d7d7d;
	text-transform: capitalize;
	border: 2px dashed #ECECEC;
	font-size: 18px;
	padding-left: 17px;
	padding-top: 11px;
	text-transform: lowercase;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.cashSaleContainer .cashSaleContent .priceFileImportAddRemoveGrid .removeItem{
	float: left;
	width: 20%;
	margin-top: 4%;
	margin-left: 7%;
}
.cashSaleContainer .cashSaleContent .priceFileImportAddRemoveGrid .removeItem .fa-trash-o{
	font-size: 27px;
	color: var(--bp-blue-alt);
	float: left;
}
.cashSaleContainer .cashSaleContent .priceFileImportAddRemoveGrid .removeItem a{
	color: var(--bp-blue-alt);
	text-decoration: underline;
	font-size: 15px;
	float: left;
	padding-left: 7px;
	text-transform: uppercase;
	padding-top: 5px;
}
.cashSaleContainer .cashSaleContent .priceFileImportAddRemoveGrid .priceField{
	height: 50px;
	width: 96%;
	float: left;
	border: none;
	outline: none;
	font-size: 33px;
	color: #25B3F0;
	background: #FFF;
	border: 2px solid #A3D8F6;
	padding-left: 18px;
}
.priceFileDataTable .tableHeader {
	background-color: var(--bp-blue);
	color: #fff;
	font-size: 15px;
	color: #F6F7F9;
}
.priceFileDataTable .tableHeader th {
	padding: 12px 10px;
	display:table-cell;
	text-transform:uppercase !important;
	font-weight: 600;
}
.priceFileDataTable .tableHeader .navigationIcons {
	background-color: var(--bp-blue-alt);
	cursor: pointer;
}
.priceFileDataTable .tableHeader .navigationIcons i {
	width: 10px;
	padding: 3px 2px;
}
.evenPriceImportFile {
	background-color: #e6ebec;
}
.priceFileDataTable .tableHeader .priceFileDisable{
	opacity :.5;
	cursor: default;
}
.browse_droplet{
	width: 100%;
	float: left;
}
.event-dragover .priceFileImporterContentSection {
	border: 2px dashed var(--bp-blue-alt);
}
.grid_priceFileData tbody {
	display:block;
	max-height:320px;
	overflow-y:auto;
}
.grid_priceFileData thead, .grid_priceFileData tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
	min-height: 36px;
}
.grid_priceFileData tbody tr .removeClassT3{
	font-weight: 200;
}
::-webkit-scrollbar{
	width: 11px;
	height: 20px;
}
::-webkit-scrollbar-button{
	background: #ECF0F1;
}
::-webkit-scrollbar-track-piece{
	background: #ECF0F1;
}
::-webkit-scrollbar-thumb{
	background: #B7BEC6;
	border-radius : 3px;
	border: 1px solid #fff;
}
.grid_priceFileData::-webkit-scrollbar {
	width: 10px;
}
.grid_priceFileData::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	border-radius: 10px;
}
.grid_priceFileData::-webkit-scrollbar-thumb {
	background: #f6f7f9;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
.blue_Text{
	color: var(--bp-blue-alt);
}
.Plr0 {
	padding: 0;
}
.priceFileImportAddRemoveSubGrid p {
	padding-top: 8px;
}
.fieldMappingEditButtons {
	padding-left: 120px;
}
.fieldMappingEditButtons .editSaleAddToSaleAction {
	margin-left: 0;
}
.cashSaleContainer .cashSaleCrumbsDiv .pricefileBackButton .cashSaleCrumbs_UL .cashSaleCrumbs_li1{
	width: 9.6%;
}
.cashSaleContainer .cashSaleCrumbsDiv .pricefileBackButton .cashSaleCrumbs_UL .cashSaleCrumbs_li1 a{
	padding: 20px 0px;
	cursor: pointer;
}
.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL .cashSaleCrumbs_li2,.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL .cashSaleCrumbs_li3,.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL .cashSaleCrumbs_li4,.cashSaleContainer .cashSaleCrumbsDiv .cashSaleCrumbs .cashSaleCrumbs_UL .cashSaleCrumbs_li5 {
	width: 29%;
}
.cashSaleContainer .cashSaleCrumbsDiv .pricefileBackButton .cashSaleCrumbs_UL .cashSaleCrumbs_li2,.cashSaleContainer .cashSaleCrumbsDiv .pricefileBackButton .cashSaleCrumbs_UL .cashSaleCrumbs_li3,.cashSaleContainer .cashSaleCrumbsDiv .pricefileBackButton .cashSaleCrumbs_UL .cashSaleCrumbs_li4,.cashSaleContainer .cashSaleCrumbsDiv .pricefileBackButton .cashSaleCrumbs_UL .cashSaleCrumbs_li5 {
	width: 30.13%;
}
.cashSaleContainer .cashSaleCrumbsDiv .pricefileBackButton .cashSaleCrumbs_UL li a{
	padding: 20px 0px;
}
.cashSaleContainer .cashSaleContent .print_barcodeScanner_And_STA_Wrapper {
	width: 41%;
	margin-left: 9%;
	margin-top: 38px;
	min-width: 41%;
	position: fixed;
}
.cashSaleContainer .cashSaleContent .priceFileNextActionButton .editSaleCancelAction{
	margin-top: 11px;
	margin-left: 100px;
	width: 25%;
	padding-right: 10px;
}
.cashSaleContainer .cashSaleContent .priceFileNextActionButton .editSaleAddToSaleAction{
	width: 33%;
	height:45px;
	margin-left: 1.9%;
}
.cashSaleContainer .cashSaleContent .priceFileNextActionButton .editSaleAddToSaleAction .editSaleBtn{
	padding-top: 4%;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .removeItemImage {
	background-image: url('../Images/trash_blue.png');
	background-size: 29px 51%;
	background-position-x: 13%;
	background-repeat: no-repeat;
	background-position-y: 53%;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .removeItemLogo{
	width: 20px;
	height: 45px;
	float: left;
	cursor: pointer;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .removeText{
	margin-top: 16px;
	float: left;
	padding-left: 3px;
	text-decoration: underline;
	color: var(--bp-blue-alt);
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
}
.removeItemButtonPL {
	padding-left: 35px;
}
.cashSaleContainer .cashSaleContent .priceFileImportAddRemoveGrid .saleQuantityContent {
	width: 48%;
	float: left;
}
.cashSaleContainer .cashSaleContent .priceFileImportAddRemoveGrid .selectFieldLabelsRecord{
	width: 100%;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .priceFileRemoveBut {
	float: left;
	margin-left: 2%;
	width: 15%;
	height: 50px;
	margin-top: 28px;
}
.cashSaleContainer .cashSaleContent .editSaleActionBtns .priceFileRemoveBut .removeItemImage {
	background-size: 20px 51%;
}
@media only screen and (min-width : 992px) and (max-width : 1480px) {
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .removeItemImage {
		background-position-x: 15%;
	}
}
.cashSaleContainer .cashSaleContent .fieldMappingWrapper .priceFileNextActionButton{
	width:95%;
	margin-top: 40px;
}
.cashSaleContainer .cashSaleContent .print_barcodeScanner_And_STA_Wrapper .STA_text_header .STA_Holder{
	width: 73%;
}
.cashSaleContainer .cashSaleContent .priceFileNextActionButton span{
	margin-left: 3px;
}
.cashSaleContainer .cashSaleContent .fieldMappingEditButtons {
	width: 75%;
	float: left;
	padding-left: 0px;
}
.cashSaleContainer .cashSaleContent .priceFileNextActionButton .fieldMappingSubmitBtn {
	width: 33%;
	height: 45px;
	margin-left: 1.7%;
}
.priceFileDataTable > tbody > tr > td {
	padding: 8px 10px;
}
.cashSaleContainer .cashSaleContent .fieldMappingSubmitBtn .editSaleBtn {
	border-radius: 0;
	min-height: 100%;
	width: 100%;
	border: none;
	background: #B7B7B8;
	color: #DDDDDE;
	font-weight: 600;
	font-size: 13px;
	padding-top: 6%;
}
.F13 {
	font-weight: normal;
	font-size: 13px;
}
.F16{
	font-size: 16px;
}
.priceFileImportAddRemoveSubGrid .priceFileText{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	.container-fluid .logoIconPosition {
		width: 25%;
		float: left;
	}
	.container-fluid .globalSearchDivPosition {
		float: left;
		margin-left: 14px;
	}
	.container-fluid .logoIconPosition {
		width: 25%;
		float: left;
	}
	.container-fluid .globalSearchDivPosition .dropdown_div1 {
		width: 95%;
	}
	.container-fluid .globalSearchDivPosition .navbar-right {
		width: 27%;
	}
	.headerNav .container-fluid .globalSearchDivPosition {
		width: 68%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .removeItemImage {
		background-position-x: 25px;
	}
	.cashSaleContainer .cashSaleContent .editSaleActionBtns .priceFileRemoveBut .removeItemImage{
		background-size: 19px 51%;
	}
	.removeItemButtonPL{
		padding-left: 40px;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.container-fluid .logoIconPosition {
		width: 25%;
		float: left;
	}
	.container-fluid .globalSearchDivPosition {
		float: left;
		margin-left: 14px;
	}
	.container-fluid .logoIconPosition {
		width: 25%;
		float: left;
	}
	.container-fluid .globalSearchDivPosition .dropdown_div1 {
		width: 77%;
	}
	.container-fluid .globalSearchDivPosition .navbar-right {
		width: 23%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .removeItemImage {
		background-position-x: 22px;
	}
	.container-fluid .globalSearchDivPosition {
		width: 71%;
	}
	.container-fluid .globalSearchDivPosition1 .globalSearchDivPosition1_col-lg-9 {
		width: 74%;
	}
	.container-fluid .globalSearchDivPosition1 .globalSearchDivPosition1_navbar-right {
		width: 40%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .CashSaleTotalDueSection.FixedCashSaleTotalDueSection {
		width: 50%;
	}
	.cashSaleContainer .cashSaleContent .barcodeScanner_And_STA_Wrapper {
		width: 44%;
		margin-left: 6%;
		margin-top: 62px;
		min-width: 44%;
	}
	.cashSaleContainer .cashSaleContent .cashSaleDetailsSection {
		min-width: 50%;
		margin-left: 50%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection {
		width: 45%;
		margin-left: 5%;
		margin-top: 38px;
		min-width: 45%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .AvailableInventoryAndPriceBorderBottom {
		width: 87%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice {
		width: 94%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .saleQuantityContent {
		width: 36%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .editSalePrice {
		margin-left: 5%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .editSalePrice div h1 {
		width: 12%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .editSalePrice div input {
		margin-left: 6%;
		width: 72%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .saleQuantityAndPrice .editSalePrice div {
		margin-top: 24px;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns {
		width: 89%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .editSaleRemoveItemAction {
		width: 47.5%;
		margin-left: 0;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .editSaleAddToSaleAction {
		width: 47.5%;
		margin-left: 5%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .editSaleCancelAction {
		width: 100%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .editSaleCancelAction span {
		padding-left: 1%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .marginTopFromCancel {
		margin-top: 32px;
	}
	.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSale_header_OrdNumber_status .cashSaleHeader {
		width: 34%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group .EditSaleDropdown-dropdown-toggle {
		width: 90%;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .EditSaleDropdown-input-group ul {
		width: 90%;
	}
	.cashSaleContainer .cashSaleContent .cashSaleDetailsSection .cashSale_header_OrdNumber_status .cashSaleOrdNumberAndstatus {
		width: 66%;
	}
}
@media only screen and (max-width: 1024px) and (orientation : landscape) {
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns {
		margin-top: 20px;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .editSaleCancelAction {
		margin-top: 0px;
	}
	.cashSaleContainer .cashSaleContent .EditSaleSection .editSaleActionBtns .marginTopFromCancel {
		margin-top: 20px;
	}
	.cashSaleContainer .cashSaleContent .Checkout_Wrapper .checkoutPayment {
		margin-top: 0px;
	}
	.cashSaleContainer .cashSaleContent .Checkout_Wrapper .checkoutBalance p, .cashSaleContainer .cashSaleContent .Checkout_Wrapper .checkoutHeader p {
		margin-bottom: 0px;
	}
	.cashSaleContainer .cashSaleContent .Checkout_Wrapper .checkoutPaymentContainer .checkoutAddPayment, .cashSaleContainer .cashSaleContent .Checkout_Wrapper .checkoutPaymentContainer .checkoutPaymentDropdown {
		padding-top: 0px;
	}
	.container-fluid .globalSearchDivPosition1 .globalSearchDivPosition1_col-lg-9 {
		width: 59%;
	}
	.container-fluid .globalSearchDivPosition1 .globalSearchDivPosition1_navbar-right {
		width: 43%;
	}
}
.selectVendor{
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 20px;
}
.priceFileImportAddRemoveGrid .chk_tick{
	margin: 3px 12px;
}
.priceFileDataTable thead tr th{
	border-bottom: none;
	font-weight: normal;
	text-transform: initial;
}
.priceFileDataTable tbody tr td{
	border-top:.2px solid #FFF;
	font-size: 12px;
}
.priceFileDataTable tbody tr .T3{
	font-weight: 600;
}
.Plr3{
	padding: 0px 3px;
}
.cashSaleContainer .cashSaleContent .fieldMappingSubmitBtn .editSubmitSaleBtn {
	border-radius: 0;
	min-height: 100%;
	width: 100%;
	border: none;
	background: #B7B7B8;
	color: #DDDDDE;
	font-weight: 600;
	font-size: 13px;
	padding-top: 5%;
}
.cashSaleContainer .cashSaleContent .fieldMappingSubmitBtn .enableSubmitSaleBtn {
	border-radius: 0;
	min-height: 100%;
	width: 100%;
	color: #FFF;
	background-color: var(--bp-blue-alt);
	border: 1px solid var(--bp-blue-alt);
	font-weight: 600;
	font-size: 13px;
	padding-top: 5%;
}
.mutedGray {
	opacity: .65;
}
.ProcessFileConfirmationPopup.modal {
	overflow: hidden;
}
.modal-dialog {
	-moz-box-shadow: 10px 10px 5px #6F6868;
	-webkit-box-shadow: 10px 10px 5px #6F6868;
	box-shadow: 10px 10px 5px #6F6868;
}
#ProcessFileConfirmationPopup .modal-dialog_PriceFile {
	width: 82%;
}
.popupContainerProcessFileConfirmation {
	border: 7px solid #c5c6c7;
	position: absolute;
	left: 15%;
	right: 15%;
	top: 0;
	background: #fff none repeat scroll 0 0;
	margin-top: 8%;
	padding:15px 6%;
	border-radius: 7px;
}
.popupContainerProcessFileConfirmation .ProcessFileConfirmationHeading p {
	font-size: 26px;
	margin-top: 40px;
	color: #7c7c7c;
	font-weight: 300
}
.popupContainerProcessFileConfirmation .OversoldPartDetails {
	width: 100%;
	color: #64B0D2;
	font-weight: 300;
	float: left;
	margin-top: 4%;
}
.popupContainerProcessFileConfirmation .ProcessFileConfirmationSubHeading2 {
	width: 100%;
	float: left;
	color: #A7A8A8;
	margin-top: 8px;
	font-size: 12px;
}
.popupContainerProcessFileConfirmation .AvailableInventoryLabel {
	float: left;
	color: #000;
	font-size:13.5px;
	padding-left: 1px;
}
.popupContainerProcessFileConfirmation .AvailableInventoryValue {
	float: left;
	padding-left: 1%;
	font-weight: 500;
}
.popupContainerProcessFileConfirmation .AvailableInventoryAndPriceDivider {
	float: left;
	margin-left: 3%;
	margin-right: 3%;
}
.popupContainerProcessFileConfirmation .priceLabel {
	float: left;
}
.popupContainerProcessFileConfirmation .priceValue {
	float: left;
	padding-left: 8px;
	font-weight: 500;
}
.ProcessFileConfirmationSubHeading1 {
	width: 100%;
	margin-top: 2%;
	float: left;
}
.ProcessFileConfirmationSubHeading1 p {
	font-size: 13.5px;
	font-weight: 600;
	padding-left: 1px;
}
.ProcessFileActionsContainer {
	width: 100%;
	margin-top: 6%;
	float: left;
	padding-left: 0px;
}
.ProcessFileActionsContainer div{
	width: 45%;
	float: right;
}
.ProcessFileActionsContainer a{
	margin-top: 15px;
	margin-left: 225px;
	width: 16%;
	text-align: right;
	float: left;
	cursor: pointer;
}
.ProcessFileActionsContainer a img{
	width: 24px;
	float: left;
}
.ProcessFileActionsContainer a span{
	float: left;
	text-decoration: underline;
	color: red;
	font-weight: bold;
	padding-top: 3px;
	font-size: 14px;
	margin-left: 8px;
}
.ProcessFileActionBtn, .ProcessFileActionBtn:hover, .ProcessFileActionBtn:focus, .ProcessFileActionBtn:active {
	border-radius: 0;
	min-height: 54px;
	color: #FFF;
	background-color: var(--bp-blue);
	border: 1px solid var(--bp-blue-alt);
	font-weight: 600;
	font-size: 14px;
	box-shadow: none;
	padding: 0 4%;
	width: 94%;
}
.ProcessFileCancelAction {
	width: 100%;
	margin-top: 5%;
	cursor: pointer;
	margin-bottom: 7%;
	float: left;
}
.ProcessFileCancelAction img {
	width: 24px;
	float: left;
}
.ProcessFileCancelAction span {
	float: left;
	padding-left: 1.5%;
	text-decoration: underline;
	color: red;
	font-weight: bold;
	padding-top: 3px;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.popupContainerProcessFileConfirmation {
		margin-top: 35%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1200px) {
	#ProcessFileConfirmationPopup .modal-dialog_PriceFile {
		width: 85%;
	}
}
.priceFileResult {
	margin: 70px 0 0 0;
	background: #F6F7F9;
}
.resultWrapper{
	position: fixed;
	top: 28%;
	left: 19.8%;
}
.resultHeading{
	font-weight: 300;
	font-size: 29px;
	color: #000;
	padding-left: 3px;
}
.resultSuccess, .resultSuccess:hover, .resultSuccess:focus, .resultSuccess:active{
	font-weight: 300;
	font-size: 25px;
	color: #000;
	padding-left: 3px;
}
.resultFaild, .resultFaild:hover, .resultFaild:focus, .resultFaild:active{
	font-weight: 300;
	font-size: 25px;
	color: #000;
	padding-left: 3px;
}
.importNewPriceFile{
	width: 220px;
	height: 45px;
	margin-left: 3px;
	margin-top: 40px;
	float: left;
}
.importNewPriceFile button ,.importNewPriceFile button:hover, .importNewPriceFile button:focus, .importNewPriceFile button:active{
	border-radius: 0;
	min-height: 100%;
	width: 100%;
	color: var(--bp-blue-alt);
	background-color: #FFF;
	border: 1px solid var(--bp-blue-alt);
	font-weight: 600;
	font-size: 14px;
}
.importExitPriceFile{
	width: 150px;
	height: 45px;
	margin-left: 13px;
	margin-top: 40px;
	float: left;
}
.importExitPriceFile button ,.importExitPriceFile button:hover, .importExitPriceFile button:focus, .importExitPriceFile button:active{
	border-radius: 0;
	min-height: 100%;
	width: 100%;
	color: #FFF;
	background-color: var(--bp-blue-alt);
	border: 1px solid var(--bp-blue-alt);
	font-weight: 600;
	font-size: 14px;
}
.priceFileImportContainer .table1_td1 {
	width: 5%;
}
.priceFileImportContainer .table1_td2 {
	width: 30%;
}
.priceFileImportContainer .table1_td3 {
	width: 5%;
}
.priceFileImportContainer .shrinkTd {
	width: 3.5% !important;
}
.priceFileImportContainer .table2_td1 {
	width: 31.8%;
}
.priceFileImportContainer .table2_td2 {
	width: 31.5%;
}
.priceFileImportContainer .table2_td3 {
	width: 32%;
}
.priceFileImportContainer .shrinkLastTd {
	width: 30.4% !important;
}
@-moz-document url-prefix() {
	.priceFileImportContainer .shrinkTd {
		width: 2.5% !important;
	}
	.priceFileImportContainer .table2_td1 {
		width: 33.3%;
	}
	.priceFileImportContainer .table2_td2 {
		width: 33.3%;
	}
	.priceFileImportContainer .table2_td3 {
		width: 33.3%;
	}
	.priceFileImportContainer .shrinkLastTd {
		width: 30.8% !important;
	}
}
.priceFileImportAddRemoveSubGrid .bp-chck-tick-checkbox{
	margin-top: 5px;
}
.priceFileImportAddRemoveSubGrid .bp-info-tooltip i{
	padding-top: 5.5px;
}