#AddEditFee .controls1 {
	top: -45px;
}

.modal-content .fee_popup_container .leftbordernone {
	border-left: none;
}

.modal-content .fee_popup_container .popupinside .min_overflow {
	height: 360px;
	overflow: auto;
	float: left;
}

.modal-content .fee_popup_container .angucomplete-dropdown {
	margin: 0;
}

.modal-content .fee_popup_container .popupright .tabconainer form .angucomplete-overide-dropdown {
	width: 63% !important
}

.modal-content .fee_popup_container .angucomplete-overide-dropdown .ML {
	margin-left: 6px;
}

.selectCustomer_popup_container {
	height: auto;
	padding: 10px 0px;
	min-height: auto;
	padding: 0px 0px 40px 21px;
}

.selectCustomer_popup_container .popupTopSection {
	margin-top: 10px;
}

.selectedCustomerModalDialog {
	top: 25%;
	left: -1.5%;
	width: 42.4% !important;
}

.selectedCustomerModalDialog .angucomplete-dropdown {
	height: auto;
	overflow: auto;
	margin-top: 0px;
	width: 88%;
	padding-bottom: 14px;
}

.selectCustomer_popup_container .angucomplete-holder .form-control,
.selectCustomer_popup_container .angucomplete-holder .form-control input {
	background: #F6F7F9;
}

.PL2 {
	padding-left: 2px;
}

.angucomplete-selected-border {
	font-size: 12px;
	float: right;
	text-align: right;
	color: #666;
}

.angucomplete-selected-text {
	padding-top: 5px;
	width: 104%;
	margin-left: -3% !important;
	padding-left: 3% !important;
}

.angucomplete-selected-text:parent {
	border-bottom: none;
}

.GF16 {
	font-size: 16px;
	color: gray;
}

input[type="text"].anguinput::-webkit-input-placeholder {
	font-style: italic;
}

input[type="text"].anguinput::-moz-placeholder {
	font-style: italic;
}

input[type="text"].anguinput:-ms-input-placeholder {
	font-style: italic;
}

input[type="text"].anguinput:-moz-placeholder {
	font-style: italic;
}

.selectedCustomerModalDialog .savecancle_btncntnr .grayBtn {
	padding: 6px 8px;
	font-size: 9px;
	line-height: 12.85px;
}

.selectedCustomerModalDialog .fa-select-customer {
	position: absolute;
	right: 53px;
	top: 67.5%;
}

.selectedCustomerModalDialog .sub-heading {
	margin-top: 5px;
	font-size: 16px;
	font-weight: lighter;
}

.selectedCustomerModalDialog .main-heading {
	font-weight: 400;
}

.selectCustomer_popup_container .popupMidSection {
	float: left;
	width: 93.5%;
	padding: 0 0 0 2.5%;
	margin-top: 15px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.selectCustomer_popup_container {
		left: 0;
	}
	.selectedCustomerModalDialog {
		left: 0;
		margin-top: 34%;
		top: 0;
		width: 54% !important;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.selectCustomer_popup_container {
		left: 2.5%;
	}
	.selectedCustomerModalDialog {
		left: -1%;
		margin-top: 11%;
		top: 0;
		width: 54% !important;
	}
}

.selectCustomerAutoComplete .form-control {
	padding: 6px 8px;
}

.selectedCustomerModalDialog .selectText {
	font-weight: 400;
	font-size: 22px;
	margin: 0.01em;
	color: #414449;
}

#selectCustomerModel .modal-content.border0 {
	border: 0;
	background-color: rgba(0, 0, 0, 0);
}