.modal-open .ServiceJobClaimRes {
	font-family: Barlow;
	overflow-y: auto;
}

.CreateGroupModal .modal-dialog {
	max-width: 919px;
}

.CreateGroupModal .rasponseBody {
	width: 50%;
	margin: 0 auto;
}

.CreateGroupModal .modal-body {
	padding: 75px 0;
}

.CreateGroupModal .modal-body .bp-response-heading {
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	margin: 35px 0 12px 0px;
	color: var(--dark-grey2);
}

.CreateGroupModal .modal-body .form {
	width: 100%;
	float: left;
}

.CreateGroupModal .modal-body .bp-editable-table thead tr:nth-child(1) .varianceBorder {
	border-bottom: 2px solid #3384FF;
	color: #3384FF;
	font-size: 12px;
}

.CreateGroupModal .modal-body .bp-editable-table thead tr:nth-child(2) {
	background-color: #FAFBFC;
}

.CreateGroupModal .modal-body .bp-editable-table thead tr:nth-child(2) th {
	padding-top: 17px;
	padding-bottom: 13px;
	font-size: 12px;
}

.CreateGroupModal .modal-body .varianceGrid tbody tr td:last-child {
	text-align: left;
}

.CreateGroupModal .modal-body .varianceGrid tbody tr td .VarianceBillTo input {
	height: 35px;
	margin: 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.CreateGroupModal .modal-body .varianceGrid tbody tr td .VarianceBillTo .searchResultOverlay {
	padding: 27px 10px 8px;
}

.CreateGroupModal .modal-body.varianceGridTable .table-responsive {
	overflow-x: visible;
}

.varianceGridTable .formBtn {
	float: right;
	margin: 56px 15px 47px 0px;
}

.varianceGridTable .formBtn .text-now-but {
	background-color: #3384FF;
}

.CreateGroupModal .modal-body.claimResponseDetailSection .claimDispositionDropdown {
	margin: 0 auto;
	float: none;
	margin-bottom: 47px;
}

.CreateFeeModal .modal-body .form label {
	color: var(--dark-grey2);
}

.claimResponseDetailSection .claimDispositionDropdown .searchResultOverlay {
	padding-top: 0;
	top: 84px;
}

.claimResponseDetailSection .claimDispositionDropdown .searchInputArea i {
	top: 52px;
	background: none;
}

.claimResponseDetailSection table thead tr:first-child th {
	padding: 0;
	padding-left: 2px;
}

.claimResponseDetailSection table thead tr:first-child th div {
	width: 100%;
	padding-bottom: 6px;
	font-size: 12px;
}

.claimResponseDetailSection table thead tr th {
	font-size: 12px;
}

.claimResponseDetailSection table thead tr:first-child th:nth-child(2) div {
	border-bottom: 2px solid var(--grey);
}

.claimResponseDetailSection table thead tr:first-child th:nth-child(3) div {
	border-bottom: 2px solid var(--bp-blue);
}

.claimResponseDetailSection table thead tr .separatorBorder,
.claimResponseDetailSection table tbody tr .separatorBorder {
	border-right: 2px solid var(--light-grey1);
}

.CreateGroupModal .modal-body.claimResponseDetailSection table tbody tr td:last-child {
	text-align: center;
}

.claimResponseDetailSection table tbody .totalSectionSeparatorRow td {
	border: none;
	padding-top: 27px;
}

.claimResponseDetailSection table tbody .totalSectionRow td {
	border: none;
	color: var(--dark-grey2);
	line-height: 23px;
}

.claimResponseDetailSection table tbody .totalSectionRow td div {
	width: 100%;
}

.claimResponseDetailSection table tbody .totalSectionRow td .total {
	font-weight: 600;
}

.claimResponseDetailSection .bp-required-text-msg {
	float: left;
	margin-right: 19px;
	padding-top: 16px;
}

.CreateFeeModal .modal-body .form .bp-input-text:focus {
	border: 1px solid var(--bp-blue) !important;
	box-shadow: none !important;
	outline: none !important;
}

.varianceGrid .searchResultOverlay ul li .fullName {
	width: 100%;
}

.SendSMSModal .searchInputArea i {
	cursor: pointer;
}

.ServiceJobClaimRes .modal-body .form label {
	font-size: 16px;
}

.rasponseBody .ResponseNextBut {
	width: 138%;
	text-align: right;
}

.bp-approved {
	color: #3F9AFF;
}

.CreateGroupModal .modal-body .bp-editable-table thead tr .PL10,
.CreateGroupModal .modal-body .bp-editable-table tbody tr .PL10 {
	padding-right: 10px;
}

.CreateGroupModal .modal-body .varianceGrid tbody tr td .billToDropdown-input .searchResultOverlay {
	width: calc(100% - 15px);
	left: 7.5px;
}

.VarianceBillTo .searchResultOverlay ul {
	padding: 0px;
}

.VarianceBillTo .searchResultOverlay ul:first-child {
	padding-top: 11px;
}

.VarianceBillTo .searchResultOverlay ul li {
	padding: 10px 0px 10px 15px;
}

.VarianceBillToDropdown {
	max-width: 150px;
}

.SendSMSModal .VarianceBillToDropdown i {
	right: 0px;
}
.btn-label{
	background: transparent;
   border: none;
   color: var(--grey1);
   margin-right: 30px;
}
.varianceGridTable .bp-warning-template {
	background: var(--Orange-light2);
   border: 1px solid var(--grey4);
   border-radius: 0px 3px 3px 0px;
   border-top: 3px solid var(--orange);
   height: 47px;
   width: 85%;
   margin: 0 auto;
   display: flex;
   align-items: center;
}
.btn-label:active, .btn-label:focus {
	outline: none;
	border: none;
}
.bp-orange-warning-icon {
	padding-right: 17px;
	align-self: center;
}

.bp-orange-warning-icon .orange {
	width: 14px;
	height: 14px;
}

.orange svg {
	fill: var(--orange);
	stroke-width: 1.5px;
}