#crumbs ul {
	list-style: none;
	display: inline-table;
	padding-left: 0;
}

.cou_status {
	text-align: center;
	margin-left: 12px;
	margin-bottom: 6px;
	width: 104px;
	border-radius: 3pt;
}

#crumbs ul li {
	display: inline;
}

.greenColorBg {
	background-color: var(--green);
	color: white;
}

.unitimagediv {
	width: 30%;
	background: #FFF;
	padding: 0px;
	float: left;
}

.blackColorBg {
	background-color: Black;
	color: white;
}

.newunitcss {
	width: 70%;
	float: left;
}

.fullwidth {
	width: 100%;
	min-height: 12px;
}

.lightbox.blackborder.minheight.pull-left {
	border: 1px solid black;
	padding: 0.5%;
	border-radius: 0;
	width: 349px;
}

.lightbox.blackborder.width_auto.pull-left {
	width: 100%;
}

.handleoverflow {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#crumbs ul li a {
	display: block;
	float: left;
	height: 50px;
	background: #fff;
	text-align: left;
	padding: 15px 10px 0 30px;
	position: relative;
	margin-left: 0px;
	font-size: 12px;
	text-decoration: none;
	color: #000;
	border: 2px solid #BBE5F9;
	width: 175px;
}

#crumbs ul li a:before {
	content: "";
	border-top: 24px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 20px solid #BBE5F9;
	position: absolute;
	left: -2px;
	top: -2px;
}

#crumbs ul li a:after {
	content: "";
	position: absolute;
	right: -19px;
	top: -1px;
	border-top: 23px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 20px solid #fff;
	z-index: 1;
}

#crumbs ul li:last-child a:after {
	display: none;
}

#crumbs ul li:first-child a:before {
	display: none;
}

#crumbs ul li a.activeChevron {
	background: #BBE5F9;
}

#crumbs ul li a.activeChevron:after {
	border-left-color: #BBE5F9;
}

#crumbs ul li a .fa {
	color: var(--bp-blue-alt);
	font-size: 14px;
	margin-right: 5px;
}

.wizardWrapper .buttonSection {
	padding: 0 0 10px 0;
	background: #F6F7F9;
	margin-left: 0;
	margin-right: 40px;
}

.wizardWrapper .buttonSection .buttonsDiv {
	margin-top: 12px;
}

.wizardWrapper .buttonSection .buttonsDiv .dropdown .dropdown-menu {
	left: auto;
	right: 0;
	border-radius: 0;
}

.wizardWrapper .buttonSection .addmoreinfoBtn {
	width: auto;
}

.wizardWrapper .buttonSection .main_heading {
	margin-top: 10px;
	font-weight: lighter !important;
	text-transform: capitalize;
	font-size: 22px !important;
	color: #414449;
}

.wizardWrapper .wizardBody {
	margin-left: 15px;
	margin-bottom: 50px;
	width: 100%;
}

.divider.pb0 {
	padding-bottom: 0px;
}

.wizardContent ul li {
	list-style-type: none;
	padding-bottom: 15px;
}

.cou1li ul li {
	padding-bottom: 0px;
}

.wd50 {
	width: 50%;
}

.wizardContent {
	margin-top: 15px;
}

.printpreview .lightbox {
	margin-right: 10px;
	min-height: 90px;
	width: 350px;
}

.printpreview .starimgdiv {
	height: auto;
	margin-bottom: 0;
}

.printpreview .lightbox .infotext {
	margin-left: 0px;
	margin-top: 7px;
	position: relative;
	width: 280px;
	float: left;
	left: 8px;
}

.printpreview .itemiconlog {
	width: 97%;
	margin-left: 10px;
}

.fontcolor {
	color: #939CA9;
}

.printcoheadr {
	width: 170px;
	float: left;
}

.printpreview .width-285 {
	width: 285px;
	display: inline-block;
}

.printpreview .servicelabel {
	margin-bottom: 7px;
}

.MT25 {
	margin-top: 25px;
}

.printpreview .multiselect {
	float: left;
	border: 1px solid #ccc;
	width: 275px;
	border-radius: 5px;
	min-height: 40px;
}

.printpreview .multiselect div {
	width: auto;
	padding: 2px;
	margin: 5px;
}

.printpreview .multiselect div span {
	background: #ECF0F1;
	padding: 5px 20px 5px 10px;
	border-radius: 5px;
	position: relative;
	font-size: 12px;
	display: inline-block;
	word-break: break-word;
}

.printpreview .multiselect div span i {
	position: absolute;
	top: 2px;
	right: 4px;
	cursor: pointer;
}

.pushBtn {
	margin-right: 10px;
}

.pushDiv {
	background: #F6F7F9;
	height: 115px;
}

.P0 {
	padding: 0;
}

.signatureDiv {
	margin-top: 50px;
}

.pushDiv .fa-sign-in {
	font-size: 73px;
	position: absolute;
	right: 25px;
	top: 25px;
}

.signedText {
	width: 86px;
	float: left;
	position: absolute;
	bottom: 0;
	font-weight: bold;
	font-size: 12px;
}

.remote_check {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.remote_check ul li div {
	width: 21%;
	float: left;
}

.remote_check ul li div .remote_check_text {
	text-transform: uppercase;
	line-height: 1.9;
}

a .user-twitter {
	float: right;
	color: #00CEFF;
	-webkit-print-color-adjust: exact;
}

a .user-fb {
	float: right;
	margin-top: 19px !important;
	margin-right: -11px;
	color: #00CEFF;
	-webkit-print-color-adjust: exact;
}

a .user-cup {
	float: right;
	margin-right: 7px;
	color: #00CEFF;
	-webkit-print-color-adjust: exact;
}

.dpInline {
	display: inline;
}

.gid_container_Customer .table tbody>tr>.tdPadding20 {
	padding-bottom: 20px;
	padding-top: 20px;
}

.claimResponseTableHeader_text {
	width: 42%;
	display: inline-block;
	text-align: center;
	border-bottom: 1px solid #000;
}

.varianceTableHeader_text {
	width: 40%;
	display: inline-block;
	text-align: center;
	border-bottom: 1px solid #000;
}

.printpreview .gid_container_Customer .tableHeader th {
	background: #F6F7F9;
}

.printpreview .gid_container_Customer .table tbody:nth-child(2n) tr td {
	background-color: #F6F7F9;
}

.printpreview .gid_container_Customer .table .printChild .printChildSolist:nth-child(2n) td {
	background-color: #F6F7F9;
}

.totalsection .BB {
	border-bottom: 1px solid #000;
	width: 60px;
	margin-right: 5px;
}

.totalsection {
	border: 1px solid #ccc;
	width: 200px;
	border-radius: 5px;
	float: left;
	margin-right: 10px;
}

.totalsection div label,
.totalsection div span {
	width: 65px;
}

.totalsection div label {
	padding: 5px 0px 0px 0px;
	margin: 0px 10px;
	font-size: 14px;
}

.pb0 {
	padding-bottom: 0px;
}

.totalsection div span {
	padding: 0px 2px 0px 0px;
}

.totalsection div {
	width: 200px;
	float: left;
}

.logservicelabel .margin-47 {
	padding-right: 20%;
}

.disabledClaimLineItemRow {
	pointer-events: none;
}

.claimWizardBody.pull-left p {
	text-transform: capitalize;
}

.wizardTotalTable {
	border: 1px solid black;
	font-size: 16px;
}

.wizardTotalTable .bb1 {
	border-bottom: 1px black solid;
}

.wizardTotalTable .width90 {
	width: 90%;
	float: left;
	word-wrap: break-word;
	padding-left: 5%;
}

.wizardTotalTable .PR {
	padding-right: inherit;
}

.ProviderList ul li {
	padding-bottom: 0px;
}

.claimInfoSubSection ul li {
	padding-bottom: 0px;
}