#GeneralInfoSection .rowGeneral .fa,
#ServiceInfoSection .rowGeneral .fa {
    color: #939CA9;
}

.service_main {
    margin-top: 25px;
}

.service_sub_list li,
.service_sub_list p {
    margin: 5px 10px;
    font-weight: 600;
    word-break: break-all;
}

.cou_plus_icon {
    margin-left: 10px;
    color: #939CA9;
}

.smschkbox .chk_tick {
    width: 20px !important;
    height: 20px !important;
    border-radius: 4px;
    margin: 3px 6px;
    display: block;
    float: left;
    cursor: pointer;
    border: 1px solid #CCC;
}

.smschkbox .chk_tick .chksqure {
    font-size: 0px;
    height: 12px;
    width: 12px;
    margin: 3px;
    border-radius: 2px;
    background: #D8D8D8;
}

.smschkbox .chked .chksqure {
    font-size: 0px !important;
    height: 12px;
    width: 12px;
    margin: 3px;
    border-radius: 2px;
    background: var(--green);
}

.show_Availableline {
    background: #27ae60;
    font-size: 12;
    color: #fff;
    padding-left: 10px;
}

.gid_container_Customer .table tbody>tr>td .available_td {
    padding: 0px;
}

.statusRow .kitStatus {
    margin: 0;
    float: left;
    padding-top: 5px;
}

.userNameblock_Kit_ML0 {
    margin-left: 0px;
}

.searchToAdd_Kit_Ml110 {
    margin-left: 110px;
}

.rowGeneral .Active_Button {
    Padding: 0px;
    height: 24px;
}

.rowGeneral .Active_Button_row {
    Padding-right: 0px;
    margin-top: 12px;
}

.round_btn {
    border-radius: 3pt;
    padding: 3px 0px;
    height: 24px;
}

.main_section .actionRow .sectionText {
    font-weight: bold;
    color: var(--bp-blue-alt);
}

.rowGeneral .general_info_part .row:nth-child(1) {
    margin-top: 12px;
}

.ServiceInfoSection {
    border-top: 1px solid #ECF0F1;
    padding-top: 24px;
}

.main_section .rowGeneral {
    padding-right: 4%;
    margin-bottom: 35px;
}

.clickable_row .first_icon {
    margin-top: 9px;
}

.edit_panel td .descEditInput {
    display: inline-block;
    width: 50%;
}

#KitInfoSection .Active_Button_row .activeBtn {
    text-align: center;
    padding-top: 2px;
}

.searchToAddKit .angucomplete-dropdown {
    width: 100%;
    margin-top: 28px;
}