.Vendor-Order-Part-PopupNew {
    display: block;
    background: #fff;
    color: #000;
    padding-left: 20px;
    width: 650px;
    height: 200px;
}

.Vendor-Order-Part-PopupNew .under-line-row {
    padding: 10px;
    border-bottom: 1px solid #939598;
    margin-left: 0px;
}

.button-On-PopUp {
    background-color: orange;
    color: white;
    font-weight: bold;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}

.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}

.my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}

.my-legend .legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

.my-legend a {
    color: #777;
}

.closeBtn {
    height: 32px;
}

.gid_container_Customer .table {
    border: 0;
}

.main_section_COU_Header .actionRow .actionText {
    margin-left: 5px;
    color: #939CA9;
}

.first_img {
    height: 30px;
}

.gid_container_Customer .table th {
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

.gid_container_Customer .table tbody {
    border: none;
}

.gid_container_Customer .table tbody>tr>td {
    border: none;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
}

.gid_container_Customer .table tbody .tddropdown td {
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
}

.angucomplete-dropdown {
    width: 100%;
}

.gid_container_Customer .tableHeader {
    margin-left: -15px;
    margin-right: -15px;
}

.gid_container_Customer .S2 {
    margin-left: 12px;
    margin-right: 12px;
}

.gid_container_Customer table .edit_panel {
    background: #fff;
}

.gid_container_Customer table .edit_panel,
.gid_container_Customer table .Editable_row {}

.gid_container_Customer table .edit_panel.show_tr {
    display: table-row;
}

.gid_container_Customer table .edit_panel input[type="radio"] {
    float: left;
    position: relative;
}

.gid_container_Customer table .edit_panel td .edit_box .edit-body .editform_btn {
    position: absolute;
    right: 20px;
    top: 87px;
    width: 50px;
}

.gid_container_Customer table .edit_panel td {
    overflow: hidden;
    height: 0;
    padding-top: 5px;
}

.gid_container_Customer table .edit_panel td .edit_box {
    border: 1px dashed #A8A8A8;
    margin: 10px 5px;
    position: relative;
}

.gid_container_Customer table .edit_panel.animate_tr td {
    border-left: 3px solid #939393;
    height: auto;
    padding: 4px;
}

.gid_container_Customer table .edit_panel td .edit_box.ng-hide {
    height: 0;
}

.gid_container_Customer table .edit_panel td .edit_box {
    transition: all 0.5s ease;
}

.edit_box {
    transition: .5s linear all;
    height: 130px;
}

.gid_container_Customer table .edit_panel.animate_tr {
    margin-top: 10px;
    transition: all 0.5s ease;
}

.gid_container_Customer table .edit_panel td .edit_box .its-heading {
    position: absolute;
    left: 24px;
    top: -15px;
    min-width: 175px;
    background: #fff;
    min-height: 30px;
    padding: 6px;
    font-size: 14px;
    color: #939CA9;
    font-weight: bold;
}

.gid_container_Customer .table .edite_btn {
    height: 38px;
    width: 38px;
    float: left;
    padding: 4px;
    margin: 4px 0;
}

.gid_container_Customer table .edit_panel td .edit_box .edit-body {
    margin: 26px;
}

.gid_container_Customer table tr td .notification {
    color: #C9302C;
    display: block;
    clear: both;
    font-size: 11px;
    font-style: italic;
}

.gid_container_Customer table tr td .AvalaibleQtyNotification {
    color: #1abc9c;
    display: block;
    clear: both;
    font-size: 11px;
    font-style: italic;
}

.gid_container_Customer table tr td .Infonotification {
    color: #2E64FE;
    display: block;
    clear: both;
    font-size: 11px;
    font-style: italic;
}

#CO_Merchandise_block_grid_container .Editable_row .form-control {
    width: 75%;
    border-color: var(--bp-blue-alt);
    text-align: center;
    display: table-row;
    float: left;
}

.gid_container_Customer table .edit_panel input[type="radio"] {
    float: left;
    position: relative;
}

.gid_container_Customer table .edit_panel td .edit_box .edit-body .radio label span {
    display: block;
    float: left;
    margin-top: 0px;
    font-size: 14px;
    color: #707070;
}

.gid_container_Customer table .edit_panel td .edit_box .edit-body .radio label .select_box_container {
    display: block;
    float: left;
    margin-left: 22px;
    margin-top: -4px;
}

.Vendor-Order-Part-line {
    float: left;
    width: 100%;
    margin: 24px 0 24px 0px;
    padding: 0;
    border-top: 1px solid #ECF0F1;
}

.MB24 {
    margin-bottom: 24px;
}

 ::-webkit-scrollbar {
    width: 11px;
    height: 20px;
}

 ::-webkit-scrollbar-button {
    background: #ECF0F1;
}

 ::-webkit-scrollbar-track-piece {
    background: #ECF0F1;
}

 ::-webkit-scrollbar-thumb {
    background: #B7BEC6;
    border-radius: 3px;
    border: 1px solid #fff;
}

.savecancle_btncntnr .grayBtn,
.savecancle_btncntnr .grayBtn:hover,
.savecancle_btncntnr.grayBtn:focus,
.savecancle_btncntnr.grayBtn:active {
    background: #727983;
    color: #ffffff;
    border: none !important;
    font-weight: bold;
    border-radius: 1px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.M20 {
    margin-top: 20px;
}

.savecancle_btncntnr .greenBtn,
.savecancle_btncntnr .greenBtn:hover,
.savecancle_btncntnr .greenBtn:focus,
.savecancle_btncntnr .greenBtn:active {
    background: var(--green);
    color: #ffffff;
    border: none !important;
    font-weight: bold;
    border-radius: 1px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.rectanglecont {
    margin-top: -15px;
    border-radius: 15px 15px 0px 0px;
}

.rectanglecont1 {
    margin-top: -7px;
}

.inorder_tringle {
    margin-top: -15px;
}

.rectanglecont text {
    margin-top: -20px;
}

.instocktext {
    margin-top: -15px;
}

.Vendor-Order-Part-PopupNew .row {
    margin: 0;
}

.tablePartDetails {
    width: 97%;
}

.widgetAvailable {
    height: 185px;
}

.widgetUnAvailable {
    height: 60px;
}