.rowGeneral .social_icon_row a:hover {
    text-decoration: none;
}

.main_section_COU {
    margin-bottom: 48px;
    margin-top: 21px;
}

.main_section_COU .line {
    border-top: 1px solid #ECF0F1;
    margin: 0 20px 0 20px;
}

.headerlabel .ActionIcons {
    margin-top: 0;
}

.telemetry_Main {
    border-top: 1px solid #ECF0F1;
    margin-top: 24px;
    padding-top: 24px;
}

.popup_container .popupright.storeCreditsPopUp {
    border-left: none;
}

.clickable_row .first_icon {
    margin-top: 9px;
}

#StoreCreditAdjust .modal-dialog {
    max-width: 550px;
}

.sendText {
    float: left;
    width: 150px;
    height: 40px;
}

.T2 .text-transform-none,
.leftPanelLinks .text-transform-none {
    text-transform: none;
}

.gid_container_Customer .table tbody>tr>.msgText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 209px;
}

.gid_container_Customer .table tbody>tr>.msgText:hover {
    text-overflow: clip;
    white-space: normal;
    word-break: break-all;
}

.gid_container_Customer .table .clickable_row .edite_btn.bp-message-icon {
    padding: 11px 5px;
}

.bp-message-icon i {
    width: 20px;
    height: 20px;
}
.favorite {
    float: left;
    padding-top: 5px;
}
.ml-small {
	margin-left: 15px !important;
}
.Info_Notes {
    border-top: 1px solid #ECF0F1;
    padding-top: 24px;
    margin-top: 35px;
}