.bp-schedule-container .container {
    padding-bottom: 50px;
}

.bp-week-schedule-container {
    background: var(--white);
}

.progress {
    background-color: var(--green);
    border-radius: 3px;
    height: 33px;
    margin: 10px 0px 3px 0px;
    overflow: hidden;
    flex: 100%;
    margin: 0;
    position: relative;
}

.bar {
    background-color: var(--dark-grey2);
    color: var(--white);
    float: left;
    height: 100%;
    position: absolute;
    text-align: left;
}

.bar >.percent {
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    color: var(--white);
    padding: 7px;
    font-weight: 600;
}

.no-border-bg:hover {
    background: none !important;
    border: 1px solid transparent !important;
    border-right: 1px solid var(--light-grey1) !important;
    cursor: default !important;
    transition: all 0.2s ease;
}

.bp-progress-container .right-percent i circle {
    fill: var(--white)
}

.bp-progress-container .right-percent {
    position: relative;
}

.bp-progress-container .right-percent i {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    right: 7px;
}

.bp-progress-container .right-percent i line {
    stroke: var(--bp-blue);
}

.bp-progress-container .right-percent .bp-hrs-left {
    margin-right: 40px;
    padding-top: 7px;
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
}

.bp-week-name {
    width: 10%;
    height: 78px;
    border: 1px solid var(--light-grey1);
    float: left;
    text-align: center;
    border-top: none;
}

.bp-week-name p {
    display: inline-block;
    margin: 0px;
    color: var(--light-grey);
    font-size: 16px;
    padding-top: 25px;
    width: 50%;
    line-height: normal;
}

.bp-week-name span {
    display: inline-block;
    color: var(--light-grey);
    font-size: 40px;
    padding-top: 10px;
    width: 50%;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
}

.bp-progress-bar-container {
    border-bottom: 1px solid var(--light-grey1);
    display: flex;
    flex-wrap: wrap;
    height: 78px;
    flex: 100%
}

.bp-progress-bar-container > div {
    flex: 50%;
}

.bp-progress-bar-container > div:not(.bp-past-date-progress-bar):hover {
    background: var(--light-blue);
    border: 1px dashed var(--bp-blue-hover);
    cursor: pointer;
    transition: all 0.2s ease;
}

.bp-progress-container {
    display: flex;
    border: 1px solid transparent;
    border-right: 1px solid var(--light-grey1);
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
}

.bp-title-day-time {
    display: none;
}

.bp-week-schedule-container-tablet-view {
    display: block;
    border-top: 1px solid var(--light-grey1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.bp-week-schedule-container-tablet-view .bp-week-name,
    .bp-week-schedule-container-tablet-view .bp-progress-bar-container {
    height: 40px;
}

.bp-week-schedule-container-tablet-view .bp-progress-bar-container .bp-progress-container span {
    font-size: 12px;
    color: var(--light-grey);
    line-height: 17px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.bp-progress-bar-container .bp-no-of-appointment-schedule {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: var(--bp-blue);
    font-weight: 600;
}

.bp-progress-bar-container .bp-no-of-appointment-schedule:hover {
    color: var(--bp-blue-hover);
    transition: all 0.2s ease;
}

.bp-oversold-schedule {
    font-size: 12px;
    color: var(--coral);
    font-weight: 600;
}

.bp-current-date {
    background: var(--light-blue);
}

.bp-blue-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(38, 123, 240, 0.9);
    border: 1px solid transparent;
}

.bp-blue-overlay i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.bp-blue-overlay i svg {
    stroke-width: inherit;
}

.border-top {
    border-top: none;
}

/* Disabled state for progress bar */
.bp-progress-disabled .progress .bar {
    background: var(--light-grey1);
}

.bp-progress-bar-container > div.bp-progress-disabled:hover {
    cursor: not-allowed;
    border: 1px solid transparent;
    background: transparent;
    border-right: 1px solid var(--light-grey1);
}

.bp-progress-disabled .bp-no-of-appointment-schedule {
    color: var(--light-grey);
}

.bp-legend {
	display: inline-block;
    margin-top: 40px;
    float: right;
    position: relative;
}

.total-count {
	color: var(--dark-grey2);
    font-weight: 600;
    font-size: 20px;
    float: left;
    line-height: 24px;
}

.hour-text {
	color: var(--dark-grey2);
    font-size: 10px;
    width: 35px;
    float: left;
    padding-top:3px;
    line-height: 10px;
    margin-left: 5px;
}

.bp-legend-container {
    padding: 12px 0px 11px 11px;
}

.bp-legend-header {
	background: var(--white);
	padding: 7px 5px 1px 2px;
	border: 1px solid var(--light-grey1);
	border-radius: 2px;
}

.bp-legend-header:hover {
	background: var(--light-blue);
	transition: all 0.2s ease;
}

.legend-dropdown nav .bp-nohover-state:hover {
	background: transparent;
}

.legend-dropdown {
	background: var(--white);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.101251); 
	-webkit-transition: max-height 0.3s linear;
    -moz-transition: max-height 0.3s linear;
    -ms-transition: max-height 0.3s linear;
    -o-transition: max-height 0.3s linear;
    transition: max-height 0.3s linear;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 1000;
    border-radius: 3px;
    border: 1px solid var(--light-grey1);
    width: 200px;
}

.bp-full-page-modal .bp-close-icon-circle:hover {
	background: var(--light-blue);
    transition: all 0.2s ease;
}

.bp-legend-header i {
	background: transparent;
	width: 15px;
    height: 15px;
    margin-left: 5px;
}

.bp-week-total-hour {
	display: inline-block;
    float: left;
    padding-top: 15px;
}

.legend-dropdown nav li span {
	padding-left: 10px;
    margin-top: 2px;
    font-weight: 600;
    color: var(--dark-grey2);
    font-size: 14px;
}

.bp-week-schedule-container:last-child {
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.legend-dropdown nav li {
	padding: 8px 10px;
}
.legend-dropdown nav li:first-child {
    padding-top: 16px;	
}

.legend-dropdown nav {
	list-style-type: none;
	padding-bottom: 12px;
}

.bp-circle {
	width: 15px;
    float: left;
    border-radius: 50%;
    height: 15px;
    margin-left: 5px;
}

@media ( max-width : 1023px) {
    .bp-week-name span {
        font-size: 20px;
        width: 100%
    }
    .bp-week-name p {
        font-size: 12px;
        padding-top: 15px;
        width: 100%
    }
}

@media (max-width: 767px) {
    .bp-progress-container {
        padding: 5px 30px;
        padding-bottom: 5px;
        border-right: none;
        border-left: 1px solid var(--light-grey1);
    }
    .border-top {
        border-top: 1px solid var(--light-grey1);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    .bp-week-schedule-container-tablet-view {
        display: none;
    }
    .bp-week-name {
        height: 140px;
        border-right: none;
    }
    
    .bp-week-name p {
        padding-top: 40px;
    }
    .MT5-mobile {
        margin-top: 5px !important;
    }
    .bp-progress-bar-container {
        height: 140px;
        border-right: 1px solid var(--light-grey1)
    }
    .bp-progress-bar-container > div {
        flex: 100%;
        margin-bottom: -3px;
    }
    .bp-progress-container {
        padding-bottom: 8px;
    }
    
    .bp-title-day-time {
        height: 47px;
        display: block;
        position: absolute;
        top: 13px;
        left: 5px;
        color: var(--light-grey);
        font-weight: 600;
    }
    .bp-progress-bar-container .progress {
        margin: 0;
    }
    .bp-progress-bar-container > .bp-progress-disabled:hover {
        border-right: none;
    }
    
    .bp-week-total-hour {
        flex: 1;
    }
    .bp-border-top {
        border-top: 1px solid var(--light-grey1);
    }
    
    .bp-legend {
        display: flex;
        justify-content: start;
        align-items: start;
        float: none;
        margin-top: 7px;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.bp-weeschedule-grid-backdrop {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 100;
}