<div class = "bp-autocomplete-Wrapper autocomplete_v2">
    <span class = "bp-autocomplete-image-icon">
    	<i ng-include = "getintialdata('Search')" class="bp-blue"></i>
	</span>
    <input type="text" id="autocomplete{{::sectionId}}" class = "bp-autocomplete-input" ng-class="ngClassName" placeholder="{{ 'start_typing' | translate }}" ng-keyup="keyPressed($event)" ng-blur="onBlurInputAction()" ng-model = "searchStr"/>
    <div class = "bp-autocomplete-dropdown-wrapper" ng-class="{'bp-autocomplete-wrapper-with-create-action': (createActionAvailableOnDropdown === true)}" 
    	ng-if="showDropdown" id = "{{::sectionId}}DropDownDiv" ng-class = "{' showing-results' : showCustomerResult}">
        <ul>
        	<li ng-if=searching id="entityInfo_Searching" class="bp-autocomplete-loading PL7">
                <div class="BP_GlobalSearch_loading-animated-background loading-icon">
                </div>
                <div class="BP_GlobalSearch_loading-animated-background loading-div">
                	
                </div>
            </li>
            <li ng-repeat = "customerInfo in results" id = "customerInfo_{{::$index}}"  ng-class="{'selected-row': $index == currentDropDownIndex}" ng-mousedown="selectResult(customerInfo, $event)">
                <div class="customer-icon"><i ng-include= "getintialdata('Customer')"  class="blue_3384FF"></i></div>
                <div class="customer-info">
                    <span class="bp-autocomplete-text">{{::customerInfo.Name}}</span>
                    <label  ng-if = "customerInfo.AdditionalInfoObj.Email != null && customerInfo.AdditionalInfoObj.Email != ''">Email:</label>
                    <span  ng-if = "customerInfo.AdditionalInfoObj.Email != null && customerInfo.AdditionalInfoObj.Email != ''" class = "bp-section-info">{{::customerInfo.AdditionalInfoObj.Email}}<span ng-if = "customerInfo.AdditionalInfoObj.HomeNumber != null && customerInfo.AdditionalInfoObj.HomeNumber != ''">,</span></span>  
                    <label ng-if = "customerInfo.AdditionalInfoObj.Phone != null && customerInfo.AdditionalInfoObj.Phone != ''">phone:</label>
                    <span ng-if = "customerInfo.AdditionalInfoObj.Phone != null && customerInfo.AdditionalInfoObj.Phone != ''" class = "bp-section-info">{{::customerInfo.AdditionalInfoObj.Phone}}</span>           
                </div>
                <div class = "customer-type">
                    <span class="bp-autocomplete-title">{{::customerInfo.AdditionalInfoObj.Type}}</span>
                </div>
            </li>
        </ul>
        <div class="create-action-btn" ng-if="createActionAvailableOnDropdown && !searching">
            <button class="btn bp-btn-normal bp-font-13"  ng-mousedown="openAddEditCustomerPopup()">{{'Create_new_customer' | translate}}</button>
        </div>
    </div>
    
    <div class = "bp-autocomplete-dropdown-wrapper"  ng-class="{'bp-autocomplete-wrapper-with-create-action': (createActionAvailableOnDropdown === true)}"
    	ng-if="results.length == 0 && isNoResults == true && !searching" id = "{{::sectionId}}DropDownDiv" ng-class = "{' showing-results' : showCustomerResult}">
        <ul class="M0">
            <li id = "entityInfo_NoResults" class="BP_angucomplete-row-NoResults-Msg">
                <div class="customer-info">
                	No results found
                </div>
            </li>
        </ul>
         <div class="create-action-btn" ng-if="createActionAvailableOnDropdown">
            <button class="btn bp-btn-normal bp-font-13" ng-mousedown="openAddEditCustomerPopup()">{{'Create_new_customer' | translate}}</button>
        </div>
    </div>
</div>