<div class = "bp-autocomplete-Wrapper bp-keyword-autocomplete-wrapper autocomplete_v2"
	ng-class="{'bp-border-blue': isSearchBoxFocussed, 'bp-disabled': isDisabled, 'bp-bg-light-grey2': isDisabled}">
	<div class="pull-left P12">
		<span class="">
		    <i ng-include = "getintialdata('Search')" class="gray_979797"></i>
		</span>
	</div>
	<div ng-if="selectedKeyword" class="pull-left bp-keyword-wrapper">
		<span>
			{{::selectedKeyword}}:
		</span>
		<i ng-include="getintialdata('Close')" class="bp-keyword-remove-icon blue_008DC1"  
	    	ng-click="clearSelectedKeyword()" id="removeKeywordBtn" >
		</i>
	</div>
	<div class="pull-left bp-keyword-autocomplete-input-wrapper" ng-class="{'no-keyword': !selectedKeyword}">
    	<input type="text" id="autocomplete{{::sectionId}}" class = "bp-autocomplete-input" placeholder="{{ 'start_typing' | translate }}" ng-focus="setInitialData()" ng-keyup="keyPressed($event)" ng-keydown="keyDown($event)" ng-model="searchStr" ng-disabled="isDisabled"
    		ng-class="{'PL2': !selectedKeyword}" />
    </div>
    <div class="bp-autocomplete-dropdown-wrapper" ng-if="showDropdown" id="{{::sectionId}}DropDownDiv" ng-class="{'showing-results' : showCustomerResult}">
        <ul>
        	<li ng-if=searching id="entityInfo_Searching" class="bp-autocomplete-loading PL7">
                <div class="BP_GlobalSearch_loading-animated-background loading-icon">
                </div>
                <div class="BP_GlobalSearch_loading-animated-background loading-div">
                	
                </div>
            </li>
        	<li ng-if="filteredKeywords.length > 0 && !selectedKeyword" id="entityKeyword_{{::$index}}" ng-repeat = "keyword in keywordsList | filter: searchStr as filteredKeywords" ng-mousedown="selectKeyword(keyword)" ng-class="{'selected-row': $index == currentDropDownIndex}"
        		class="PL7">
        		<div class="customer-icon keyword-icon"><i ng-include= "getintialdata(keywordNameToEntityObjectMap[keyword])"  class="white"></i></div>
                <div class="customer-info keyword-info">
                    <span>{{::keyword}}</span>
                </div>
        	</li>
            <li ng-if="results.length > 0" ng-repeat = "entityInfo in results" id = "entityInfo_{{::findReultsIndexWithFilteredKeywords($index)}}"  ng-class="{'selected-row': currentDropDownIndex == findReultsIndexWithFilteredKeywords($index)}" ng-click="selectResult(entityInfo)">
                <div class="customer-icon" ng-if="!(entityInfo.AdditionalInfoObj && entityInfo.AdditionalInfoObj.SearchName == 'Appointment Service Job Search')"><i ng-include= "getintialdata(entityInfo.Info, entityInfo.OverrideIconName)"  class="blue_3384FF"></i></div>
                <div class="customer-info">
                    <span ng-if="entityInfo.Info != 'Stock unit' && entityInfo.Info != 'Order unit' && (!entityInfo.AdditionalInfoObj || (entityInfo.AdditionalInfoObj && entityInfo.AdditionalInfoObj.SearchName != 'Appointment Service Job Search'))" class="bp-autocomplete-text">{{::entityInfo.Name}} 
                    	<span ng-if = "entityInfo.Info == 'Part'">- {{::entityInfo.Description}}</span>
                    </span>
                    <span ng-if = "entityInfo.Info == 'Part' && !entityInfo.AdditionalInfoObj.NonInventoryPart" class = "bp-section-info bp-bold-font">{{::entityInfo.AdditionalInfoObj.VendorName}}</span>
                    <span ng-if = "entityInfo.Info == 'Part' && !entityInfo.AdditionalInfoObj.NonInventoryPart && entityInfo.AdditionalInfoObj.VendorName"> - </span>
                    <span ng-if = "entityInfo.Info == 'Part' && !entityInfo.AdditionalInfoObj.NonInventoryPart" class = "bp-section-info">{{::entityInfo.AdditionalInfoObj.AvailableQty}} available</span>
                    <span ng-if = "entityInfo.Info == 'Part' && !entityInfo.AdditionalInfoObj.NonInventoryPart && entityInfo.AdditionalInfoObj.Location"> - </span>
                    <span ng-if = "entityInfo.Info == 'Part' && !entityInfo.AdditionalInfoObj.NonInventoryPart" class = "bp-section-info">{{::entityInfo.AdditionalInfoObj.Location}}</span>
                    <!--<span ng-if = "entityInfo.Info == 'Part' && !entityInfo.AdditionalInfoObj.NonInventoryPart">Qty available:</span>
                    <span ng-if = "entityInfo.Info == 'Part' && !entityInfo.AdditionalInfoObj.NonInventoryPart" class = "bp-section-info">{{::entityInfo.AdditionalInfoObj.AvailableQty}}</span> -->
                </div>
                <div ng-if="entityInfo.Info == 'Stock unit' || entityInfo.Info == 'Order unit'" class="customer-info">
                    <span class="bp-autocomplete-text">{{::entityInfo.AdditionalInfoObj.FormattedName}}</span>
                    <span class="bp-section-info">Unit number:</span>
                    <span class="bp-section-info">{{::entityInfo.AdditionalInfoObj.StockNumber}}</span>
                    <span class="bp-section-info"> - VIN:</span>
                    <span class="bp-section-info">{{::entityInfo.AdditionalInfoObj.VINNumber}}</span>
                </div>
               <div ng-if="entityInfo.AdditionalInfoObj && entityInfo.AdditionalInfoObj.SearchName == 'Appointment Service Job Search'" class="customer-info">
                    <span   class="bp-autocomplete-text">{{::entityInfo.Name}} - {{::entityInfo.Description}}</span>
                    <span class="bp-section-info" ng-bind-html="entityInfo.AdditionalInfoObj.CustomerName | highlight:searchStr">{{::entityInfo.AdditionalInfoObj.CustomerName}}</span>
                    <span class="bp-section-info"  ng-bind-html="entityInfo.AdditionalInfoObj.UnitDesc | highlight:searchStr"  ng-if="entityInfo.AdditionalInfoObj.UnitDesc"> - {{::entityInfo.AdditionalInfoObj.UnitDesc}}</span>
                </div>
                <div class = "customer-type">
                    <span class="bp-autocomplete-title">{{::entityInfo.Info}}</span>
                </div>
            </li>
            <li ng-if="filteredKeywords.length == 0 && results.length == 0 && isNoResults == true && !searching" id="entityInfo_NoResults" class="BP_angucomplete-row-NoResults-Msg">
                <div class="customer-info">
                	No results found
                </div>
            </li>
        </ul>
    </div>
</div>