<div class = "bp-autocomplete-Wrapper autocomplete_v2">
    <span class = "bp-autocomplete-image-icon">
    	<i ng-include = "getintialdata('down_arrow')" class="bp-blue bp-cursor-pointer svg_width_2px" ng-click = "setFocus('autocomplete' + sectionId)"></i>
	</span>
                                    
    <input type="text" id="autocomplete{{::sectionId}}" class = "bp-autocomplete-input" placeholder="{{'Label_Select' | translate}}" ng-keyup="keyPressed($event)" ng-model = "searchStr" ng-focus="setInitialData()" readonly="readonly" ng-disabled="isDisabled" />
    <div class = "bp-autocomplete-dropdown-wrapper" ng-if="showDropdown" id = "{{::sectionId}}DropDownDiv" ng-class = "{' showing-results' : showCustomerResult}">
        <ul>
            <li ng-repeat = "jobType in results" id = "jobType_{{::$index}}"  ng-class="{'selected-row': $index == currentDropDownIndex}" ng-click="selectResult(jobType)">
                <div class="jobType-info">
                    <span class="bp-autocomplete-text">{{::jobType.CodeLabel}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>